<div class="container">

	<div class="col-xs-offset-2 col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{ "Entity_createRepport.title"| translate}}</b>
			</div>
			<div class="panel-body">
				<label class="error col-lg-offset-3 alert-danger">{{aptAptmtRepportCreateCtrl.error}}
				</label>
				<form name="createAptAptmtRepportForm" class="form-horizontal"
					novalidate="">

					<div class="form-group">
						<label class="col-lg-4 ">{{"AptAptmt_aptmtnNbr_description.text"|translate}}
							:</label>
						<div class="col-lg-8"
							ng-class="{ 'has-error' : createAptAptmtRepportForm.aptmtIdentify.$invalid }">
							<input ng-model="aptAptmtRepportCreateCtrl.aptAptmt.aptmtnNbr"
								name="aptmtIdentify" disabled class="form-control" required>

							<p
								ng-show="createAptAptmtRepportForm.aptAptmtRepport.$error.required"
								class="help-block">le numero est requis !</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 ">{{"AptAptmt_title_description.title"|translate}}
							:</label>
						<div class="col-lg-8"
							ng-class="{ 'has-error' : createAptAptmtRepportForm.aptmtTitle.$invalid }">
							<input ng-model="aptAptmtRepportCreateCtrl.aptAptmt.title"
								name="aptmtTitle" disabled class="form-control" required>

							<p
								ng-show="createAptAptmtRepportForm.aptAptmtRepport.$error.required"
								class="help-block">le title est requis !</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 ">{{"AptAptmtReport_title_description.title"|translate}}
							:</label>
						<div class="col-lg-8"
							ng-class="{ 'has-error' : createAptAptmtRepportForm.title.$invalid }">
							<input ng-model="aptAptmtRepportCreateCtrl.AptAptmtRepport.title"
								name="title" class="form-control" required>
							<p
								ng-show="createAptAptmtRepportForm.aptAptmtRepport.$error.required"
								class="help-block">le title du rapport est requis !</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 ">
							{{"AptAptmtReport_description.text"|translate}}:</label>
						<div class="col-lg-8"
							ng-class="{ 'has-error' :createAptAptmtRepportForm.description.$invalid }">
							<textarea type="text"
								ng-model="aptAptmtRepportCreateCtrl.AptAptmtRepport.description"
								name="description" class="form-control" required> </textarea>
							<p
								ng-show="createAptAptmtRepportForm.aptAptmtRepport.$error.required"
								class="help-block">la description est requise !</p>
						</div>
					</div>


					<div class="form-group">
						<label class="col-lg-4"> </label>
						<div class="col-lg-8">
							<a class="btn-danger btn" href="#/aptaptmtReport"><i
								class="glyphicon glyphicon-remove"></i> {{"Entity_cancel.title"
								| translate }}</a>
							<button ng-click="aptAptmtRepportCreateCtrl.create();"
								ng-disabled="createAptAptmtRepportForm.$invalid"
								class="btn-success btn">
								<i class="glyphicon glyphicon-save"></i> {{"Entity_save.title" |
								translate }}
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>

	</div>


</div>