<section class="" ng-controller="CatalArtManufSuppController as vmArtManuf" data-ng-init="vmArtManuf.init()" >

  <div class="panel panel-primary">
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ng-click="vmArtManuf.createForm({})">
          <i class="glyphicon glyphicon-open"></i>          {{'CatalArtManufSupp.new.title'|translate}}

        </a>
      </div>

      <table  class="table table-condensed table-striped">
          <thead>
              <th>{{'CatalArtManufSupp.artIdentif' | translate}}</th>
              <th>{{'CatalArtManufSupp.msIdentif' | translate}}</th>
              <th>{{'CatalArtManufSupp.msType' | translate}}</th>
              <th>{{'CatalArtManufSupp.returnDays' | translate}}</th>
              <th>{{'CatalArtManufSupp.pppu' | translate}}</th>
          </thead>
          <tr ng-repeat="catalArtManufSupp in vmArtManuf.data">
              <td>{{catalArtManufSupp.artIdentif}}</td>
              <td>{{catalArtManufSupp.msIdentif}}</td>
              <td>{{catalArtManufSupp.msType}}</td>
              <td>{{catalArtManufSupp.returnDays}}</td>
              <td>{{catalArtManufSupp.pppu}}</td>

              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ng-click="vmArtManuf.showForm(catalArtManufSupp)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ng-click="vmArtManuf.editForm(catalArtManufSupp)">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vmArtManuf.remove(catalArtManufSupp)" item="catalArtManufSupp">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
