<section class="" ng-controller="CatalPicMappingController as vmPic" data-ng-init="vmPic.init()">

  <div class="panel panel-primary">
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ng-click="vmPic.createForm({})">
          <i class="glyphicon glyphicon-open"></i>       {{'CatalPicMapping.new.title'|translate}}

        </a>
      </div>

      <table class="table table-condensed table-striped">
          <thead>
          	<!-- 
              <th>{{'CatalPicMapping.artIdentif' | translate}}</th>
          	 -->
              <th>{{'CatalPicMapping.code' | translate}}</th>
              <th>{{'CatalPicMapping.codeOrigin' | translate}}</th>
              <th>{{'CatalPicMapping.bpName' | translate}}</th>
              <th>{{'CatalPicMapping.unitPrice' | translate}}</th>
              <th>{{'CatalPicMapping.currIso3' | translate}}</th>
              <th>{{'CatalPicMapping.vatRate' | translate}}</th>
              <th>{{'CatalPicMapping.returnDays' | translate}}</th>
              <th>{{'CatalPicMapping.warrantyMonths' | translate}}</th>
          </thead>
          <tr ng-repeat="catalPicMapping in vmPic.data">
          	<!-- 
              <td>{{catalPicMapping.artIdentif}}</td>
          	 -->
              <td>{{catalPicMapping.code}}</td>
              <td>{{('CatalCipOrigine_' + catalPicMapping.codeOrigin + '_description') | translate}}</td>
              <td>{{catalPicMapping.bpName}}</td>
              <td>{{catalPicMapping.unitPrice}}</td>
              <td>{{catalPicMapping.currIso3}}</td>
              <td>{{catalPicMapping.vatRate}}</td>
              <td>{{catalPicMapping.returnDays}}</td>
              <td>{{catalPicMapping.warrantyMonths}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ng-click="vmPic.showForm(catalPicMapping)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ng-click="vmPic.editForm(catalPicMapping)">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vmPic.remove(catalPicMapping)" item="catalPicMapping">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
