<section class="" ng-controller="CatalPicMappingController as vm" data-ng-init="vm.toViewCatalPicMapping()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			CatalPicMapping View
    </div>
    <div class="panel-body">

        <form novalidate>
            <formly-form model="vmModal.model" fields="vm.formFields">
            </formly-form>
        </form>

        <hr/>
        <div>

            <a class="btn btn-primary" ng-click="vmModal.cancel()">
                <i class="glyphicon glyphicon-chevron-left"></i> Back
            </a>
        </div>

    </div>
  </div>

</section>
