<div class="row">
        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{"Entity_search.title"|translate}}</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="dateMin">{{"PrcmtProcOrder_poNbr_description.title"|translate}}</label>
                                    <div class="">
                                        <input type="text" ng-model="prcmtOrderCtrl.searchInput.entity.poNbr" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="dateMin">{{"From"|translate}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                               id="dateMin" ng-model="prcmtOrderCtrl.searchInput.dateMin" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="dateMax">{{"To"|translate}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                               id="dateMax" ng-model="prcmtOrderCtrl.searchInput.dateMax" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button  ng-click="prcmtOrderCtrl.handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="prcmtOrderCtrl.handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>{{"Entity_Result.title"|translate}}</b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div  class="row">
                        <a class="btn btn-primary pull-right margBott10" href="#/PrcmtOrders/new" >
                            <i class="glyphicon-plus"></i> {{'Entity_create.title'|translate}}
                        </a>

                    </div>
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                            <tr>
                                <th>{{'PrcmtProcOrder_poNbr_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_orderDt_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_supplier_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_poCur_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_netPPTaxIncl_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_poType_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_poTriggerMode_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_poStatus_description.title'| translate}}</th>
                                <th>{{'PrcmtProcOrder_ordrngOrgUnit_description.title'| translate}}</th>

                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="prcmtOrder in prcmtOrderCtrl.prcmtOrders" >
                                <td>{{prcmtOrder.poNbr}}</td>
                                <td>{{prcmtOrder.orderDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                                <td>{{prcmtOrder.supplier}}</td>
                                <td>{{prcmtOrder.poCur}}</td>
                                <td>{{prcmtOrder.netPPTaxIncl}}</td>
                                <td>{{prcmtOrder.poType}}</td>
                                <td>{{prcmtOrder.poTriggerMode}}</td>
                                <td>{{prcmtOrder.poStatus}}</td>
                                <td>{{prcmtOrder.ordrngOrgUnit}}</td>
                                <td><a ng-click="prcmtOrderCtrl.showPage(prcmtOrder)" ><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                <td><a href="#/PrcmtOrders/edit/{{prcmtOrder.id}}" ng-show="prcmtOrderCtrl.showEdit(prcmtOrder.poStatus)" ><i class="glyphicon glyphicon-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul  class="pull-right">
                        <pagination  total-items="prcmtOrderCtrl.totalItems" items-per-page="prcmtOrderCtrl.itemPerPage"  class="pagination-sm" ng-model="prcmtOrderCtrl.currentPage" ng-change="prcmtOrderCtrl.paginate()"></pagination>
                    </ul>
                </div>

            </div>
        </div>
</div>
