<div>
    <div class="well">
        <h4>
            <a>{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.poNbr}}</a> of {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.orderDt | date:'dd-MM-yyyy'}},
            <b>{{"PrcmtProcOrder_netAmtToPay_description.title" | translate}}:</b> {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.netAmtToPay}} cfa,
            <b>{{"PrcmtProcOrder_netPPTaxIncl_description.title" | translate}}:</b> {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.netPPTaxIncl}} cfa,
            <b>{{"PrcmtProcOrder_creatingUsr_description.title" | translate}}: </b> {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.creatingUsr}},
            <b> Status: </b> <label class="label label-primary">{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.poStatus}}</label>
            <label class="label label-warning col-xs-offset-1">{{prcmtDeliveryAddItemCtlr.running}}</label>
        </h4>
        <p class="">
            <a class=" btn btn-default" href="#/PrcmtOrders"  type="button">Cancel</a>
            <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.transform()" ng-show="!prcmtOrderShowCtlr.closeStatus" type="button">{{'transform_to_delivery' | translate}}</button>
            <a class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.handlePrintRequestEvent()" ng-show="!prcmtOrderShowCtlr.closeStatus" ><i class="glyphicon glyphicon-print" ></i> {{'print' | translate}}</a>
            <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.save()" ng-show="prcmtOrderShowCtlr.closeStatus" type="button">{{'save' | translate}}</button>
            <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.close()" ng-show="prcmtOrderShowCtlr.closeStatus" type="button">{{'save_and_close' | translate}}</button>
        </p>
    </div>
    <div class="panel panel-default" ng-show="prcmtOrderShowCtlr.closeStatus" >
        <div class="panel-heading"><b>{{'Add_Procurement_Order_Item' | translate}}</b> </div>
        <div class="panel-body">
            <form name="PrcmtProcOrderItemForm" id="PrcmtProcOrderItemForm" novalidate >
                <table class="table-bordered" >
                    <thead>
                    <tr>
                        <th class="clo-lg-2">CIP</th>
                        <th class="col-lg-3">Designation</th>
                        <th>Qte Stock</th>
                        <th>Qte</th>
                        <th>Qte Gratuite</th>
                        <th>prix Achat</th>
                        <th><a ng-click="prcmtOrderShowCtlr.showMore()" class="pointer-element" ng-show="!prcmtOrderShowCtlr.show" ><i class="glyphicon glyphicon-plus"></i> {{'more' | translate}}</a>
                            <a ng-click="prcmtOrderShowCtlr.showLess()" class="pointer-element" ng-show="prcmtOrderShowCtlr.show" ><i class="glyphicon glyphicon-minus"></i> {{'less' | translate}}</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <input type="hidden" value="{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.poNbr}}" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.poNbr" >
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.artPic.$invalid }" >
                                <input type="text" ng- class="form-control" select-on-click name="artPic" id="artPic" required autocomplete="off" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.artPic"
                                       typeahead="article as article.displayableStr for article in prcmtOrderShowCtlr.loadArticlesByCipLike($viewValue)"
                                       typeahead-loading="loading" typeahead-template-url="views/PrcmtDelivery/CatalTypeaheadTemplate.html" typeahead-on-select='prcmtOrderShowCtlr.onSelect($item, $model, $label)' >
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.artName.$invalid }" >
                                <input type="text" class="form-control" select-on-click focus required id="artName" autocomplete="off" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.artName"
                                       typeahead="article as article.displayableStr for article in prcmtOrderShowCtlr.loadArticlesByNameLike($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='prcmtOrderShowCtlr.onSelect($item, $model, $label)' name="artName" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" disabled ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.stkQtyPreOrder" ></td>
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.qtyOrdered.$invalid }" >
                                <input type="text" class="form-control" required name="qtyOrdered" id="qtyOrdered" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.qtyOrdered" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.freeQty" ></td>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="pppuPreTax" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.pppuPreTax" >
                            </div>
                        </td>
                        <td><button class="btn btn-primary" ng-enter="prcmtOrderShowCtlr.addItem()" ng-disabled="PrcmtProcOrderItemForm.$invalid" ng-click="prcmtOrderShowCtlr.addItem()" ><i class="glyphicon glyphicon-plus"></i> Add</button></td>

                    </tr>
                    </tbody>
                </table>
                <div ng-show="prcmtOrderShowCtlr.show" >
                    <table class="table-bordered" >
                        <thead>
                        <tr>
                            <th class="">{{'PrcmtPOItem_supplier_description.title' | translate}}</th>
                            <th>{{'PrcmtPOItem_rebate_description.title' | translate}}</th>
                            <th>{{'PrcmtPOItem_vatPct_description.title' | translate}}</th>
                            <th>{{'PrcmtPOItem_vatAmount_description.title' | translate}} Vente</th>
                            <th>{{'PrcmtDelivery_rcvngOrgUnit_description.title' | translate}}</th>
                            <th>Section</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div>
                                    <input type="text" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.supplier" id="supplier" name="supplier" class="form-control"
                                           autocomplete="off" typeahead="businessPartner.ptnrNbr as businessPartner.cpnyName for businessPartner in prcmtOrderShowCtlr.loadBusinessPartner($viewValue)"
                                           typeahead-loading="loading" placeholder="find a Supplier/Manufacturer" value="{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.supplier}}">
                                </div>
                            </td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.rebateAmt" ></td>
                             <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.vatPct"></td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.vatAmount" ></td>
                            <td><input type="text" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.rcvngOrgUnit"  class="form-control"
                                       autocomplete="off" typeahead="orgUnit.identif as orgUnit.fullName for orgUnit in prcmtOrderShowCtlr.loadOrgUnit($viewValue)"
                                       typeahead-loading="loading" placeholder="find an organisation unit" value="{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtProcOrder.rcvngOrgUnit}}" >
                            </td>
                            <td>
                                <input type="text" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.prcmtPOItem.strgSection"  class="form-control"
                                       autocomplete="off" typeahead="section.identif as section.name for section in prcmtOrderShowCtlr.loadstkSection($viewValue)"
                                       typeahead-loading="loading" placeholder="find a section" >
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{'PrcmtPOItem_description.title' | translate}}</b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="col-lg-2" >CIP</th>
                    <th class="col-lg-3" >Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte</th>
                    <th>Qte Gratuite</th>
                    <th>prix Achat</th>
                    <th>{{'PrcmtPOItem_supplier_description.title' | translate}}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderItemHolder in prcmtOrderShowCtlr.prcmtOrderHolder.poItems" >
                    <td>{{orderItemHolder.prcmtPOItem.artPic}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.artName}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.stkQtyPreOrder}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.qtyOrdered}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.freeQty}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.pppuPreTax}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.supplier}}</td>
                    <td><a ng-show="prcmtOrderShowCtlr.closeStatus" ng-click="prcmtOrderShowCtlr.editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-show="prcmtOrderShowCtlr.closeStatus" ng-click="prcmtOrderShowCtlr.deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>