<section class="mainbar" id="stockArticlelotPanel">

<div class="panel panel-primary">
    <div class="panel-heading">
      <span data-ng-bind="'app.core.list.title' | translate"></span> <span data-ng-bind="'StockArticlelots.title' | translate"></span>
    </div>
    <div class="panel-body">
      <table data-st-table="vm.data.list" data-st-pipe="vm.callServer" class="table table-bordered  table-striped pointer-element">
          <thead>
	          <tr>
		          <th><span data-ng-bind="'StockArticlelot.lotPic.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.artPic.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.name.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.prcdngStkQty.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.stkMvntQty.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.stockQty.title' | translate"></span></th>
<!-- 		          <th><span data-ng-bind="'StockArticlelot.deliveredTrgtQty.title' | translate"></span></th> -->
		          <th><span data-ng-bind="'StockArticlelot.origProcs.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.qtyDt.title' | translate"></span></th>
	          </tr>
			<tr>
				<th><input data-st-search="lotPic" class="input-sm form-control" type="search"/></th>
				<th><input data-st-search="cntnrIdentif" class="input-sm form-control" type="search"/></th>
				<th><input data-st-search="artName" class="input-sm form-control" type="search"/></th>
				<th><input data-st-search="prcdngStkQty" class="input-sm form-control" type="search"/></th>
				<th><st-date-search predicate="stkMvntQty" selected-date="query.expirDt"></st-date-search></th>
				<th><input data-st-search="stockQty" class="input-sm form-control" type="search"/></th>
<!-- 				<th><input data-st-search="" class="input-sm form-control" type="search"/></th> FIXME -->
				<th><input data-st-search="origProcs" class="input-sm form-control" type="search"/></th>
				<th><input data-st-search="qtyDt" class="input-sm form-control" type="search"/></th>
    		</tr>
          </thead>
          <tbody>
	          <tr data-ng-repeat="stockArticlelot in vm.data.list">
	              <td><span data-ng-bind="stockArticlelot.lotPic"></span></td>
	              <td><span data-ng-bind="stockArticlelot.cntnrIdentif"></span></td>
	              <td><span data-ng-bind="stockArticlelot.artName"></span></td>
	              <td><span data-ng-bind="stockArticlelot.prcdngStkQty"></span></td>
	              <td><span data-ng-bind="stockArticlelot.stkMvntQty"></span></td>
	              <td><span data-ng-bind="stockArticlelot.stockQty"></span></td>
<!-- 	              <td><span data-ng-bind="stockArticlelot."></span></td>FIXME Qte lot livree -->
	              <td><span data-ng-bind="stockArticlelot.origProcs"></span></td>
	              <td><span data-ng-bind="stockArticlelot.qtyDt | date:'dd-MM-yyyy'"></span></td>
                  <!-- <td>
                     <div class="table-actions">
                          <a class="btn btn-default" title="{{'app.core.view.title' | translate}}" href="#/stock-articlelot/{{stockArticlelot.id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                          </a>
                         <a class="btn btn-default" title="print" ng-click="printBarcodeExcel(stockArticlelot.lotPic)">
                         <span class="glyphicon glyphicon-print"></span>
                     </a>
                      </div>
                  </td>-->
              </tr>
          </tbody>
          <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <div data-st-pagination="" data-st-items-by-page="vm.itemsByPage"></div>
                </td>
            </tr>
        </tfoot>
      </table>
    </div>
 </div>

</section>
