<label>before</label>
<div class="input-group">
	<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" data-ng-model="before" is-open="isBeforeOpen" close-text="Close" />
	<span class="input-group-btn">
		<button type="button" style="height:34px;" class="btn btn-default" data-ng-click="openBefore($event)">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</div>

<label>after</label>
<div class="input-group">
	<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
		data-ng-model="after" is-open="isAfterOpen" close-text="Close" />
		<span class="input-group-btn">
		<button type="button" style="height:34px;" class="btn btn-default" data-ng-click="openAfter($event)">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</div>