<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{bpPtnrCtgryUtils.translations['Entity_show.title']}}</b> </div>
            <div class="panel-body">
                <label class="error alert-danger" >{{error}} </label>
                <form  name="BpPtnrCtgryForm" class="form-horizontal" novalidate="">
                       <div class="form-group">
                           <label class="col-lg-2">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_ctgryCode_description.title']}} :</label>
                           <div class="col-lg-4" ng-class="{ 'has-error' : BpPtnrCtgryForm.ctgryCode.$invalid }" >
                               <input type="text" ng-model="bpPtnrCtgry.ctgryCode" name="ctgryCode" class="form-control" disabled >
                           </div>
	                        <label class="col-lg-2">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_ptnrRole_description.title']}} :</label>
	                        <div class="col-lg-4" ng-class="{ 'has-error' : BpPtnrCtgryForm.ptnrRole.$invalid }" >
	                            <input value="{{bpPtnrCtgryUtils.ptnrRole18nMsgTitleValue(bpPtnrCtgry.ptnrRole)}}" type="text" name="ptnrRole" class="form-control" disabled >
	                        </div>
                    	</div>
                        <div class=" form-group">
	                        <label class="col-lg-2 ">{{bpPtnrCtgryUtils.translations['BpPtnrCtgryDtls_name_description.title']}} :</label>
	                        <div class="col-lg-4" >
		                  		<input type="text" ng-model="bpPtnrCtgry.ctgryDtls.name" name="name" class="form-control" disabled>
	                        </div>
	                        <label class="col-lg-2 ">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_parentCode_description.title']}} :</label>
	                        <div class="col-lg-4" >
		                  		<input type="text" ng-model="bpPtnrCtgry.parentCtgryDtls.name" name="parentCode" class="form-control" disabled>
	                        </div>
	                    </div>
                </form>
                <div  class="row ">
                    <tabset justified="false" >
                        <tab heading="{{bpPtnrCtgryUtils.translations['BpPtnrCtgryDtls_description.title']}}"
                        	select="tabSelected('bpPtnrCtgryDtls')" active="bpPtnrCtgryDtlsActive">
                            <br/>
                            <div ng-include="'views/BpPtnrCtgry/BpPtnrCtgryDtlss.html'" />
                        </tab>
                        <tab heading="{{bpPtnrCtgryUtils.translations['BpPtnrContract_description.title']}}"
                        	select="tabSelected('bpCtgryContract')" active="bpCtgryContractActive">
                            <br/>
                            <div ng-include="'views/BpPtnrCtgry/BpCtgryContracts.html'" />
                        </tab>
                    </tabset>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-3">
                        <a class="btn-default btn" ng-click="previous()" ><i class="glyphicon glyphicon-chevron-left"></i> {{bpPtnrCtgryUtils.translations['Entity_previous.title']}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn-danger btn" href="#/BpPtnrCtgrys" ><i class="" ></i> {{bpPtnrCtgryUtils.translations['Entity_list.title']}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn-default btn" ng-click="next()" >{{bpPtnrCtgryUtils.translations['Entity_next.title']}} <i class="glyphicon glyphicon-chevron-right" ></i></a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn-primary btn"  ng-click="edit()"><i class="glyphicon glyphicon-edit"></i> {{bpPtnrCtgryUtils.translations['Entity_edit.title']}}</a>
                    </div>
                </div>

            </div>
        </div>
</div>