<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      {{'app.core.list.title' | translate}} {{'StkMvnts.title' | translate }}
    </div>
    <div class="panel-body">

      <!--<div class="pull-right">
        <a type="button" class="btn btn-success" href="/stk-mvnt/create">
          <i class="glyphicon glyphicon-open"></i> {{'app.core.new.title' | translate}} {{'StkMvnt.title' | translate}}
        </a>
      </div>-->
        <div class="clear">
        
        </div>

      <table class="table table-condensed table-striped">
          <thead>
                  <th>{{'StkMvnt.code.title' | translate}}</th>
                  <th>{{'StkMvnt.lotPic.title' | translate}}</th>
                  <th>{{'StkMvnt.artPic.title' | translate}}</th>
                  <th>{{'StkMvnt.section.title' | translate}}</th>
                  <th>{{'StkMvnt.acsngUser.title' | translate}}</th>
                  <th>{{'StkMvnt.acsngDt.title' | translate}}</th>
                  <th>{{'StkMvnt.mvntType.title' | translate}}</th>
                  <th>{{'StkMvnt.mvntOrigin.title' | translate}}</th>
                  <th>{{'StkMvnt.mvntDest.title' | translate}}</th>
          </thead>
          <tr dir-paginate="stkMvnt in vm.data.list | itemsPerPage: vm.pagination.itemsPerPage" 
              total-items="vm.data.total" 
              current-page="vm.pagination.current">
              <td>{{stkMvnt.identif}}</td>
              <td>{{stkMvnt.lotPic}}</td>
              <td>{{stkMvnt.artPic}}</td>
              <td>{{stkMvnt.section}}</td>
              <td>{{stkMvnt.acsngUser}}</td>
              <td>{{stkMvnt.acsngDt}}</td>
              <td>{{stkMvnt.mvntType}}</td>
              <td>{{stkMvnt.mvntOrigin}}</td>
              <td>{{stkMvnt.mvntDest}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="{{'app.core.view.title' | translate}}" href="#/stk-mvnt/{{stkMvnt.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="{{'app.core.edit.title' | translate}}" href="#/stk-mvnt/{{stkMvnt.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                  </div>
              </td>
             </tr>
      </table>
      <div class="pull-right">    
        <dir-pagination-controls on-page-change="vm.paginate(newPageNumber)" 
                                 boundary-links="true"
                                 max-size="vm.pagination.maxSize">
        </dir-pagination-controls>
      </div> 

    </div>
  </div>

</section>
