<section class="mainbar" data-ng-init="vm.toViewStkMvnt()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			{{'app.core.view.title' | translate}} {{'StkMvnt.title' | translate}}
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.stkMvnt" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <!--<a class="btn btn-success" href="/stk-mvnt/{{vm.stkMvnt.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> {{'app.core.edit.title' | translate}}
        </a>-->
        <!--<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.stkMvnt">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>-->
        <a class="btn btn-primary" href="/stk-mvnt">
          <i class="glyphicon glyphicon-list"></i> {{'app.core.list.title' | translate}} {{'StockSections.title' | translate }}
        </a>
      </div>

    </div>
  </div>

</section>
