<div class="form-horizontal">
    <h3>Create a new CdrVchrHstry</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/CdrVchrHstrys/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for CdrVchrHstrys</h3>
    <form id="CdrVchrHstrySearch" class="form-horizontal">
    <div class="control-group">
        <label for="vchrNbr" class="control-label">Vchr Nbr</label>
        <div class="controls">
            <input id="vchrNbr" name="vchrNbr" type="text" ng-model="search.vchrNbr" placeholder="Enter the CdrVchrHstry Vchr Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="cdrNbr" class="control-label">Cdr Nbr</label>
        <div class="controls">
            <input id="cdrNbr" name="cdrNbr" type="text" ng-model="search.cdrNbr" placeholder="Enter the CdrVchrHstry Cdr Nbr"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Vchr Nbr</th>
                <th>Cdr Nbr</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/CdrVchrHstrys/edit/{{result.id}}">{{result.vchrNbr}}</a></td>
                <td><a href="#/CdrVchrHstrys/edit/{{result.id}}">{{result.cdrNbr}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>