<header ng-switch on="$location.path().indexOf('/SlsInvoices/new') > -1">
    <h3 ng-switch-when="true">Create SlsInvoice</h3>
    <h3 ng-switch-when="false">View or edit SlsInvoice</h3>
</header>
<form id="SlsInvoiceForm" name="SlsInvoiceForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.invceType.$invalid}">
        <label for="invceType" class="control-label">Invce Type</label>
        <div id="invceTypeControls" class="controls">
            <input id="invceType" name="invceType" type="text" required ng-model="slsInvoice.invceType" placeholder="Enter the SlsInvoice Invce Type"></input>
            <span class="help-inline" ng-show="SlsInvoiceForm.invceType.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.invceNbr.$invalid}">
        <label for="invceNbr" class="control-label">Invce Nbr</label>
        <div id="invceNbrControls" class="controls">
            <input id="invceNbr" name="invceNbr" type="text" required ng-model="slsInvoice.invceNbr" placeholder="Enter the SlsInvoice Invce Nbr"></input>
            <span class="help-inline" ng-show="SlsInvoiceForm.invceNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.soNbr.$invalid}">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div id="soNbrControls" class="controls">
            <input id="soNbr" name="soNbr" type="text" required ng-model="slsInvoice.soNbr" placeholder="Enter the SlsInvoice So Nbr"></input>
            <span class="help-inline" ng-show="SlsInvoiceForm.soNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.invceStatus.$invalid}">
        <label for="invceStatus" class="control-label">Invce Status</label>
        <div id="invceStatusControls" class="controls">
            <input id="invceStatus" name="invceStatus" type="text" required ng-model="slsInvoice.invceStatus" placeholder="Enter the SlsInvoice Invce Status"></input>
            <span class="help-inline" ng-show="SlsInvoiceForm.invceStatus.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.invceCur.$invalid}">
        <label for="invceCur" class="control-label">Invce Cur</label>
        <div id="invceCurControls" class="controls">
            <input id="invceCur" name="invceCur" type="text" ng-model="slsInvoice.invceCur" placeholder="Enter the SlsInvoice Invce Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.grossSPPreTax.$invalid}">
        <label for="grossSPPreTax" class="control-label">Gross SP Pre Tax</label>
        <div id="grossSPPreTaxControls" class="controls">
            <input id="grossSPPreTax" name="grossSPPreTax" type="text" ng-model="slsInvoice.grossSPPreTax" placeholder="Enter the SlsInvoice Gross SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.rebate.$invalid}">
        <label for="rebate" class="control-label">Rebate</label>
        <div id="rebateControls" class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="slsInvoice.rebate" placeholder="Enter the SlsInvoice Rebate"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.netSPPreTax.$invalid}">
        <label for="netSPPreTax" class="control-label">Net SP Pre Tax</label>
        <div id="netSPPreTaxControls" class="controls">
            <input id="netSPPreTax" name="netSPPreTax" type="text" ng-model="slsInvoice.netSPPreTax" placeholder="Enter the SlsInvoice Net SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.vatAmount.$invalid}">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div id="vatAmountControls" class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="slsInvoice.vatAmount" placeholder="Enter the SlsInvoice Vat Amount"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.netSPTaxIncl.$invalid}">
        <label for="netSPTaxIncl" class="control-label">Net SP Tax Incl</label>
        <div id="netSPTaxInclControls" class="controls">
            <input id="netSPTaxIncl" name="netSPTaxIncl" type="text" ng-model="slsInvoice.netSPTaxIncl" placeholder="Enter the SlsInvoice Net SP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.pymtDscntPct.$invalid}">
        <label for="pymtDscntPct" class="control-label">Pymt Dscnt Pct</label>
        <div id="pymtDscntPctControls" class="controls">
            <input id="pymtDscntPct" name="pymtDscntPct" type="text" ng-model="slsInvoice.pymtDscntPct" placeholder="Enter the SlsInvoice Pymt Dscnt Pct"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.pymtDscntAmt.$invalid}">
        <label for="pymtDscntAmt" class="control-label">Pymt Dscnt Amt</label>
        <div id="pymtDscntAmtControls" class="controls">
            <input id="pymtDscntAmt" name="pymtDscntAmt" type="text" ng-model="slsInvoice.pymtDscntAmt" placeholder="Enter the SlsInvoice Pymt Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.netSalesAmt.$invalid}">
        <label for="netSalesAmt" class="control-label">Net Sales Amt</label>
        <div id="netSalesAmtControls" class="controls">
            <input id="netSalesAmt" name="netSalesAmt" type="text" ng-model="slsInvoice.netSalesAmt" placeholder="Enter the SlsInvoice Net Sales Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.rdngDscntAmt.$invalid}">
        <label for="rdngDscntAmt" class="control-label">Rdng Dscnt Amt</label>
        <div id="rdngDscntAmtControls" class="controls">
            <input id="rdngDscntAmt" name="rdngDscntAmt" type="text" ng-model="slsInvoice.rdngDscntAmt" placeholder="Enter the SlsInvoice Rdng Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvoiceForm.netAmtToPay.$invalid}">
        <label for="netAmtToPay" class="control-label">Net Amt To Pay</label>
        <div id="netAmtToPayControls" class="controls">
            <input id="netAmtToPay" name="netAmtToPay" type="text" ng-model="slsInvoice.netAmtToPay" placeholder="Enter the SlsInvoice Net Amt To Pay"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsInvoice" name="saveSlsInvoice" class="btn btn-primary" ng-disabled="isClean() || SlsInvoiceForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsInvoice" name="deleteSlsInvoice" class="btn btn-danger" ng-show="slsInvoice.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>