<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <b>Prévisualisation</b>
                <b>{{slsInvoicesUtils.translations['SlsInvoice_description.title']}}</b> 
            </div>
            <div id="print-invoice" class="panel-body">
                <div class="row row-space">
                     <div class="col-lg-3" id="organisation">
                            <img ng-src="/adsales.client/img/adorsys.png" alt="logo" /> 
                     </div>
                     <div class="pull-right" style="margin-top:50px; margin-right:20px;">
                          <ul class="list-unstyled">
                            <li>M. Hsimo Franklin</li> 
                            <li>BP 5798 Douala</li>
                            <li>(+237)676699918</li>
                        </ul>
                     </div>
                </div>
                
                <div class="row-space"></div>
                
                <div class="row row-space">
                    <div class="col-lg-3" id="customer">
                        <ul class="list-unstyled">
                                 <li>Pharmacie Alliance</li>
                                 <li>Camp Yabassi, Akwa</li>
                                 <li>BP 237, Douala</li>
                                 <li>(+237)237789098</li>
                        </ul>
                    </div>
                    <div class="pull-right" style="margin-right:20px;" id="invoice-details">
                        <ul class="list-unstyled">
                            <li><b>Facture N<sup>o</sup></b>  {{slsInvoice.invceNbr}}</li> 
                            <li><b>Date de Facturation</b>  {{slsInvoicesUtils.formatDate(slsInvoice.invceDt, null)}}</li>
                            <li><b>Date d'échéance</b>   {{slsInvoicesUtils.actualDate(null)}}</li>
                        </ul>    
                    </div>
                </div>
                
                <div class="row-space"></div>
                
                <div class="row row-space">
                  <div class="col-lg-12">  
                    <div id="invoice-items">
                        <table class="table table-bordered table-striped">
                               <thead>
                                   <tr>
                                    <th>{{slsInvoicesUtils.translations['SlsInvceItem_artPic_description.title']}}</th>
                                    <th>{{slsInvoicesUtils.translations['SlsInvceItem_artName_description.title']}}</th>
                                    <th>{{slsInvoicesUtils.translations['SlsInvceItem_sppuPreTax_description.title']}}</th>
                                    <th>{{slsInvoicesUtils.translations['SlsInvceItem_qty_description.title']}}</th>
                                    <th>{{slsInvoicesUtils.translations['SlsInvceItem_netSPTaxIncl_description.title']}}</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="slsInvceItem in slsInvoice.slsInvceItems">
                                        <td>{{slsInvceItem.slsInvceItem.artPic}}</td>
                                        <td>{{slsInvceItem.slsInvceItem.artName}}</td>
                                        <td>{{slsInvceItem.slsInvceItem.sppuPreTax}}</td>
                                        <td>{{slsInvceItem.slsInvceItem.qty}}</td>
                                        <td>{{slsInvceItem.slsInvceItem.netSPTaxIncl}}</td>
                                    </tr>
                                    <tr>
                                       <td rowspan="4" colspan="3">
                                          <h2 class="text-right">TOTAUX: </h2>
                                       </td>
                                       <td colspan="2">
                                          <h5>
                                              {{slsInvoicesUtils.translations['SlsInvoice_netSPPreTax_description.title']}} :
                                              <span class="pull-right" style="font-weight: normal;">{{slsInvoice.netSPPreTax}}</span>
                                          </h5>
                                          
                                       </td>    
                                    </tr>
                                    <tr>
                                       <td colspan="2">
                                          <h5>
                                              {{slsInvoicesUtils.translations['SlsInvoice_vatAmount_description.title']}} :
                                              <span class="pull-right" style="font-weight: normal;">{{slsInvoice.vatAmount}}</span>
                                          </h5>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="2">
                                          <h5>
                                              {{slsInvoicesUtils.translations['SlsInvoice_pymtDscntPct_description.title']}} :
                                              <span ng-if="slsInvoice.pymtDscntPct == null" class="pull-right">0</span>              
                                              <span class="pull-right" style="font-weight: normal;">{{slsInvoice.pymtDscntPct}}</span>
                                          </h5>
                                          
                                       </td>
                                    </tr>
                                     <tr>
                                       <td colspan="2">
                                          <h5>
                                              {{slsInvoicesUtils.translations['SlsInvoice_holdingPct_description.title']}} :
                                              <span ng-if="slsInvoice.holdingPct == null" class="pull-right">0</span>              
                                              <span class="pull-right" style="font-weight: normal;">{{slsInvoice.holdingPct}}</span>
                                          </h5>
                                          
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="2">
                                          <h5>
                                              {{slsInvoicesUtils.translations['SlsInvoice_netSPTaxIncl_description.title']}} :
                                              <span class="pull-right" style="font-weight: normal;">{{slsInvoice.netSPTaxIncl}}</span>
                                          </h5>
                                       </td>
                                    </tr>
                                </tbody>
                           </table>
                      </div>
                    </div>    
                </div>
             </div>
            <div class="row">
                   
            </div>
            <div class="row row-space">
                    <div class="col-lg-12">
                        <button  ng-click="returnSlsInvce(slsInvoice)" id="print-button" class="btn btn-danger pull-left">
                            <i class="glyphicon glyphicon-chevron-left"></i>Retour a la facture
                        </button>
                        <button  ng-click="printPdf('print-invoice')" id="print-button" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-print"></i>Imprimer
                        </button>
                    </div>
                
            </div> 
        </div>
</div>