<div class="row">
        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{slsInvoicesUtils.translations['Entity_search.title']}}</b>
                        <b>{{slsInvoicesUtils.translations['SlsInvoices_description.title']}}</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_soNbr_description.text' | translate}}" tooltip-side="top" for="soNbr">{{slsInvoicesUtils.translations['SlsInvoice_soNbr_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="soNbr" ng-model="searchInput.entity.soNbr" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceNbr_description.text' | translate}}" tooltip-side="top" for="invceNbr">{{slsInvoicesUtils.translations['SlsInvoice_invceNbr_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="invceNbr" ng-model="searchInput.entity.invceNbr" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceDtFrom_description.text' | translate}}" tooltip-side="top" for="invceDtFrom">{{slsInvoicesUtils.translations['SlsInvoice_invceDtFrom_description.title']}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy HH:mm"
                                               id="invceDtFrom" ng-model="searchInput.invceDtFrom" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceDtTo_description.text' | translate}}" tooltip-side="top" for="invceDtTo">{{slsInvoicesUtils.translations['SlsInvoice_invceDtTo_description.title']}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy HH:mm"
                                               id="invceDtTo" ng-model="searchInput.invceDtTo" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label">Status</label>
                                    <div class="">
                                        <select id="soStatus" class="form-control" name="invceStatus" id="invceStatus" ng-model="searchInput.entity.invceStatus"
                                                ng-options="invceStatus.enumKey as slsInvoicesUtils.translations[invceStatus.translKey]
							                    	for invceStatus in slsInvoicesUtils.slsInvceStatus" >
                                            <option value=""/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                   <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvcePtnr_description.text' | translate}}" tooltip-side="top" for="ptnr">{{slsInvoicesUtils.translations['SlsInvcePtnr_description.title']}}</label>
                                   <div class="">
                                    <input type="text" name="ptnr" id="ptnr" ng-model="searchInput.ptnr" autocomplete="off" typeahead="ptnr as ptnr.fullName for ptnr in slsInvoicesUtils.loadPartnersByName($viewValue) | filter:$viewValue" typeahead-loading="loading" class="form-control">
                                   </div>
                                </div>
                            </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label" tooltips="" tooltip-title="{{'SlsInvoice_invcePaid_description.text' | translate}}" tooltip-side="top" for="invcePaid">{{slsInvoicesUtils.translations['SlsInvoice_invcePaid_description.title']}}</label>
                                            <select id="invcePymntStatus" name="invcePymntStatus" ng-model="searchInput.entity.invcePymntStatus" class="form-control" >
                                                <option value="CREDIT">CREDIT</option>
                                                <option value="AVANCE">AVANCE</option>
                                                <option value="PAYE">PAYE</option>
                                             </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceDelivered_description.text' | translate}}" tooltip-side="top" for="invceDelivered">{{slsInvoicesUtils.translations['SlsInvoice_invceDelivered_description.title']}}</label>
                                            <input type="checkbox" id="invceDelivered" name="invceDelivered" ng-model="searchInput.entity.invceDelivered" class="form-control" >
                                        </div>
                                    </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>{{slsInvoicesUtils.translations['Entity_Result.title']}}</b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div  class="row">
                        <a class="btn btn-primary pull-right margBott10" href="#/SlsInvoices/new" >
                           <i class="glyphicon-plus"></i> {{slsInvoicesUtils.translations['Entity_create.title']}}
                        </a>
                    </div>
                    <!--<div  class="row ">
                      <div class="col-lg-6 col-lg-offset-3">
                        <div class="dropdown col-lg-3">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <span>{{slsInvoicesUtils.translations['Entity_print.title']}}</span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PDF</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EXCEL</a></li>
                          </ul>
                        </div>
                        <div class="dropdown col-lg-3">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Partager
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Envoyer par email</a></li>
                          </ul>
                        </div>
                       </div>
                    </div>-->
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                             <div class="row">
                              <div class="col-lg-3">
                                 <input ng-model="q" id="search" class="form-control" placeholder="Recherche..."/>
                              </div> 
                             </div><br>
                            <tr>
                                <th class="text-center">
{{slsInvoicesUtils.translations['SlsInvoice_invceNbr_description.title']}}</th>
                                <th class="text-center">
{{slsInvoicesUtils.translations['SlsInvoice_soNbr_description.title']}}</th>
                                <th class="text-center">
{{slsInvoicesUtils.translations['SlsInvoice_invceStatus_description.title']}}</th>
                                <th class="text-center">
{{slsInvoicesUtils.translations['SlsInvoice_invceDt_description.title']}}</th>
                                <th class="text-center">{{slsInvoicesUtils.translations['SlsInvoice_netSPPreTax_description.title']}}</th>
                                <th class="text-center">{{slsInvoicesUtils.translations['SlsInvoice_netSPTaxIncl_description.title']}}</th>
                                <th class="text-center">{{slsInvoicesUtils.translations['SlsInvoice_holdingAmount_description.title']}}</th>
                                <th class="text-center">{{slsInvoicesUtils.translations['SlsInvoice_netAmtToPay_description.title']}}</th>
                                <th class="text-center">{{slsInvoicesUtils.translations['SlsInvoice_invcePaid_description.title']}}</th>
                                <th class="text-center">{{slsInvoicesUtils.translations['SlsInvoice_invceDelivered_description.title']}}</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="slsInvce in slsInvoices() | filter:q | itemsPerPage: itemPerPage()" >
                                <td>{{slsInvce.invceNbr}}</td>
                                <td>{{slsInvce.soNbr}}</td>
                                <td>{{slsInvoicesUtils.slsInvceStatusI18nMsgTitleValue(slsInvce.invceStatus)}}</td>
                                <td>{{slsInvoicesUtils.formatDate(slsInvce.invceDt, null)}}</td>
                                <td>{{slsInvce.netSPPreTax}}</td>
                                <td>{{slsInvce.netSPTaxIncl}}</td>
                                <td>{{slsInvce.holdingAmount}}</td>
                                <td>{{slsInvce.netAmtToPay}}</td>
                                <td>
                                    <label ng-show="slsInvce.invcePymntStatus=='PAYE'" class="label label-success">PAYE</label>
                                    <label ng-show="slsInvce.invcePymntStatus=='AVANCE'" class="label label-warning">AVANCE</label>
                                    <label ng-show="slsInvce.invcePymntStatus=='CREDIT'" class="label label-danger">CREDIT</label>
                                </td>
                                <td>
                                    <label ng-show="slsInvce.invceDelivered" class="label label-success">LIVRE</label>
                                    <label ng-show="!slsInvce.invceDelivered" class="label label-danger">NON LIVRE</label>
                                </td>
                                <td><a ng-show="slsInvce.invceStatus=='CLOSED' || slsInvce.invceStatus=='SUSPENDED'"  href="#/SlsInvoices/show/{{slsInvce.invceNbr}}" ><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                <td><a ng-show="slsInvce.invceStatus=='ONGOING' || slsInvce.invceStatus=='RESUMED'" href="#/SlsInvoices/edit/{{slsInvce.invceNbr}}" ><i class="glyphicon glyphicon-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                      </div>
                    <ul  class="pull-right">
                        <pagination  total-items="totalItems()" max-size="maxSize" boundary-links="true" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
                    </ul>
                </div>

            </div>
        </div>
</div>