<div>
    <table class="table table-bordered table-striped">
        <thead>
            <div class="row">
                <div class="col-lg-3">
                      <input ng-model="q" id="search" class="form-control" placeholder="Recherche..."/>
                </div> 
            </div><br>
        <tr>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_artPic_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_artName_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_qty_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_sppuPreTax_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_netSPPreTax_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_vatAmount_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_rebate_description.title']}}</th>
            <th>{{slsInvoicesUtils.translations['SlsInvceItem_netSPTaxIncl_description.title']}}</th>
        </tr>
        </thead>
        <tbody>
            <tr dir-paginate="slsInvceItem in slsInvoice.slsInvceItems | filter:q | itemsPerPage: itemPerPage()" current-page="currentPage">
                <td>{{slsInvceItem.slsInvceItem.artPic}}</td>
                <td>{{slsInvceItem.slsInvceItem.artName}}</td>
                <td>{{slsInvceItem.slsInvceItem.qty}}</td>
                <td>{{slsInvceItem.slsInvceItem.sppuPreTax}}</td>
                <td>{{slsInvceItem.slsInvceItem.netSPPreTax}}</td>
                <td>{{slsInvceItem.slsInvceItem.vatAmount}}</td>
                <td>{{slsInvceItem.slsInvceItem.rebate}}</td>
                <td>{{slsInvceItem.slsInvceItem.netSPTaxIncl}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
      <dir-pagination-controls max-size="maxSize" boundary-links="true" direction-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/SlsInvoice/dirPagination.tpl.html">
      </dir-pagination-controls>
    </div>
</div>