        <div class="panel panel-default">
            <p class="panel-heading no-collapse"><b>{{'SlsSOPtnr_description.title' | translate}}</b> </p>
            <div class="panel-body">
            <form name="SlsSOPtnrForm" novalidate>
                <div class="col-lg-4">
                    <div class="form-group" ng-class="{ 'has-error' : SlsSOPtnrForm.partner.$invalid }">
                        <label for="partner">{{'SlsSOPtnr_ptnrNbr_description.title' | translate}}</label>
                        <input type="text" ng-model="slsInvcePtnr.ptnrNbr" id="supplier" name="partner" class="form-control" required
                               autocomplete="off" typeahead="businessPartner.ptnrNbr as businessPartner.cpnyName for businessPartner in loadBusinessPartner($viewValue)"
                               typeahead-loading="loading">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="roleInSO">{{'SlsSOPtnr_roleInSO_description.title' | translate}}</label>
                        <select ng-options="roleInInvce.enumKey as roleInInvce.name for roleInInvce in roleInInvces"
                                ng-model="slsInvcePtnr.roleInInvce" id="roleInInvce" name="roleInInvce" class="form-control" ></select>
                    </div>
                </div>
                <div class="col-lg-4" style="margin-top: 40px">
                        <button  class="btn btn-primary" ng-click="addBptrn(SlsSOPtnrForm.$valid)"><i class="fa fa-save"></i> {{"Entity_save.title" | translate }}</button>
                </div>
            </form>
                <table class="table table-bordered  table-striped" >
                    <thead>
                    <tr>
                        <th>{{'SlsSOPtnr_ptnrNbr_description.title'|translate}}</th>
                        <th>{{'SlsSOPtnr_roleInSO_description.title' | translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="slsInvcePtnrHolder in slsInvcePtnrsHolder" >
                        <td>{{slsInvcePtnrHolder.slsInvcePtnr.ptnrNbr}}</td>
                        <td>{{slsInvcePtnrHolder.slsInvcePtnr.roleInInvce}}</td>
                        <td><a ng-click="deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-danger pull-right" ng-click="cancel()"><i class="fa fa-circle"></i> Close</button>
            </div>

        </div>
