.container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 0;
    padding-right: 0;
}

.row-space{ 
    margin-bottom:20px; 
}

.margBott10{
    margin-bottom: 10px;
}

.overflowVisible{
    overflow: visible !important;
}

#panelV.panel{
    overflow: visible !important;
}

.panelCustom {
    border-radius: 4px;
    margin-bottom: 0;
    overflow: visible;
}

.default-style {
    color: #357EBD;
    font-weight: bold;
    font-size: 20px;
}

.black-style {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.red-style {
    color: #D9534F;
    font-weight: bold;
    font-size: 20px;
}

.green-style {
    color: #47A447;
    font-weight: bold;
    font-size: 20px;
}