<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/addashboard.client" class="navbar-brand"><span class="brand-title">{{vm.appTitle}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class="dropdown" style="color: #808080;margin-right: 15px;margin-top: 15px">
                        <span data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-list"></i> Allez dans le module
                            <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li ng-show="vm.hasWorkspace('addashboard.client')">
                                <a ng-href="/addashboard.client" >
                                    DASHBOARD
                                </a>
                            </li>
                            <li ng-show="vm.hasWorkspace('adcatal.client')">
                                <a ng-href="/adcatal.client">
                                    CATALOGUE
                                </a>
                            </li>
                            <li ng-show="vm.hasWorkspace('adstock.client')">
                                <a ng-href="/adstock.client" >
                                    STOCK
                                </a>
                            </li>
                            <li ng-show="vm.hasWorkspace('adinvtry.client')">
                                <a ng-href="/adinvtry.client" >
                                    INVENTAIRE
                                </a>
                            </li>
                            <li ng-show="vm.hasWorkspace('adprocmt.client')">
                                <a ng-href="/adprocmt.client" >
                                    APPROVISIONEMENT
                                </a>
                            </li>
                            <li ng-show="vm.hasWorkspace('adsales.client')">
                                <a ng-href="/adsales.client" >
                                    VENTE
                                </a>
                            </li>
                            <li ng-show="vm.hasWorkspace('admanager.client')">
                                <a ng-href="/admanager.client" >
                                    MANAGER
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown" style="color: #808080;margin-right: 15px;margin-top: 15px">
                        <span data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-user" ></i> {{vm.username}}
                            <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><i class="glyphicon glyphicon-home"></i> <a href="/addashboard.client" >Dashboard</a></li>
                            <li><<i class="glyphicon glyphicon-flag"></i> a href="#" ng-click="vm.changeLang('fr')" >{{'LANG_FR' | translate}}</a></li>
                            <li><i class="glyphicon glyphicon-flag"></i> <a href="#" ng-click="vm.changeLang('en')" >{{'LANG_EN' | translate}}</a></li>
                            <li><i class="glyphicon glyphicon-log-out"></i> <a ng-click="vm.logout()" >{{'logout' | translate}}</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.adorsys.cm" target="_blank">
                        <img src="/adres.client/images/logo.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
