
        <div class="panel-body" data-ng-controller="invInvtryCreateCtlr">
            <label class="error col-lg-offset-3 alert-danger" ><span data-ng-bind="error"></span></label>
            <form  name="invInvtryForm" id="invInvtryForm" novalidate>
                <div class="row" >
                    <div class="form-group col-lg-6">
                        <label> <span data-ng-bind="'InvInvtry_invInvtryType_description.title' | translate"></span>:</label>
                        <div data-ng-class="{ 'has-error' : invInvtryForm.invMode.$invalid }" >
                            <select class="form-control" name="invInvtryType" id="invInvtryType" data-ng-model="invInvtry.txType"
                                    data-ng-options="invInvtryType.enumKey as (invInvtryType.translKey | translate)
	                   				for invInvtryType in invInvtryUtils.invInvtryTypes" >
                                <option value=""/>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group col-lg-2">-->
                        <!--<label class=" control-label" for="acsngUser">{{'InvInvtry_acsngUser_description.title' | translate}}</label>-->
                        <!--<input type="text" data-ng-model="invInvtry.acsngUser" id="acsngUser" name="acsngUser" class="form-control" data-ng-blur="onUserNameChanged()"-->
                               <!--autocomplete="off" typeahead="loginName as (loginName.loginName + ' : ' + loginName.fullName) for loginName in invInvtryUtils.loadUsers($viewValue)"-->
                               <!--typeahead-loading="loading" typeahead-min-length="3" typeahead-on-select='onUserSelectedInCreate($item, $model, $label)'>-->
                    <!--</div>-->
                    <!--<div class="form-group col-lg-5">-->
                        <!--<label class=" control-label" for="acsngUserFullName">{{'InvInvtry_acsngUserFullName_description.title' | translate}}</label>-->
                        <!--<input type="text" data-ng-model="display.acsngUserFullName" id="acsngUserFullName" name="acsngUserFullName" class="form-control"-->
                               <!--autocomplete="off" typeahead="loginName as (loginName.loginName + ' : ' + loginName.fullName) for loginName in invInvtryUtils.loadUsersByName($viewValue)"-->
                               <!--typeahead-loading="loading" typeahead-min-length="3" typeahead-on-select='onUserSelectedInCreate($item, $model, $label)'>-->
                    <!--</div>-->
                    <div class="form-group col-lg-4">
                        <label class=" control-label" for="txGroup"> <span data-ng-bind="'InvInvtry_invtryGroup_description.title' | translate"></span></label>
                        <input type="text" data-ng-model="invInvtry.txGroup" id="txGroup" name="txGroup" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label class=" control-label" for="createSectionCode"><span data-ng-bind="'InvInvtryItem_section_description.title' | translate"></span></label>
                        <input type="text" placeholder="RAY-0001" data-ng-model="invInvtry.section" id="createSectionCode" name="createSectionCode" class="form-control"
                               autocomplete="off" typeahead="stkSection as (stkSection.identif + ' : ' + stkSection.name) for stkSection in invInvtryUtils.loadStkSectionArticleLots($viewValue)"
                               typeahead-loading="loading" typeahead-min-length="4" typeahead-on-select='onSectionSelectedInCreate($item, $model, $label)'>
                    </div>
                    <div class="form-group col-lg-5">
                        <label class=" control-label" for="createSectionName"><span data-ng-bind="'InvInvtryItem_sectionName_description.title' | translate"></span></label>
                        <input type="text" placeholder="SANOFI" data-ng-model="display.sectionName" id="createSectionName" name="createSectionName" class="form-control"
                               autocomplete="off" typeahead="stkSection as (stkSection.identif + ' : ' + stkSection.name) for stkSection in invInvtryUtils.loadStkSectionArticleLotsByName($viewValue)"
                               typeahead-loading="loading" typeahead-min-length="4" typeahead-on-select='onSectionSelectedInCreate($item, $model, $label)'>
                    </div>
                    <div class="form-group col-lg-1">
                        <label class=" control-label" for="createRangeStart"><span data-ng-bind="'InvInvtryItem_artNameStart_description.title' | translate"></span></label>
                        <input type="text" data-ng-model="invInvtry.rangeStart" id="createRangeStart" name="createRangeStart" class="form-control">
                    </div>
                    <div class="form-group col-lg-1">
                        <label class=" control-label" for="createRangeEnd"><span data-ng-bind="'InvInvtryItem_artNameEnd_description.title' | translate"></span></label>
                        <input type="text" data-ng-model="invInvtry.rangeEnd" id="createRangeEnd" name="createRangeEnd" class="form-control">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-lg-12">
                        <label class=" control-label"> <span data-ng-bind="'InvInvtry_descptn_description.title' | translate"></span>:</label>
                        <textarea rows="2" id="descptn" name="descptn" class="form-control" data-ng-model="invInvtry.descptn" maxlength="256"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
<!--                         <span class="col-lg-4"></span> -->
<!--                         <div class="col-lg-2"> -->
<!--                             <a class="btn-danger btn" href="#/InvInvtrys"> -->
<!--                                 <i class="glyphicon glyphicon-remove" ></i><span data-ng-bind="'Entity_cancel.title' | translate"></span></a> -->
<!--                         </div> -->
                        <div>
                            <button data-ng-click="create();" data-ng-disabled="invInvtryForm.$invalid" class="btn-success btn"  >
                                <i class="glyphicon glyphicon-save"></i><span data-ng-bind="'Entity_save.title' | translate"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


