
<section data-ng-cloak id="invIntrySearchPanel" class="mainbar">
<div class="panel panel-primary">
    <div class="panel-heading">
        <span><b><span data-ng-bind="'Entity_create.title' | translate"></span></b></span>
        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse" data-parent="#invIntryShowPanel" data-target="#invInvtrySearchToggle"></button>
    </div>
    <div class="panel-collapse collapse" id="invInvtrySearchToggle">
	      <div data-ng-include="'/adinvtry.client/src/client/app/invinvtry/views/create.html'"></div>
    </div>
</div>

<div class="panel panel-default ">
    <div class="panel-body">
        <div class="col-lg-12">
                <table data-st-table="data.invInvtrys" data-st-pipe="callServer" class="table table-bordered  table-striped pointer-element" >
                    <thead>
	                    <tr>
	                        <th><span data-ng-bind="'InvInvtry_invtryNbr_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_acsngUser_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_invtryGroup_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_gapSaleAmtHT_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_gapPurchAmtHT_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_invtryStatus_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_invtryDt_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_startRange_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtry_endRange_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'InvInvtryItem_section_description.title' | translate"></span></th>
	                        <th colspan="3"><span data-ng-bind="'description' | translate"></span></th>
	                    </tr>
	                    <tr>
	                    	<th><input data-st-search="identif" class="input-sm form-control" type="search"/></th>
	                    	<th><input data-st-search="login" class="input-sm form-control" type="search"/></th>
		             		<th><input data-st-search="invtryGroup" class="input-sm form-control" type="search"/></th>
		             		<th></th>
		             		<th></th>
		             		<th><input data-st-search="status" class="input-sm form-control" type="search"/></th>
		             		<th><st-date-search predicate="prepareDt" selected-date="query"></st-date-search></th>
		             		<th></th>
		             		<th></th>
		             		<th><input data-st-search="section" class="input-sm form-control" type="search"/></th>
		             		<th colspan="3"><input data-st-search="descptn" class="input-sm form-control" type="search"/></th>
	                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="invtry in data.invInvtrys">
                        <td><span data-ng-bind-html="invtry.identif"></span></td>
                        <td><span data-ng-bind-html="invtry.login"></span></td>
                        <td><span data-ng-bind-html="invtry.invtryGroup"></span></td>
                        <td><span data-ng-bind-html="invtry.gapSaleAmtHT"></span></td>
                        <td><span data-ng-bind-html="invtry.gapPurchAmtHT"></span></td>
                        <td><span data-ng-bind-html="invtry.status"></span></td>
                        <td><span data-ng-bind-html="invtry.valueDt | date:'yyyy-MM-dd HH:mm'"></span></td>
                        <td><span data-ng-bind-html="invtry.rangeStart"></span></td>
                        <td><span data-ng-bind-html="invtry.rangeEnd"></span></td>
                        <td><span data-ng-bind-html="invtry.section"></span></td>
                        <td><span data-ng-bind-html="invtry.descptn"></span></td>
                        <td>
                            <a href="#/invinvtry/{{invtry.identif}}/show/"><i class="glyphicon glyphicon-eye-open"></i></a>
                           <!-- <a href="#/invinvtry/{{invtry.identif}}/archive/"><i class="glyphicon glyphicon-trash"></i></a>-->
                        </td>
                        <td>
							<a data-ng-href="{{GlobalCtlr.BASE_SERVER}}/adreport.server/frameset?__report=invintry.rptdesign&invintryNumber={{invtry.identif}}" target="_blank" title="Fiche Comptage 1" class="btn btn-primary" ><i class="glyphicon glyphicon-file" style="color: white;"></i></a>
							<a data-ng-href="{{GlobalCtlr.BASE_SERVER}}/adreport.server/frameset?__report=invintry2.rptdesign&invintryNumber={{invtry.identif}}" target="_blank" title="Fiche Comptage 2" class="btn btn-info" ><i class="glyphicon glyphicon-file " style="color: white;"></i></a>
							<a data-ng-href="{{GlobalCtlr.BASE_SERVER}}/adreport.server/frameset?__report=invintry3.rptdesign&invintryNumber={{invtry.identif}}" target="_blank" title="Rapport Inventaire" class="btn btn-success" ><i class="glyphicon glyphicon-file " style="color: white;"></i></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
						<tr>
							<td colspan="15" class="text-center">
								<div data-st-pagination="" data-st-items-by-page="itemsByPage"></div>
							</td>
						</tr>
					</tfoot>
                </table>
        </div>
    </div>
</div>
</section>

