<section class="mainbar" id="productFamilyPanel">

	<div class="panel panel-primary">
	    <div class="panel-heading">
	        <b><span data-ng-bind="'app.core.create.title' | translate"></span> <span data-ng-bind="'CatalProductFamily.new.title' | translate"></span></b>
	        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse" data-parent="#productFamilyPanel" data-target="#productFamilyCreateToggle"></button>
	    </div>
	    <div class="panel-collapse collapse" id="productFamilyCreateToggle">
	    	<div data-ng-include="'/adcatal.client/src/client/app/catal-prod-fmly/views/create.html'"></div>
	    </div>
	</div>

<div class="panel panel-default">
    <div class="panel-body">
		<table data-st-table="vm.data.list" data-st-pipe="vm.callServer" class="table table-bordered  table-striped pointer-element">
			<thead>
				<tr>
	          		<th><span data-ng-bind="'CatalProductFamily.parentIdentif' | translate"></span></th>
	         		<th><span data-ng-bind="'cntnrIdentif' | translate"></span></th>
	          		<th><span data-ng-bind="'CatalProductFamily.famPath' | translate"></span></th>
	          		<th><span data-ng-bind="'Action.title' | translate"></span></th>
          		</tr>
          		<tr>
			  		<th><input data-st-search="parentIdentif" class="input-sm form-control" type="search"/></th>
             		<th><input data-st-search="identif" class="input-sm form-control" type="search"/></th>
             		<th><input data-st-search="famPath" class="input-sm form-control" type="search"/></th>
             		<th></th>
				</tr>
          	</thead>
          	<tbody>
	          	<tr data-ng-repeat="catalProdFmly in vm.data.list">
					<td><span data-ng-bind="catalProdFmly.parentIdentif"></span></td>
	              	<td><span data-ng-bind="catalProdFmly.identif"></span></td>
	              	<td><span data-ng-bind="catalProdFmly.famPath"></span></td>
	              	<td>
	                 	<div class="table-actions">
	                      	<a class="btn btn-default" title="View" href="#/catal-prod-fmly/{{catalProdFmly.id}}">
	                        	<span class="glyphicon glyphicon-eye-open"></span>
	                     	</a>
	                      	<a class="btn btn-default" title="Edit" href="#/catal-prod-fmly/{{catalProdFmly.id}}/edit">
	                        	<span class="glyphicon glyphicon-edit"></span>
	                      	</a>
	                      	<a class="btn btn-danger" title="Remove" data-ng-really-message="Are you sure ?" data-ng-really-click="vm.remove(catalProdFmly)" item="catalProdFmly">
	                        	<span class="glyphicon glyphicon-remove-circle"></span>
	                      	</a>
	                 	</div>
	              	</td>
	          	</tr>
          	</tbody>
          	<tfoot>
				<tr>
					<td colspan="9" class="text-center">
						<div data-st-pagination="" data-st-items-by-page="vm.itemsByPage"></div>
					</td>
				</tr>
			</tfoot>
      	</table>
	</div>
</div>

</section>
