<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      CatalProdFmly List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/catal-prod-fmly/create">
          <i class="glyphicon glyphicon-open"></i> New CatalProdFmly
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="catalProdFmly in $data">
              <td data-title="'parentIdentif'">{{catalProdFmly.parentIdentif}}</td>
              <td data-title="'identif'" >{{catalProdFmly.identif}}</td>
              <td data-title="'famPath'" >{{catalProdFmly.famPath}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/catal-prod-fmly/{{catalProdFmly.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/catal-prod-fmly/{{catalProdFmly.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(catalProdFmly)" item="catalProdFmly">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
