<div class="row" ng-cloak>
	<div class="panel panel-default  ng-scope">
		<div class="panel-heading no-collapse">
			<div class="row">
				<div class="col-lg-3">
					<b>Etat des avoirs</b>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="">
				<form role="form" class="">
					<div class="row">
						<div class="col-lg-3">
							<div class="form-group">
								<label class=" control-label">Numéro</label>
								<div class="">
									<input type="text" ng-model="searchInput.entity.vchrNbr"
										class="form-control"
										typeahead="cdrCstmrVchr.vchrNbr as cdrCstmrVchr.vchrNbr for cdrCstmrVchr in CdrCstmrVchrUtils.loadCdrCstmrVchr($viewValue)">
								</div>
							</div>
						</div>

						<div class="col-lg-3">
							<div class="form-group">
								<label class=" control-label">Caissier</label>
								<div class="">
									<input type="text" ng-model="searchInput.entity.cashier"
										class="form-control"
										typeahead="login.loginName as login.loginName for login in CdrCstmrVchrUtils.loadLogin($viewValue)">
								</div>
							</div>
						</div>

						<div class="col-lg-3">
							<div class="form-group">
								<label class=" control-label">Du</label>
								<div class="">
									<input type="datetime" date-time view="date" min-view="date"
										views="['date']" dismiss="true" format="dd-MM-yyyy"
										ng-model="searchInput.from" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="form-group">
								<label class=" control-label">Au</label>
								<div class="">
									<input type="datetime" date-time view="date" min-view="date"
										views="['date']" dismiss="true" format="dd-MM-yyyy"
										ng-model="searchInput.to" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="form-group">
								<button ng-click="handleSearchRequestEvent()"
									class="btn btn-default " style="margin-top: 23px;">
									<i class="glyphicon glyphicon-search"></i>
								</button>
								<button ng-click="handlePrintRequestEvent()"
									class="btn btn-default " style="margin-top: 23px;">
									<i class="glyphicon glyphicon-print"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<div class="panel panel-default ">
		<div class="panel-heading no-collapse">
			<b>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_description.title']}}</b>
		</div>
		<div class="panel-body">
			<div class="col-lg-12">
				<div class="table-overflow-middle row">
					<table class="table table-bordered  table-striped pointer-element">
						<thead>
							<tr>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_vchrNbr_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_dsNbr_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_amt_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_cstmrNbr_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_cstmrName_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_cashier_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_cdrNbr_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_prntDt_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_amtUsed_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_settled_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_restAmt_description.title']}}</th>
								<th>{{CdrCstmrVchrUtils.translations['CdrCstmrVchr_canceled_description.title']}}</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="cdrCstmrVchr in cdrCstmrVchrs">
								<td>{{cdrCstmrVchr.vchrNbr}}</td>
								<td>{{cdrCstmrVchr.dsNbr}}</td>
								<td>{{cdrCstmrVchr.amt}}</td>
								<td>{{cdrCstmrVchr.cstmrNbr}}</td>
								<td>{{cdrCstmrVchr.cstmrName}}</td>
								<td>{{cdrCstmrVchr.cashier}}</td>
								<td>{{cdrCstmrVchr.cdrNbr}}</td>
								<td>{{cdrCstmrVchr.prntDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
								<td>{{cdrCstmrVchr.amtUsed}}</td>
								<td>{{cdrCstmrVchr.settled}}</td>
								<td>{{cdrCstmrVchr.restAmt}}</td>
								<td><a class="btn btn-info" ng-disabled="cdrCstmrVchr.canceled"
									ng-click="cancelCdrCstmrVchr(cdrCstmrVchr);">
										{{cdrCstmrVchr.canceled | yesNo}} </a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pull-right">
					<pagination total-items="totalItems" items-per-page="itemPerPage"
						class="pagination-sm" ng-model="currentPage"
						ng-change="paginate()"></pagination>
				</ul>
			</div>

		</div>
	</div>
</div>