<div ng-cloak class="panel-group">
    <div class="alert alert-danger" ng-show="error" role="alert">
        <strong>Warning!</strong> {{error}}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
        <div class="row">

                <div class="row">
                    <span class="col-lg-3" style="font-size:17px;">{{cdrDrctSalesUtils.translations['CdrDrctSales_netSPPreTax_description.title']}}: </span>
                    <span class="col-lg-2">{{cdrDsArtHolder.cdrDrctSales.netSPPreTax}}</span>
                    <span class="col-lg-2">
                    	<label>{{cdrDrctSalesUtils.translations['CdrDrctSales_pymtDscntPct_description.title']}} : </label>
                    	<input disabled ng-change="pymtDscntPctChanged()" type="text" ng-model="cdrDsArtHolder.cdrDrctSales.pymtDscntPct" class="form-control" />
                    	</span>
                    <span class="col-lg-2">
                    	<label>{{cdrDrctSalesUtils.translations['CdrDrctSales_paidAmt_description.title']}} : </label>
                    	<input type="text" disabled class="form-control" ng-model="cdrDsArtHolder.paidAmt" ng-change="paidAmtChanged()" />
                    </span>
                    <div class="col-lg-3 btn-group">
                        <a class="btn btn-primary" href="#/CdrDrctSales/new/{{cdrDsArtHolder.cdrDrctSales.dsNbr}}" ><i class="glyphicon glyphicon-" ></i>Retour Vente</a>
                        <!--<button ng-click=""  style="margin-top: 23px;" class="btn">{{commonTranslations.translations['Entity_save.title']}}</button>
                        <button ng-click="recompute()"  style="margin-top: 23px;" class="btn">{{cdrDrctSalesUtils.translations['Entity_recompute.title']}}</button>-->
                        <a class="btn-default btn" href="#/CdrDrctSales"><i class="glyphicon" ></i> Liste des ventes</a>
                    </div>
                </div>

                <div class="row">
                    <span class="col-lg-3" style="font-size:17px;">{{cdrDrctSalesUtils.translations['CdrDrctSales_vatAmount_description.title']}}: </span>
                    <span class="col-lg-2">{{cdrDsArtHolder.cdrDrctSales.vatAmount}}</span>
                </div>

                <div class="row">
                    <span class="col-lg-3" style="font-size:17px;">{{cdrDrctSalesUtils.translations['CdrDrctSales_netSPTaxIncl_description.title']}}: </span>
                    <span class="col-lg-2">{{cdrDsArtHolder.cdrDrctSales.netSPTaxIncl}}</span>
                    <span class="col-lg-2">
                    	<label>{{cdrDrctSalesUtils.translations['CdrDrctSales_pymtDscntAmt_description.title']}} : </label>
                    	<input type="text"  class="form-control" ng-model="cdrDsArtHolder.cdrDrctSales.pymtDscntAmt" disabled />
                    </span>
                    <span class="col-lg-2">
                    	<label>{{cdrDrctSalesUtils.translations['CdrDrctSales_changeAmt_description.title']}} : </label>
                    	<input type="text" class="form-control" ng-model="cdrDsArtHolder.changeAmt" disabled />
                    </span>
                    <span class="col-lg-2">

                        <a class="btn-default btn btn-large" ng-click="printRequest()"><i class="glyphicon glyphicon-print" ></i> Reimprimer Ticket</a>
                    </span>

                </div>
                <div class="row">
                    <span class="col-lg-3" style="font-size:17px;">{{cdrDrctSalesUtils.translations['CdrDrctSales_netSalesAmt_description.title']}}: </span>
                    <span class="col-lg-2">{{cdrDsArtHolder.cdrDrctSales.netSalesAmt}}</span>
                </div>

        </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <b> {{cdrDrctSalesUtils.translations['CdrDsArtItem_description.title']}} </b>
        </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped">
                <thead>
                    <tr>
                        <th class="clo-lg-3">{{cdrDrctSalesUtils.translations['CdrDsArtItem_artName_description.title']}}</th>
                        <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_artPic_description.title']}}</th>
                        <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_lotPic_description.title']}}</th>
                        <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_soldQty_description.title']}}</th>
                        <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_returnedQty_description.title']}}</th>
                        <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_sppuPreTax_description.title']}}</th>
                        <th class="col-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_netSPPreTax_description.title']}}</th>
                        <th class="col-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_vatPct_description.title']}}</th>
                        <th class="col-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_rebate_description.title']}}</th>
                        <th class="col-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_restockgFees_description.title']}}</th>
                        <th class="col-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_vatAmount_description.title']}}</th>
                        <th class="col-lg-1">{{cdrDrctSalesUtils.translations['CdrDsArtItem_netSPTaxIncl_description.title']}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cdrDsArtItem in cdrDsArtHolder.items"  ng-dblclick="editItem($index)">
                        <td>{{cdrDsArtItem.artName}}</td>
                        <td>{{cdrDsArtItem.item.artPic}}</td>
                        <td>{{cdrDsArtItem.item.lotPic}}</td>
                        <td>{{cdrDsArtItem.item.soldQty}}</td>
                        <td>{{cdrDsArtItem.item.returnedQty}}</td>
                        <td>{{cdrDsArtItem.item.sppuPreTax}}</td>
                        <td>{{cdrDsArtItem.item.netSPPreTax}}</td>
                        <td>{{cdrDsArtItem.item.vatPct}}</td>
                        <td>{{cdrDsArtItem.item.rebate}}</td>
                        <td>{{cdrDsArtItem.item.restockgFees}}</td>
                        <td>{{cdrDsArtItem.item.vatAmount}}</td>
                        <td>{{cdrDsArtItem.item.netSPTaxIncl}}</td>
                    </tr>
                </tbody>
            </table>
            <span class="col-lg-8" style="margin-top:-23px;"><pagination total-items="totalItems()" items-per-page="itemPerPage()" class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination></span>
        </div>
    </div>
</div>
