<section class="" data-ng-controller="CatalArt2ProductFamilyController as vmProductFam" data-ng-init="vmProductFam.init()" >

  <div class="panel panel-primary">
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" data-ng-click="vmProductFam.createForm({})">
          <i class="glyphicon glyphicon-open"></i>  <span data-ng-bind="'CatalArt2ProductFamily.new.title' | translate"></span>
        </a>
      </div>

      <table class="table table-bordered  table-striped pointer-element">
          <thead>
            <th><span data-ng-bind="'CatalArt2ProductFamily.artPic' | translate"></span></th>
            <th><span data-ng-bind="'CatalArt2ProductFamily.famCode' | translate"></span></th>
            <th><span data-ng-bind="'CatalArtFeatMapping.shortName' | translate"></span></th>
            <th><span data-ng-bind="'CatalArtFeatMapping.artName' | translate"></span></th>
            <th><span data-ng-bind="'CatalAbstractFeatMapping.purpose' | translate"></span></th>
          </thead>
          <tr data-ng-repeat="catalArt2ProductFamily in vmProductFam.data">
              <td data-title="'artPic'" ><span data-ng-bind="catalArt2ProductFamily.artPic"></span></td>
              <td data-title="'famCode'" ><span data-ng-bind="catalArt2ProductFamily.famCode"></span></td>
              <td data-title="'shortName'" ><span data-ng-bind="catalArt2ProductFamily.shortName"></span></td>
              <td data-title="'artName'" ><span data-ng-bind="catalArt2ProductFamily.artName"></span></td>
              <td data-title="'purpose'" ><span data-ng-bind="catalArt2ProductFamily.purpose"></span></td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" data-ng-click="vmProductFam.showForm(catalArt2ProductFamily)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" data-ng-click="vmProductFam.editForm(catalArt2ProductFamily)" >
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" data-ng-really-message="Are you sure ?" data-ng-really-click="vmProductFam.remove(catalArt2ProductFamily)" item="catalArt2ProductFamily">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
