<div>

    <table class="table table-bordered  table-striped pointer-element" >
        <thead>
        <div class="row">
            <div class="col-lg-offset-2">
                <label>{{cdrSlsInvoicesUtils.translations['CdrPymnt_amt_description.title']}}:</label>
                <b>{{cdrPymntHolder.cdrPymnt.amt | currencyAccounting:cur:"2"}}</b>
            </div>
        </div><hr/>
        <div class="row" >
            <div class="col-lg-2">
                <div class="form-group">
                    <label class=" control-label">{{cdrSlsInvoicesUtils.translations['CdrPymntItem_amt_description.title']}}</label>
                    <div class="">
                        <input type="text" id="amt" ng-model="cdrPymntHolder.amt" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class=" control-label">{{cdrSlsInvoicesUtils.translations['CdrPymntItem_rcvdAmt_description.title']}}</label>
                    <div class="">
                        <input type="text" id="rcvdAmt" ng-model="cdrPymntHolder.rcvdAmt" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label class=" control-label">{{cdrSlsInvoicesUtils.translations['CdrPymntItem_pymntMode_description.title']}}</label>
                    <div class="">
                        <select ng-change="pymtModeChanged()" ng-options="cdrPymntMode.enumKey as cdrSlsInvoicesUtils.translations[cdrPymntMode.translKey] for cdrPymntMode in cdrSlsInvoicesUtils.cdrPymntModes"
                             id="pymntMode" ng-model="cdrPymntHolder.pymntMode" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2" ng-show="voucherMode" >
                <div class="form-group">
                    <label class=" control-label">{{cdrSlsInvoicesUtils.translations['CdrCstmrVchr_vchrNbr_description.title']}}</label>
                    <div class="">
                        <input type="text" id="vchrNbr" ng-model="cdrPymntHolder.vchrNbr" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <button class="btn btn-default" style="margin-top: 23px" ng-click="addPymt()">
                        <i class="glyphicon glyphicon-plus" ></i>
                        {{cdrSlsInvoicesUtils.translations['Entity_save.title']}}
                    </button>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                     <label class="label label-warning" ng-show="error" >{{error}} </label>
                </div>
            </div>
        </div>
        <tr>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_pymntNbr_description.title']}}</th>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_pymntMode_description.title']}}</th>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_pymntDocType_description.title']}}</th>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_pymntDocNbr_description.title']}}</th>
            <th>Date</th>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_amt_description.title']}}</th>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_rcvdAmt_description.title']}}</th>
            <th>{{cdrSlsInvoicesUtils.translations['CdrPymntItem_diffAmt_description.title']}}</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr ng-repeat="result in cdrPymntHolder.cdrPymntItems">
            <td>{{result.pymntNbr}}</td>
            <td>{{result.pymntMode}}</td>
            <td>{{result.pymntDocType}}</td>
            <td>{{result.pymntDocNbr}}</td>
            <td>{{result.pymntDt | date:"yyyy-mm-dd"}}</td>
            <td>{{result.amt | currencyAccounting:"XAF":"4"}}</td>
            <td>{{result.rcvdAmt | currencyAccounting:"XAF":"4"}}</td>
            <td>{{result.diffAmt | currencyAccounting:"XAF":"4"}}</td>
        </tr>
        </tbody>
    </table>
</div>