<div class="mainbar">
        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{cdrSlsInvoicesUtils.translations['Entity_search.title']}}</b>
                        <b>{{cdrSlsInvoicesUtils.translations['SlsInvoices_description.title']}}</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_soNbr_description.text' | translate}}" tooltip-side="top" for="soNbr">{{cdrSlsInvoicesUtils.translations['SlsInvoice_soNbr_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="soNbr" ng-model="searchInput.entity.soNbr" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceNbr_description.text' | translate}}" tooltip-side="top" for="invceNbr">{{cdrSlsInvoicesUtils.translations['SlsInvoice_invceNbr_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="invceNbr" ng-model="searchInput.entity.invceNbr" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceDtFrom_description.text' | translate}}" tooltip-side="top" for="invceDtFrom">{{cdrSlsInvoicesUtils.translations['SlsInvoice_invceDtFrom_description.title']}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy HH:mm"
                                               id="invceDtFrom" ng-model="searchInput.invceDtFrom" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvoice_invceDtTo_description.text' | translate}}" tooltip-side="top" for="invceDtTo">{{cdrSlsInvoicesUtils.translations['SlsInvoice_invceDtTo_description.title']}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy HH:mm"
                                               id="invceDtTo" ng-model="searchInput.invceDtTo" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                            <div class="form-group">
                               <label class=" control-label" tooltips="" tooltip-title="{{'SlsInvcePtnr_description.text' | translate}}" tooltip-side="top" for="ptnr">{{cdrSlsInvoicesUtils.translations['SlsInvcePtnr_description.title']}}</label>
                               <div class="">
                                <input type="text" name="ptnr" id="ptnr" ng-model="searchInput.ptnr" autocomplete="off" typeahead="ptnr as ptnr.fullName for ptnr in cdrSlsInvoicesUtils.loadPartnersByName($viewValue) | filter:$viewValue" typeahead-loading="loading" class="form-control">
                               </div>
                            </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>{{cdrSlsInvoicesUtils.translations['Entity_Result.title']}}</b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                             <div class="row">
                              <div class="col-lg-3">
                                 <input ng-model="q" id="search" class="form-control" placeholder="Recherche..."/>
                              </div> 
                             </div><br>
                            <tr>
                                <th class="text-center">
{{cdrSlsInvoicesUtils.translations['SlsInvoice_invceNbr_description.title']}}</th>
                                <th class="text-center">
{{cdrSlsInvoicesUtils.translations['SlsInvoice_soNbr_description.title']}}</th>
                                <th class="text-center">
{{cdrSlsInvoicesUtils.translations['SlsInvoice_invceStatus_description.title']}}</th>
                                <th class="text-center">
{{cdrSlsInvoicesUtils.translations['SlsInvoice_invceDt_description.title']}}</th>
                                <th class="text-center">{{cdrSlsInvoicesUtils.translations['SlsInvoice_netSPPreTax_description.title']}}</th>
                                <th class="text-center">{{cdrSlsInvoicesUtils.translations['SlsInvoice_netSPTaxIncl_description.title']}}</th>
                                <th class="text-center">{{cdrSlsInvoicesUtils.translations['SlsInvoice_netAmtToPay_description.title']}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="slsInvce in slsInvoices()" >
                                <td>{{slsInvce.invceNbr}}</td>
                                <td>{{slsInvce.soNbr}}</td>
                                <td>{{cdrSlsInvoicesUtils.slsInvceStatusI18nMsgTitleValue(slsInvce.invceStatus)}}</td>
                                <td>{{cdrSlsInvoicesUtils.formatDate(slsInvce.invceDt, null)}}</td>
                                <td>{{slsInvce.netSPPreTax}}</td>
                                <td>{{slsInvce.netSPTaxIncl}}</td>
                                <td>{{slsInvce.netAmtToPay}}</td>
                                <td><a  ng-click="show(slsInvce,$index)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                      </div>
                    <ul  class="pull-right">
                        <pagination  total-items="totalItems()" max-size="maxSize" boundary-links="true" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
                    </ul>
                </div>

            </div>
        </div>
</div>