<div class="container">
    <div class="col-xs-offset-2 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ "Entity_show.title"| translate}}</b> </div>
            <div class="panel-body">
                <label class="error col-lg-offset-3 alert-danger" >{{secTermShowCtrl.error}} </label>
                <form  name="secTermForm" class="form-horizontal" novalidate="">
                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_termName_description"| translate}} :</label>
                        <div class="col-lg-8" >
                            <input type="text" ng-model="secTermShowCtrl.secTerm.termName" name="termName" class="form-control disabled" disabled >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_termId_description"| translate}} :</label>
                        <div class="col-lg-8" >
                            <input type="text" ng-model="secTermShowCtrl.secTerm.termId" name="termId" class="form-control disabled" disabled >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_partnerId_description"| translate}} :</label>
                        <div class="col-lg-8"  >
                            <input type="text" ng-model="secTermShowCtrl.secTerm.partnerIds" name="partnerIds" class="form-control disabled" disabled  >

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_locality_description"| translate}} :</label>
                        <div class="col-lg-8" >
                            <input type="text" ng-model="secTermShowCtrl.secTerm.locality" name="locality" class="form-control disabled" disabled >

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_timeZone_description"| translate}} :</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="secTermShowCtrl.secTerm.timeZone" name="timeZone" class="form-control"  disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_accessTime_description"| translate}} :</label>
                        <div class="col-lg-8"  >
                            <textarea  ng-model="secTermShowCtrl.secTerm.accessTime" name="accessTime" disabled class="form-control disabled" ></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_authUsers_description"| translate}} :</label>
                        <div class="col-lg-8"  >
                            <textarea ng-model="secTermShowCtrl.secTerm.authUsers" disabled name="authUsers" class="form-control disabled" ></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 ">{{ "SecTerminal_authWorkspaces_description"| translate}} :</label>
                        <div class="col-lg-8"  >
                            <textarea  ng-model="secTermShowCtrl.secTerm.authWorkspaces" name="authWorkspaces" disabled class="form-control disabled" ></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4"  > </label>
                        <div class="col-lg-8" >
                            <a class="btn-default btn" href="#/secTerm"  ><i class="glyphicon glyphicon-" ></i> {{"Entity_back.title" | translate }}</a>
                            <a class="btn-danger btn" ng-click="secTermShowCtrl.remove(secTermShowCtrl.secTerm.id)"  ><i class="glyphicon glyphicon-remove" ></i> {{"Entity_delete.title" | translate }}</a>
                            <a href="#/secTerm/edit/{{secTermShowCtrl.secTerm.id}}"  class="btn-default btn"  ><i class="glyphicon glyphicon-edit"></i>  {{"Entity_update.title" | translate }}</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


</div>