<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction| translate}} {{'CatalPicMapping_description.title'| translate}} : {{catalPicMapping.artIdentif}}</b> </div>
    <div class="panel-body">
        <form id="CatalPicMappingForm" name="CatalPicMappingForm" class="form-horizontal" novalidate="">
            <div class="control-group" ng-class="{error: CatalPicMappingForm.code.$invalid}">
                <label for="code" class="control-label">{{'CatalPicMapping_code_description.title'|translate}}</label>
                <div id="codeControls" class="controls">
                    <input id="code" name="code" type="text" required class="form-control" ng-model="catalPicMapping.code" placeholder="{{'CatalPicMapping_code_description.text'|translate}}"></input>
                    <span class="help-inline" ng-show="CatalPicMappingForm.code.$error.required">required</span>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalPicMappingForm.codeOrigin.$invalid}">
                <label for="codeOrigin" class="control-label">{{'CatalPicMapping_codeOrigin_description.title'|translate}}</label>
                <div id="codeOriginControls" class="controls">
					<select id="codeOrigin" name="codeOrigin" class="form-control" ng-options="cipOrigine.name for cipOrigine in cipOrigines" ng-model="selectedCipOrigine"></select>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalPicMappingForm.addInfo.$invalid}">
                <label for="addInfo" class="control-label">{{'CatalPicMapping_addInfo_description.title'|translate}}</label>
                <div id="addInfoControls" class="controls">
                    <textarea id="addInfo" name="addInfo" rows="3" class="form-control" ng-model="catalPicMapping.addInfo" placeholder="{{'CatalPicMapping_addInfo_description.text'|translate}}"></textarea>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalPicMappingForm.priority.$invalid}">
                <label for="priority" class="control-label">{{'CatalPicMapping_priority_description.title'|translate}}</label>
                <div id="priorityControls" class="controls">
                    <input id="priority" name="priority" type="number" class="form-control" ng-model="catalPicMapping.priority" placeholder="{{'CatalPicMapping_priority_description.text'|translate}}"></input>
                    <span class="help-inline" ng-show="CatalPicMappingForm.priority.$error.number">not a number</span>
                </div>
            </div>
            <p/>
            <div class="control-group">
                <div class="controls">
                    <button id="saveCatalPicMapping" name="saveCatalPicMapping" class="btn btn-primary" ng-disabled="isClean() || CatalPicMappingForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> {{'Entity_save.title'|translate}}</button>
                    <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> {{'Entity_cancel.title'|translate}}</button>
                </div>
            </div>
        </form>
    </div>
  </div>