<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction| translate}} {{'CatalArtDetailConfig_description.title'| translate}} : {{catalArtDetailConfig.pic}}</b> </div>
    <div class="panel-body">
<form id="CatalArtDetailConfigForm" name="CatalArtDetailConfigForm" class="form-horizontal" novalidate="" >
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.qtyOfDtldInMain.$invalid}">
        <label for="qtyOfDtldInMain" class="control-label">{{"CatalArtDetailConfig_qtyOfDtldInMain_description.title"|translate}}</label>
        <div id="qtyOfDtldInMain" class="controls">
            <input id="qtyOfDtldInMain" name="qtyOfDtldInMain" class="form-control" ng-model="catalArtDetailConfig.qtyOfDtldInMain" />
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.pptnOfDtldInMain.$invalid}">
        <label for="pptnOfDtldInMain" class="control-label">{{"CatalArtDetailConfig_pptnOfDtldInMain_description.title"|translate}}</label>
        <div id="pptnOfDtldInMainControls" class="controls">
            <input id="pptnOfDtldInMain" name="pptnOfDtldInMain" type="text" ng-model="catalArtDetailConfig.pptnOfDtldInMain" class="form-control" placeholder="{{'CatalArtDetailConfig_pptnOfDtldInMain_description.title'|translate}}"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.mngInPptn.$invalid}">
        <label for="mngInPptn" class="control-label">{{"CatalArtDetailConfig_mngInPptn_description.title"|translate}}</label>
        <div id="mngInPptnControls" class="controls">
            <input id="mngInPptn" name="mngInPptn" class="form-control" type="checkbox" ng-model="catalArtDetailConfig.mngInPptn" placeholder="{{'CatalArtDetailConfig_mngInPptn_description.title'|translate}}"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalArtDetailConfig" name="saveCatalArtDetailConfig" class="btn btn-primary" ng-disabled="isClean() || CatalArtDetailConfigForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> {{"Entity_create.title" | translate}} </button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> {{"Entity_cancel.title" | translate}} </button>
        </div>
        <div>
</form>
</div>
</div>