<div ng-controller="catalArt2ProductFamilyCtrl as catalArt2PdctFamCtrl" >
    <a class="btn btn-success margBott10 pull-right" ng-click="catalArt2PdctFamCtrl.openCreateForm('md')"><i class="glyphicon glyphicon-plus"></i> {{'Entity_create.title' | translate}}</a>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{"CatalArt2ProductFamily_famCode_description.title"|translate}}</th>
            <th>{{"CatalProductFamily_famPath_description.title"|translate}}</th>
            <th>{{"CatalArt2ProductFamily_langIso2_description.title"|translate}}</th>
            <th>{{"CatalArt2ProductFamily_familyName_description.title"|translate}}</th>
        </tr>
        <tr ng-repeat="result in catalArt2PdctFamCtrl.catalArt2ProductFamilies">
            <td>{{result.famCode}}</td>
            <td>{{result.famPath}}</td>
            <td>{{result.langIso2}}</td>
            <td>{{result.familyName}}</td>
<!--            <td><a class="" ng-click="catalArt2PdctFamCtrl.openEditForm('md',$index);"><i class="glyphicon glyphicon-edit"></i></a>-->
            </td>
            <td><a ng-click="catalArt2PdctFamCtrl.deleteItem()" ><i class="glyphicon glyphicon-trash" ></i></a></td>
        </tr>
    </table>
</div>