<div ng-controller="catalArtManufSuppsCtlr as manufSuppCtlr" >
    <a class="btn btn-success margBott10 pull-right" ng-click="manufSuppCtlr.openCreateForm('md')"><i class="glyphicon glyphicon-plus"></i> {{'Entity_create.title' | translate}}</a>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{"CatalArtManufSupp_msIdentif_description.title"|translate}}</th>
            <th>{{"CatalArtManufSupp_msType_description.title"|translate}}</th>
            <th>{{"CatalArtManufSupp_warrantyMonths_description.title"|translate}}</th>
            <th>{{"CatalArtManufSupp_returnDays_description.title"|translate}}</th>
            <th>{{"CatalArtManufSupp_pppu_description.title"|translate}}</th>
            <th>{{"CatalArtManufSupp_pppuCurrIso3_description.title"|translate}}</th>
            <th>{{"CatalArtManufSupp_vatRate_description.title"|translate}}</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="result in manufSuppCtlr.catalArtManufSupps">
            <td>{{result.msIdentif}}</td>
            <td>{{result.msType}}</td>
            <td>{{result.warrantyMonths}}</td>
            <td>{{result.returnDays}}</td>
            <td>{{result.pppu}}</td>
            <td>{{result.pppuCurrIso3}}</td>
            <td>{{result.vatRate}}</td>
            <td><a class="" ng-click="manufSuppCtlr.openEditForm('md',$index);"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
            <td><a ng-click="manufSuppCtlr.deleteItem();" ><i class="glyphicon glyphicon-trash" ></i></a></td>
        </tr>
    </table>
</div>