<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ "Entity_create.title"| translate}}</b> </div>
        <div class="panel-body">
            <label class="error col-lg-offset-3 alert-danger" >{{catalArticleCreateCtlr.error}} </label>
            <form  name="catalArticleForm" class="form-horizontal" novalidate="">
                <div class="form-group">
                    <label class="col-lg-4 ">{{"CatalArticle_pic_description.title"| translate}} :</label>
                    <div class="col-lg-8" ng-class="{ 'has-error' : catalArticleForm.pic.$invalid }" >
                        <input type="text" ng-model="catalArticleCreateCtlr.catalArticle.pic" name="pic" class="form-control" required >
                        <p ng-show="catalArticleForm.pic.$error.required" class="help-block">{{"CatalArticle_pic_required.title"| translate}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 ">{{"CatalArticle_articleName_description.title"| translate}} :</label>
                    <div class="col-lg-8" ng-class="{ 'has-error' : catalArticleForm.features.artName.$invalid }" >
                        <input type="text" ng-model="catalArticleCreateCtlr.catalArticle.features.artName" name="articleName" class="form-control" required >
                        <p ng-show="catalArticleForm.features.artName.$error.required" class="help-block">{{"CatalArticle_articleName_required.title"| translate}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 ">{{"CatalArticle_sppu_description.title"| translate}} :</label>
                    <div class="col-lg-8" ng-class="{ 'has-error' : catalArticleForm.sppu.$invalid }" >
                        <input type="text" ng-model="catalArticleCreateCtlr.catalArticle.sppu" name="sppu" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 ">{{"CatalArticle_vatRate_description.title"| translate}} :</label>
                    <div class="col-lg-8" ng-class="{ 'has-error' : catalArticleForm.vatRate.$invalid }" >
                        <input type="text" ng-model="catalArticleCreateCtlr.catalArticle.vatRate" value="19.25" name="vatRate" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4"  > </label>
                    <div class="col-lg-8" >
                        <a class="btn-danger btn" href="#/"  ><i class="glyphicon glyphicon-remove" ></i> {{"Entity_cancel.title" | translate }}</a>
                        <button ng-click="catalArticleCreateCtlr.create();" ng-disabled="catalArticleForm.$invalid" class="btn-success btn"  ><i class="glyphicon glyphicon-save"></i>  {{"Entity_save.title" | translate }}</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>