<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction| translate}} {{'CatalArtManufSupp_description.title'| translate}} : {{catalArtManufSupp.artIdentif}}</b> </div>
    <div class="panel-body">
<form id="CatalArtManufSuppForm" name="CatalArtManufSuppForm" class="form-horizontal" novalidate="" >
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.msIdentif.$invalid}">
        <label for="msIdentif" class="control-label">{{"CatalArtManufSupp_msIdentif_description.title"|translate}}</label>
        <div id="msIdentifControls" class="controls">
            <input type="text" class="form-control" name="msIdentif" id="msIdentif" ng-model="catalArtManufSupp.msIdentif" required autocomplete="off"
                   typeahead="businessPartner as businessPartner.cpnyName for businessPartner in loadBusinessPartner($viewValue)"
                   typeahead-loading="loading" placeholder="find a Supplier/Manufacturer">
            <span class="help-inline" ng-show="CatalArtManufSuppForm.msIdentif.$error.required">required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.msType.$invalid}">
        <label for="msType" class="control-label">{{"CatalArtManufSupp_msType_description.title"|translate}}</label>
        <div id="msTypeControls" class="controls">
            <select id="msType" name="msType" class="form-control" ng-options="cipOrigine.name for cipOrigine in cipOrigines" ng-model="selectedCipOrigine"></select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.warrantyMonths.$invalid}">
        <label for="warrantyMonths" class="control-label">{{"CatalArtManufSupp_warrantyMonths_description.title"|translate}}</label>
        <div id="warrantyMonthsControls" class="controls">
            <input id="warrantyMonths" name="warrantyMonths" type="text" ng-model="catalArtManufSupp.warrantyMonths" class="form-control" placeholder="{{'CatalArtManufSupp_warrantyMonths_description.title'|translate}}"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.returnDays.$invalid}">
        <label for="returnDays" class="control-label">{{"CatalArtManufSupp_returnDays_description.title"|translate}}</label>
        <div id="returnDaysControls" class="controls">
            <input id="returnDays"  name="returnDays" class="form-control" type="text" ng-model="catalArtManufSupp.returnDays" placeholder="{{'CatalArtManufSupp_returnDays_description.title'|translate}}"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.pppu.$invalid}">
        <label for="pppu" class="control-label">{{"CatalArtManufSupp_pppu_description.title"|translate}}</label>
        <div id="pppuControls" class="controls">
            <input id="pppu" name="pppu" type="text" ng-model="catalArtManufSupp.pppu" class="form-control" placeholder="{{'CatalArtManufSupp_pppu_description.title'|translate}}"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.pppuCurrIso3.$invalid}">
        <label for="pppuCurrIso3" class="control-label">{{"CatalArtManufSupp_pppuCurrIso3_description.title"|translate}}</label>
        <div id="pppuCurrIso3Controls" class="controls">
            <select id="pppuCurrIso3" name="pppuCurrIso3" class="form-control" ng-options="currency for currency in currencys" ng-model="catalArtManufSupp.pppuCurrIso3"></select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtManufSuppForm.vatRate.$invalid}">
        <label for="vatRate" class="control-label">{{"CatalArtManufSupp_vatRate_description.title"|translate}}</label>
        <div id="vatRateControls" class="controls">
            <input id="vatRate" name="vatRate" type="text" class="form-control" ng-model="catalArtManufSupp.vatRate" placeholder="{{'CatalArtManufSupp_vatRate_description.title'|translate}}"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalArtManufSupp" name="saveCatalArtManufSupp" class="btn btn-primary" ng-disabled="isClean() || CatalArtManufSuppForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
        </div>
        <div>
   </form>
</div>
</div>