<div ng-controller="catalArtFeatMappingsCtlr as featCtlr" >
    <a class="btn btn-success margBott10 pull-right" ng-click="featCtlr.openCreateForm('md')"><i class="glyphicon glyphicon-plus"></i> {{'Entity_create.title' | translate}}</a>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{"CatalAbstractFeatMapping_langIso2_description.title"|translate}}</th>
            <th>{{"CatalArtFeatMapping_artName_description.title"|translate}}</th>
            <th>{{"CatalAbstractFeatMapping_purpose_description.title"|translate}}</th>
            <th>{{"CatalAbstractFeatMapping_usage_description.title"|translate}}</th>
            <th>{{"CatalAbstractFeatMapping_warnings_description.title"|translate}}</th>
            <th>{{"CatalAbstractFeatMapping_substances_description.title"|translate}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="catalArtFeatMapping in featCtlr.catalArtFeatMappings">
            <td>{{catalArtFeatMapping.langIso2}}</td>
            <td>{{catalArtFeatMapping.artName}}</td>
            <td>{{catalArtFeatMapping.purpose}}</td>
            <td>{{catalArtFeatMapping.usage}}</td>
            <td>{{catalArtFeatMapping.warnings}}</td>
            <td>{{catalArtFeatMapping.substances}}</td>
            <td><a class="" ng-click="featCtlr.openEditForm('md',$index);"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
            <td><a ng-click="featCtlr.deleteItem()" ><i class="glyphicon glyphicon-trash" ></i></a></td>
        </tr>
    </table>
</div>