<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction| translate}} {{'CatalArtDetailConfig_description.title'| translate}} : {{catalArtDetailConfig.pic}}</b> </div>
    <div class="panel-body">
<form id="CatalArt2ProductFamily" name="CatalArt2ProductFamily" class="form-horizontal" novalidate="" >
    <div class="control-group" ng-class="{error: CatalArt2ProductFamily.artPic.$invalid}">
        <label for="artPic" class="control-label">{{"CatalArtDetailConfig_artPic_description.title"|translate}}</label>
        <div id="artPic" class="controls">
            <input id="artPic" disabled name="artPic" class="form-control" ng-model="catalArt2ProductFamily.artPic" />
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArt2ProductFamily.famCode.$invalid}">
        <label for="famCode" class="control-label">{{"CatalArt2ProductFamily_description.title"|translate}}</label>
        <div id="famCode" class="controls">
            <select class="form-control" name="catalArt2ProductFamily" ng-model="catalArt2ProductFamily.famCode"
                    ng-options="family.famCode as family.features.familyName for family in catalProductFamilies" />
        </div>
    </div>
        <div class="controls">
            <button id="saveCatalArt2ProductFamily" name="saveCatalArt2ProductFamily" class="btn btn-primary" ng-disabled="isClean() || CatalArt2ProductFamily.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> {{"Entity_create.title" | translate}} </button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> {{"Entity_cancel.title" | translate}} </button>
        </div>
</form>
</div>
</div>