<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ "Entity_show.title"| translate}}</b> </div>
            <div class="panel-body">
                <label class="error alert-danger" >{{catalArticleShowCtlr.error}} </label>
                <form  name="catalArticleForm" class="form-horizontal" novalidate="">
                       <div class="form-group">
                           <label class="col-lg-2">{{"CatalArticle_pic_description.title"| translate}} :</label>
                           <div class="col-lg-3" ng-class="{ 'has-error' : catalArticleForm.pic.$invalid }" >
                               <input type="text" ng-model="catalArticleShowCtlr.catalArticle.pic" name="pic" class="form-control" disabled >
                           </div>
	                        <label class="col-lg-2">{{"CatalArticle_articleName_description.title"| translate}} :</label>
	                        <div class="col-lg-5" ng-class="{ 'has-error' : catalArticleForm.articleName.$invalid }" >
	                            <input type="text" ng-model="catalArticleShowCtlr.catalArticle.features.artName" name="articleName" class="form-control" disabled >
	                        </div>
                    	</div>
	                    <div class="form-group">
	                        <label class="col-lg-2">{{"CatalArticle_sppu_description.title"| translate}} :</label>
	                        <div class="col-lg-2" >
	                            <input type="text" ng-model="catalArticleShowCtlr.catalArticle.sppu" name="sppu" class="form-control" disabled>
	                        </div>
	                        <label class="col-lg-2 ">{{"CatalArticle_maxDisctRate_description.title"| translate}} :</label>
	                        <div class="col-lg-2" >
	                            <input type="text" ng-model="catalArticleShowCtlr.catalArticle.maxDisctRate" name="maxDisctRate" class="form-control" disabled>
	                        </div>
                            <label class="col-lg-2 ">{{"CatalArticle_vatRate_description.title"| translate}} :</label>
                            <div class="col-lg-2">
                                <input type="text" ng-model="catalArticleShowCtlr.catalArticle.vatRate" value="19.25" name="vatRate" class="form-control" disabled>
                            </div>
	                    </div>
                        <div class=" form-group ">
                            <label class="col-lg-2 ">{{"CatalArticle_minStockQty_description.title"| translate}} :</label>
                            <div class="col-lg-2" >
                                <input type="text" ng-model="catalArticleShowCtlr.catalArticle.minStockQty" name="minStockQty" class="form-control" disabled>
                            </div>
                            <label class="col-lg-2">{{"CatalArticle_maxStockQty_description.title"| translate}} :</label>
                            <div class="col-lg-2" >
                                <input type="text" ng-model="catalArticleShowCtlr.catalArticle.maxStockQty" name="maxStockQty" class="form-control" disabled>
                            </div>
                            <label class="col-lg-1">{{"CatalArticle_active_description.title"| translate}} :</label>
                            <div class="col-lg-1" >
                                <input type="checkbox" ng-model="catalArticleShowCtlr.catalArticle.active" name="active" class="form-control" disabled>
                            </div>
                            <label class="col-lg-1 ">{{"CatalArticle_authorizedSale_description.title"| translate}} :</label>
                            <div class="col-lg-1" >
                                <input type="checkbox" ng-model="catalArticleShowCtlr.catalArticle.authorizedSale" name="authorizedSale" class="form-control" disabled>
                            </div>
                        </div>
                </form>

                <div  class="row ">
                    <tabset justified="true">
                        <tab heading="{{'CatalPicMapping_description.title' | translate}}">
                            <br/>
                            <div ng-include="'views/CatalArticle/CatalPicMappings.html'" />
                        </tab>

                        <tab heading="{{'CatalArtFeatMapping_description.title' | translate}}">
                            <br/>
                            <div ng-include="'views/CatalArticle/CatalArtFeatMappings.html'" />
                        </tab>

                        <tab heading="{{'CatalArtManufSupp_description.title' | translate}}">
                            <br />
                            <div ng-include="'views/CatalArticle/CatalArtManufSupp.html'"></div>
                        </tab>
                        <tab heading="{{'CatalArtEquivalence_description.title' | translate}}">
                            <br />
                            <div ng-include="'views/CatalArticle/CatalArtEquivalence.html'"></div>
                        </tab>
                        <tab heading="{{'CatalProductFamily_description.title' | translate}}">
                            <br />
                            <div ng-include="'views/CatalArticle/CatalArt2ProductFamily.html'"></div>
                        </tab>
                        <tab heading="{{'CatalArtDetailConfig_description.title' | translate}}">
                            <br />
                            <div ng-include="'views/CatalArticle/CatalArtDetailConfig.html'"></div>
                        </tab>
                    </tabset>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-3">
                        <a class="btn-default btn" ng-click="catalArticleShowCtlr.previousArticle(catalArticleShowCtlr.catalArticle.pic)" ><i class="glyphicon glyphicon-chevron-left"></i> {{'Entity_previous.title' | translate}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn-danger btn" href="#/CatalArticles" ><i class="" ></i> {{'List' | translate}}</a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn-default btn" ng-click="catalArticleShowCtlr.nextArticle(catalArticleShowCtlr.catalArticle.pic)" >{{'Entity_next.title' | translate}} <i class="glyphicon glyphicon-chevron-right" ></i></a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn-primary btn" href="#/CatalArticles/edit/{{catalArticleShowCtlr.catalArticle.pic}}" ><i class="glyphicon glyphicon-edit"></i> {{'Entity_edit.title' | translate}}</a>
                    </div>
                </div>

            </div>
        </div>
</div>