<div ng-controller="catalPicMappingsCtlr as picCtlr" >
    <a class="btn btn-success margBott10 pull-right" ng-click="picCtlr.openCreateForm('md')"><i class="glyphicon glyphicon-plus"></i> {{'Entity_create.title' | translate}}</a>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{"CatalPicMapping_artIdentif_description.title"|translate}}</th>
            <th>{{"CatalPicMapping_code_description.title"|translate}}</th>
            <th>{{"CatalPicMapping_codeOrigin_description.title"|translate}}</th>
            <th>{{"CatalPicMapping_addInfo_description.title"|translate}}</th>
            <th>{{"CatalPicMapping_priority_description.title"|translate}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="catalPicMapping in picCtlr.catalPicMappings">
            <td>{{catalPicMapping.artIdentif}}</td>
            <td>{{catalPicMapping.code}}</td>
            <td>{{catalPicMapping.codeOriginTitle}}</td>
            <td>{{catalPicMapping.addInfo}}</td>
            <td>{{catalPicMapping.priority}}</td>
            <td><a class="" ng-click="picCtlr.openEditForm('md',$index);"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
            <td><a ng-click="picCtlr.deleteItem()" ><i class="glyphicon glyphicon-trash" ></i></a></td>
        </tr>
    </table>
</div>