<div class="form-horizontal">
    <h3>Create a new StkMvnt</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/StkMvnts/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for StkMvnts</h3>
    <form id="StkMvntSearch" class="form-horizontal">
    <div class="control-group">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div class="controls">
            <input id="lotPic" name="lotPic" type="text" ng-model="search.lotPic" placeholder="Enter the StkMvnt Lot Pic"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="artPic" class="control-label">Art Pic</label>
        <div class="controls">
            <input id="artPic" name="artPic" type="text" ng-model="search.artPic" placeholder="Enter the StkMvnt Art Pic"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="mvgUser" class="control-label">Mvg User</label>
        <div class="controls">
            <input id="mvgUser" name="mvgUser" type="text" ng-model="search.mvgUser" placeholder="Enter the StkMvnt Mvg User"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="movedQty" class="control-label">Moved Qty</label>
        <div class="controls">
            <input id="movedQty" name="movedQty" type="text" ng-model="search.movedQty" placeholder="Enter the StkMvnt Moved Qty"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="mvntType" class="control-label">Mvnt Type</label>
        <div class="controls">
            <select id="mvntType" name="mvntType" ng-model="search.mvntType" ng-options="m as m for m in mvntTypeList">
                <option value="">Choose a Mvnt Type</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="mvntOrigin" class="control-label">Mvnt Origin</label>
        <div class="controls">
            <select id="mvntOrigin" name="mvntOrigin" ng-model="search.mvntOrigin" ng-options="m as m for m in mvntOriginList">
                <option value="">Choose a Mvnt Origin</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="mvntDest" class="control-label">Mvnt Dest</label>
        <div class="controls">
            <select id="mvntDest" name="mvntDest" ng-model="search.mvntDest" ng-options="m as m for m in mvntDestList">
                <option value="">Choose a Mvnt Dest</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="origDocNbrs" class="control-label">Orig Doc Nbrs</label>
        <div class="controls">
            <input id="origDocNbrs" name="origDocNbrs" type="text" ng-model="search.origDocNbrs" placeholder="Enter the StkMvnt Orig Doc Nbrs"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Lot Pic</th>
                <th>Art Pic</th>
                <th>Mvnt Dt</th>
                <th>Mvg User</th>
                <th>Moved Qty</th>
                <th>Mvnt Type</th>
                <th>Mvnt Origin</th>
                <th>Mvnt Dest</th>
                <th>Orig Doc Nbrs</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.lotPic}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.artPic}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.mvntDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.mvgUser}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.movedQty}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.mvntType}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.mvntOrigin}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.mvntDest}}</a></td>
                <td><a href="#/StkMvnts/edit/{{result.id}}">{{result.origDocNbrs}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>