<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{stkMvntUtils.translations['Entity_show.title']}}</b>
                <b> {{stkMvntUtils.translations['StkMvnt_description.title']}}</b> 
            </div>
            <div class="panel-body">
                <label class="error alert-danger" >{{stkMvntShowCtlr.error}} </label>
                <form  name="slsOrderForm" class="form-horizontal" novalidate="">
                    
                       <div class="form-group">
                           <label class="col-lg-2">{{stkMvntUtils.translations['StkMvnt_lotPic_description.title']}} :</label>
                           <div class="col-lg-2">
                               <input type="text" value="{{stkMvnt.lotPic}}" name="lotPic" class="form-control" disabled >
                           </div>
	                       <label class="col-lg-2">{{stkMvntUtils.translations['StkMvnt_artPic_description.title']}}:</label>
	                        <div class="col-lg-2">
	                            <input type="text" value="stkMvnt.artPic" name="artPic" class="form-control" disabled >
	                        </div>
                           <label class="col-lg-2">{{stkMvntUtils.translations['StkMvnt_artName_description.title']}}:</label>
	                        <div class="col-lg-2">
	                            <input type="text" value="stkMvnt.features.artName" name="artName" class="form-control" disabled >
	                        </div>
                    	</div>
                    
	                    <div class="form-group">
                            <label class="col-lg-2">{{stkMvntUtils.translations['StkMvnt_mvntDt_description.title']}}:</label>
	                        <div class="col-lg-2">
	                            <input type="text" value="{{stkMvntUtils.formatDate(stkMvnt.mvntDt, null)}}" name="mvntDt" class="form-control" disabled >
	                        </div>
                            <label class="col-lg-2">{{stkMvntUtils.translations['StkMvnt_mvgUser_description.title']}} :</label>
	                        <div class="col-lg-2">
	                            <input type="text" value="{{stkMvnt.mvgUser}}" name="mvgUser" class="form-control" disabled>
	                        </div>
                            <label class="col-lg-2">{{stkMvntUtils.translations['StkMvnt_mvntType_description.title']}} :</label>
                            <div class="col-lg-2" >
                                <input type="text" value="{{stkMvntUtils.stkMvntTypeI18nMsgTitleValue(stkMvnt.mvntType)}}" name="mvntType" class="form-control" disabled>
                            </div>	                        
	                    </div>
                    
                        <div class=" form-group">
                            <label class="col-lg-2 ">{{stkMvntUtils.translations['StkMvnt_movedQty_description.title']}} :</label>
	                        <div class="col-lg-2" >
	                            <input type="text" value="{{stkMvnt.movedQty}}" name="movedQty" class="form-control" disabled>
	                        </div>
                            <label class="col-lg-2 ">{{stkMvntUtils.translations['StkMvnt_mvntOrigin_description.title']}} :</label>
                            <div class="col-lg-2">
                                <input type="text" value="{{stkMvnt.mvntOrigin}}" name="mvntOrigin" class="form-control" disabled>
                            </div>
                        
                            <label class="col-lg-2 ">{{stkMvntUtils.translations['StkMvnt_mvntDest_description.title']}} :</label>
                            <div class="col-lg-2" >
                                <input type="text" value="{{stkMvnt.mvntDest}}" name="mvntDest" class="form-control" disabled>
                            </div>  
                        </div>
                </form>
             </div>
        </div>
</div>