<div class="row">
<div class="panel panel-default ng-scope">
   <div class="panel-heading no-collapse">    
     <div class="row">
        <div class="col-lg-3">
            <b>{{stkMvntUtils.translations['Entity_search.title']}} </b>
            <b>{{stkMvntUtils.translations['StkMvnts_description.title']}}</b>
        </div>
     </div>
    </div>       
    <div class="panel-body">
        <div class="row">
            <form role="form" class="">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="lotPic">{{stkMvntUtils.translations['StkMvnt_lotPic_description.title']}}</label>
                        <div class="">
                            <input type="text" id="lotPic" ng-model="searchInput.entity.lotPic" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="artPic">{{stkMvntUtils.translations['StkMvnt_artPic_description.title']}}</label>
                        <div class="">
                            <input type="text" ng-model="searchInput.entity.artPic" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="artName">{{stkMvntUtils.translations['StkMvnt_artName_description.title']}}
                        </label>
                        <div class="">
                            <input type="text" id="artName" autocomplete="off" typeahead="article as article.features.artName for article in stkMvntUtils.loadArticlesByname($viewValue) | filter:$viewValue" typeahead-loading="loading" ng-model="searchParam.article" class="form-control">
                        </div>
                     </div>
                 </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="mvgUser">{{stkMvntUtils.translations['StkMvnt_mvgUser_description.title']}}</label>
                        <div class="">
                            <input type="text" id="mvgUser" autocomplete="off" typeahead="mvgUser as mvgUser.loginName for mvgUser in stkMvntUtils.loadUsers($viewValue) | filter:$viewValue" typeahead-loading="loading" ng-model="searchParam.mvgUser" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="mvntDtFrom">{{stkMvntUtils.translations['StkMvnt_mvntDtFrom_description.title']}}</label>
                        <div class="">
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy" id="expirDtFrom" ng-model="searchInput.mvntDtFrom" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="mvntDtTo">{{stkMvntUtils.translations['StkMvnt_mvntDtTo_description.title']}}</label>
                        <div class="">
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy" id="expirDtTo" ng-model="searchInput.mvntDtTo" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="mvntType">{{stkMvntUtils.translations['StkMvnt_mvntType_description.title']}}</label>
                        <select id="mvntType" class="form-control" name="mvntType" ng-model="searchInput.entity.mvntType"
							                    ng-options="mvntType.enumKey as stkMvntUtils.translations[mvntType.translKey]
							                    	for mvntType in stkMvntUtils.stkMvntTypes">
							                    <option value=""/>
				        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <div class="form-group">
                        <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                            <i class="glyphicon glyphicon-print"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
        <div class="panel panel-default ">
         <div class="panel-heading no-collapse"><b>{{stkMvntUtils.translations['Entity_Result.title']}}</b></div>
            <div class="panel-body">
                 <div class="col-lg-12">
                     <div class="table-overflow-middle row">
                         <table class="table table-bordered  table-striped pointer-element" >
                             <thead>
                             <tr>
                                 <th class="text-center">{{stkMvntUtils.translations['StkMvnt_lotPic_description.title']}}</th>
                                 <th class="text-center">{{stkMvntUtils.translations['StkMvnt_artPic_description.title']}}</th>
                                 <th class="text-center">{{stkMvntUtils.translations['StkMvnt_artName_description.title']}}</th>
                                 <th class="text-center">{{stkMvntUtils.translations['StkMvnt_mvgUser_description.title']}}</th>
                                 <th class="text-center">{{stkMvntUtils.translations['StkMvnt_mvntDt_description.title']}}</th>
                                 <th class="text-center">{{stkMvntUtils.translations['StkMvnt_mvntType_description.title']}}</th>
                                 <th></th>
                             </tr>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="stkMvnt in stkMvnts()">
                                     <td>{{stkMvnt.lotPic}}</td>
                                     <td>{{stkMvnt.artPic}}</td>
                                     <td>{{stkMvnt.artFeatures.artName}}</td>
                                     <td>{{stkMvnt.mvgUser}}</td>
                                     <td>{{stkMvnt.mvntDt|date:'dd MM yyyy'}}</td>
                                     <td>{{stkMvnt.mvntType}}</td>
                                     <td>
                                         <a href="" ng-click="show(stkMvnt,$index)">
                                             <i class="glyphicon glyphicon-eye-open"></i>
                                         </a>
                                     </td>
                                 </tr>
                             </tbody>
                           </table>
                       </div>
                     <ul  class="pull-right">
                         <pagination  
                            max-size="maxSize" boundary-links="true"
                            previous-text="{{stkMvntUtils.translations['Entity_previous.title']}}" 
                            next-text="{{stkMvntUtils.translations['Entity_next.title']}}" 
                            first-text="{{stkMvntUtils.translations['Entity_first.title']}}" 
                            last-text="{{stkMvntUtils.translations['Entity_last.title']}}" 
                            total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" 
                            ng-model="currentPage" ng-change="paginate()">
                         </pagination>
                     </ul>
                 </div>
              </div>
           </div>
</div>
