<section class="mainbar" data-ng-init="vm.toViewStkSection()">

    <div class="panel panel-primary">
        <div class="panel-heading">
            {{'app.core.view.title' | translate}} {{'StockSection.title' | translate}}
        </div>
        <div class="panel-body">

            <form novalidate>
                <formly-form model="vm.stkSection" fields="vm.formFields">
                </formly-form>
            </form>

            <hr/>
            <div class="btn-toolbar button-wrapper">
                <a class="btn btn-success col-xs-5 col-sm-2" href="#/stk-section/{{vm.stkSection.id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i> {{'app.core.edit.title' | translate}}
                </a>
                <a class="btn btn-danger col-xs-5 col-sm-3" title="Remove"
                   ng-really-message="{{'app.core.delete.confirmation.title' | translate}} {{'StockSection.title' | translate}}"
                   ng-really-click="vm.remove()" item="vm.stkSection">
                    <i class="glyphicon glyphicon-remove-circle"></i> {{'app.core.delete.title' | translate}}
                </a>
                <a class="btn btn-primary col-xs-12 col-sm-3" href="#/stk-section">
                    <i class="glyphicon glyphicon-list"></i> {{'app.core.list.title' | translate}}
                    {{'StockSections.title' | translate }}
                </a>
            </div>

        </div>
    </div>

</section>
