<section class="" ng-controller="CatalArtDetailConfigController as vm" data-ng-init="vm.toEditCatalArtDetailConfig()">

  <div class="panel panel-primary">
    <div class="panel-heading">
        {{'CatalArtDetailConfig.edit.title' | translate}}
    </div>
    <div class="panel-body">

      <form data-ng-submit="vm.update(vmModal.model)" novalidate>

        <formly-form model="vmModal.model" fields="vm.formFields" form="vm.form">
        </formly-form>

        <hr/>
        <div class="form-group">
            <button ng-click="vmModal.ok()" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i>       {{'CatalArtDetailConfig.save.title' | translate}}

            </button>
            <a class="btn btn-danger" ng-click="vmModal.cancel()">
              <i class="glyphicon glyphicon-remove"></i>       {{'CatalArtDetailConfig.cancel.title' | translate}}

            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>


    </div>
  </div>

</section>
