<section class="" ng-controller="CatalArtDetailConfigController as vmArtDetail" data-ng-init="vmArtDetail.init()" >

  <div class="panel panel-primary">
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ng-click="vmArtDetail.createForm({})">
          <i class="glyphicon glyphicon-open"></i>       {{'CatalArtDetailConfig.new.title' | translate}}

        </a>
      </div>

      <table class="table table-condensed table-striped">
          <thead>
              <th>{{'CatalArtDetailConfig.qualifier' | translate}}</th>
              <th>{{'CatalArtDetailConfig.qtyOfDtldInMain' | translate}}</th>
              <th>{{'CatalArtDetailConfig.sppu' | translate}}</th>
              <th>{{'CatalArtDetailConfig.mngInPptn' | translate}}</th>
              <th>{{'CatalArtDetailConfig.artIdentif' | translate}}</th>
          </thead>
          <tr ng-repeat="catalArtDetailConfig in vmArtDetail.data">
              <td>{{catalArtDetailConfig.qualifier}}</td>
              <td>{{catalArtDetailConfig.qtyOfDtldInMain}}</td>
              <td>{{catalArtDetailConfig.sppu}}</td>
              <td>{{catalArtDetailConfig.mngInPptn}}</td>
              <td>
                 <a class="btn btn-link" title="{{catalArtDetailConfig.artIdentif}}" href="#/article/{{catalArtDetailConfig.artIdentif}}">
                 	{{catalArtDetailConfig.artIdentif}}
                 </a>
              </td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ng-click="vmArtDetail.showForm(catalArtDetailConfig)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ng-click="vmArtDetail.editForm(catalArtDetailConfig)">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vmArtDetail.remove(catalArtDetailConfig)" item="catalArtDetailConfig">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
