<section class="mainbar" id="articlePanel">

	<div class="panel panel-primary">
	    <div class="panel-heading">
	        <b><span data-ng-bind="'app.core.create.title' | translate"></span> <span data-ng-bind="'CatalArticle.new.title' | translate"></span></b>
	        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse" data-parent="#articlePanel" data-target="#articleCreateToggle"></button>
	    </div>
	    <div class="panel-collapse collapse" id="articleCreateToggle">
	    	<div data-ng-include="'/adcatal.client/src/client/app/article/views/create.html'"></div>
	    </div>
	</div>

	<div class="panel panel-default">
    <div class="panel-body">
		<table data-st-table="vm.data.list" data-st-pipe="vm.callServer" class="table table-bordered  table-striped pointer-element">
          	<thead>
          		<tr>
		        	<th><span data-ng-bind="'CIP' | translate"></span></th>
					<th><span data-ng-bind="'CatalArticle.artName' | translate"></span></th>
					<th><span data-ng-bind="'CatalArticle.prodFmly' | translate"></span></th>
					<th><span data-ng-bind="'CatalArticle.sppu' | translate"></span></th>
					<th><span data-ng-bind="'CatalArticle.vatRate' | translate"></span></th>
					<th><span data-ng-bind="'CatalArticle.maxDisctRate' | translate"></span></th>
					<th><span data-ng-bind="'Action.title' | translate"></span></th>
              	</tr>
                <tr>
			  		<th><input data-st-search="identif" class="input-sm form-control" type="search"/></th>
             		<th></th>
             		<th></th>
             		<th><input data-st-search="sppu" class="input-sm form-control" type="number"/></th>
             		<th></th>
             		<th><input data-st-search="maxDisctRate" class="input-sm form-control" type="search"/></th>
             		<th></th>
				</tr>
          	</thead>
          	<tbody>
	           <tr data-ng-repeat="article in vm.data.list">
	              <td name="identif-catalArticle" ><span data-ng-bind-html="article.identif"></span></td>
	              <td><span data-ng-bind-html="article.artName"></span></td>
	              <td><span data-ng-bind-html="article.famNames"></span></td>
	              <td><span data-ng-bind-html="article.sppu"></span></td>
	              <td><span data-ng-bind-html="article.vatRate"></span></td>
	              <td><span data-ng-bind-html="article.maxDisctRate"></span></td>
	              <td>
	                 <div class="table-actions">
	                      <a class="btn btn-default" title="View" href="#/article/{{article.id}}">
	                        <span class="glyphicon glyphicon-eye-open"></span>
	                      </a>
	                      <a class="btn btn-default" title="Edit" href="#/article/{{article.id}}/edit">
	                        <span class="glyphicon glyphicon-edit"></span>
	                      </a>
	                      <!--<a class="btn btn-danger " title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(article)" item="article">
	                        <span class="glyphicon glyphicon-remove-circle"></span>
	                      </a>-->
	                  </div>
	              </td>
	          </tr>
          	</tbody>
          	<tfoot>
				<tr>
					<td colspan="9" class="text-center">
						<div data-st-pagination="" data-st-items-by-page="vm.itemsByPage"></div>
					</td>
				</tr>
			</tfoot>
		</table>
    </div>
	</div>

</section>
