<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
        {{'CatalArticle.list.title' | translate}}
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/article/create">
          <i class="glyphicon glyphicon-open"></i> {{'CatalArticle.new.title' | translate}}
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true"  class="table table-condensed table-striped">
          <thead>
          <th>{{'CIP' | translate}}</th>
          <th>{{'CatalArticle.sppu' | translate}}</th>
          <th>{{'CatalArticle.maxDisctRate' | translate}}</th>
          <th>{{'CatalArticle.minStockQty' | translate}}</th>
          <th>{{'CatalArticle.minStockQty' | translate}}</th>
          <th>{{'CatalArticle.vatRate' | translate}}</th>
          <th>{{'CatalArticle.active' | translate}}</th>
          <th>{{'CatalArticle.authorizedSale' | translate}}</th>

          </thead>
          <tr ng-repeat="article in $data">

              <td filter="{ 'identif-catalArticle': 'text' }" >{{article.identif}}</td>
              <td>{{article.sppu}}</td>
              <td>{{article.maxDisctRate}}</td>
              <td>{{article.minStockQty}}</td>
              <td>{{article.maxStockQty}}</td>
              <td>{{article.vatRate}}</td>
              <td>{{article.active}}</td>
              <td>{{article.authorizedSale}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/article/{{article.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/article/{{article.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(article)" item="article">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
