<div data-ng-init="vm.setFormSearchFields()">
      
  <form data-ng-submit="vm.search()" novalidate>
    <legend>{{'app.core.search.title' | translate}} {{'CatalArticle.new.title' | translate}}</legend>
    <fieldset>  
        <formly-form model="vm.article" fields="vm.formSearchFields" form="vm.form">
        </formly-form>

        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-search"></i> {{'app.core.search.title' | translate}}
            </button>
            <a class="btn btn-danger" 
               title="{{'app.core.clear.title' | translate}}" 
               ng-click="vm.clear()">
               <span class="glyphicon glyphicon-trash"></span>
                {{'app.core.clear.title' | translate}}
            </a>
        </div>
    </fieldset>
    <hr/>

  </form>

</div>
