<section class="mainbar" data-ng-init="vm.toViewArticle()">

  <div class="panel panel-primary">
    <div class="panel-heading">
        {{'CatalArticle.view.title' | translate}}
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.article" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/article/{{vm.article.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> {{'CatalArticle.edit.title' | translate}}
        </a>
       <!-- <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.article">
          <i class="glyphicon glyphicon-remove-circle"></i> {{'CatalArticle.delete.title' | translate}}
        </a>-->
        <a class="btn btn-primary" href="/article">
          <i class="glyphicon glyphicon-list"></i> {{'CatalArticle.list.title' | translate}}
        </a>
      </div>
        <hr/>
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#catal-art-lang-mapping" aria-controls="catal-art-lang-mapping" role="tab" data-toggle="tab">{{'CatalArtFeatMapping.title'|translate}}</a></li>
                <li role="presentation"><a href="#catal-art-2-product-family" aria-controls="catal-art-2-product-family" role="tab" data-toggle="tab">{{'CatalArt2ProductFamily.title'|translate}}</a></li>
                <li role="presentation"><a href="#catal-art-detail-config" aria-controls="catal-art-detail-config" role="tab" data-toggle="tab">{{'CatalArtDetailConfig.title'|translate}}</a></li>
                <li role="presentation"><a href="#catal-art-equivalence" aria-controls="catal-art-equivalence" role="tab" data-toggle="tab">{{'CatalArtEquivalence.title'|translate}}</a></li>
                <li role="presentation"><a href="#catal-pic-mapping" aria-controls="catal-pic-mapping" role="tab" data-toggle="tab">{{'CatalPicMapping.title'|translate}}</a></li>
                <li role="presentation"><a href="#catal-art-manuf-supp" aria-controls="catal-art-manuf-supp" role="tab" data-toggle="tab">{{'CatalArtManufSupp.title'|translate}}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active"  id="catal-art-lang-mapping">
                    <div ng-include src="'app/catal-art-lang-mapping/views/list.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="catal-art-2-product-family">
                    <div ng-include src="'app/catal-art-2-product-family/views/list.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="catal-art-detail-config">
                    <div ng-include src="'app/catal-art-detail-config/views/list.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="catal-art-equivalence">
                    <div ng-include src="'app/catal-art-equivalence/views/list.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="catal-pic-mapping">
                    <div ng-include src="'app/catal-pic-mapping/views/list.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="catal-art-manuf-supp">
                    <div ng-include src="'app/catal-art-manuf-supp/views/list.html'"></div>
                </div>
            </div>

        </div>

    </div>
  </div>

</section>
