<header ng-switch on="$location.path().indexOf('/CdrPymtHstrys/new') > -1">
    <h3 ng-switch-when="true">Create CdrPymtHstry</h3>
    <h3 ng-switch-when="false">View or edit CdrPymtHstry</h3>
</header>
<form id="CdrPymtHstryForm" name="CdrPymtHstryForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CdrPymtHstryForm.pymntNbr.$invalid}">
        <label for="pymntNbr" class="control-label">Pymnt Nbr</label>
        <div id="pymntNbrControls" class="controls">
            <input id="pymntNbr" name="pymntNbr" type="text" required ng-model="cdrPymtHstry.pymntNbr" placeholder="Enter the CdrPymtHstry Pymnt Nbr"></input>
            <span class="help-inline" ng-show="CdrPymtHstryForm.pymntNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymtHstryForm.cdrNbr.$invalid}">
        <label for="cdrNbr" class="control-label">Cdr Nbr</label>
        <div id="cdrNbrControls" class="controls">
            <input id="cdrNbr" name="cdrNbr" type="text" required ng-model="cdrPymtHstry.cdrNbr" placeholder="Enter the CdrPymtHstry Cdr Nbr"></input>
            <span class="help-inline" ng-show="CdrPymtHstryForm.cdrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCdrPymtHstry" name="saveCdrPymtHstry" class="btn btn-primary" ng-disabled="isClean() || CdrPymtHstryForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCdrPymtHstry" name="deleteCdrPymtHstry" class="btn btn-danger" ng-show="cdrPymtHstry.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>