<section ng-cloak class="mainbar" id="invIntryShowPanel">
<div class="error">
    {{error}}
</div>
<div class="panel panel-default"> 
    <div class="panel-heading">
        <span><b>Article </b></span>
        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse"
                data-parent="#invIntryShowPanel" data-target="#procmtItemSearchToggle"></button>
    </div>
    <div class="panel-collapse in" id="procmtItemSearchToggle">
        <div class="panel-body">
            <form name="procmtItemForm" id="procmtItemForm" novalidate>
                <div class="row">
                    <div class="form-group col-lg-2" ng-class="{ 'has-error' : procmtItemForm.artPic.$invalid }">
                        <label class=" control-label" for="artPic">CIP</label>
                        <input type="text" ng- class="form-control" name="artPic" id="artPic" required
                               autocomplete="off"
                               ng-model="searchInput.entity.artPic"
                               typeahead="article.identif as article.identif for article in salesUtils.loadArticlesByPic($viewValue)"
                               typeahead-min-length="5"
                               typeahead-loading="loading"
                               typeahead-on-select='onArticleSelectedInSearch($item, $model, $label)'>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class=" control-label" for="searchArtName">Article</label>
                        <input type="text" class="form-control" id="searchArtName" autocomplete="off"
                               ng-model="searchInput.entity.artName" name="searchArtName"
                               typeahead="article as article.artName for article in salesUtils.loadArticlesByName($viewValue)"
                               typeahead-loading="loading" typeahead-min-length="4"
                               typeahead-on-select='onArticleSelectedInSearchArtName($item, $model, $label)'>
                    </div>
                    <div class="form-group col-lg-2" ng-class="{ 'has-error' : procmtItemForm.trgtQty.$invalid }">
                        <label class=" control-label" for="trgtQty">Qte</label>
                        <div ng-class="{ 'has-error' : procmtItemForm.qtyBilled.$invalid }">
                            <input type="text" class="form-control" required name="trgtQty" id="trgtQty"
                                   ng-model="searchInput.entity.trgtQty">
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label class=" control-label" for="trgtQty">Stock</label>
                        <div ng-class="{ 'has-error' : procmtItemForm.freeQty.$invalid }">
                            <input type="text" disabled class="form-control" ng-model="searchInput.entity.stock">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-2">
                        <label class=" control-label" for="qtyBilled">P.U</label>
                        <div ng-class="{ 'has-error' : procmtItemForm.qtyBilled.$invalid }">
                            <input type="text" disabled class="form-control"  name="qtyBilled" id="qtyBilled"
                                   ng-model="searchInput.entity.qtyBilled">
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label class=" control-label">Remise %</label>
                        <input type="text"  ng-model="searchInput.entity.remise"
                               name="expirDt" class="form-control">
                    </div>
                    <div class="form-group col-lg-2">
                        <label class=" control-label" for="prchNetPrcTaxIncl">Total</label>
                        <input type="text" ng-model="searchInput.entity.prchNetPrcTaxIncl" id="prchNetPrcTaxIncl"
                               name="prchNetPrcTaxIncl" disabled class="form-control">
                    </div>

                    <div class="form-group col-lg-1">
                        <button class="btn btn-default" ng-disabled="procmtItemForm.$invalid"
                                ng-click="addItem(searchInput.entity)" style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-ok"></i> {{'Entity_add.title'| translate}}
                        </button>
                    </div>
                    <div class="form-group col-lg-1">
                        <button class="btn btn-danger" ng-disabled="procmtItemForm.$invalid"
                                ng-click="delete(searchInput.entity)" style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                    <div class="form-group col-lg-1">
                        <button class="btn btn-success"
                                ng-click="newTickst()" style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-plus"></i> Nouveau Ticket
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-lg-3">
                <label class=" control-label">Remise %</label>
                <input type="text" ng-model="remise"  class="form-control">
            </div>
            <div class="form-group col-lg-2">
                <label class=" control-label">Total</label>
                <input type="text" ng-model="total" disabled class="form-control">
            </div>
            <div class="form-group col-lg-3">
                <label class=" control-label">Recu</label>
                <input type="text" ng-model="total" class="form-control">
            </div>
            <div class="form-group col-lg-2">
                <label class=" control-label">Rendu</label>
                <input type="text" ng-model="rendu" disabled class="form-control">
            </div>
            <div class="form-group col-lg-2">
                <label class=" control-label"></label>
            <button ng-click="closeAndPost();" class="form-control" class="btn btn-warning">Encaisse
            </button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" id="panelV">
    <div class="panel-heading">
        <b> Ticket </b>
        <!--<span ng-show="procmtItems().length==0" class="red" >products are loading ... please wait</span>-->
    </div>
    <div class="panel-body">
        <table class="table table-bordered  table-striped">
            <thead>
            <tr>
                <th></th>
                <th>CIP</th>
                <th>Article</th>
                <th>Qte</th>
                <th>P.U</th>
                <th>Remise</th>
                <th>Total</th>
                <th>
                    <span ng-show="!procmt.conflictDt"><i class="glyphicon glyphicon-ok-circle"
                                                          style="color:green"></i></span>
                    <span ng-show="procmt.conflictDt"><i class="glyphicon glyphicon-ban-circle"
                                                         style="color:red"></i></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="procmtItem in procmtItems()">
                <td data-ng-bind="procmtItem.artPic"></td>
                <td data-ng-bind="procmtItem.artName"></td>
                <td name="asseccedQtyCell" ng-dblclick="editingTrgtQty(procmtItem,$event)">
                    <input type="text" name="trgtQty" class="form-control" ad-focus="procmtItem.editingTrgtQty"
                           ad-enter="updatetrgtQty(procmtItem)" style="width: 35px"
                           ng-model="procmtItem.trgtQty" ng-show="procmtItem.editingTrgtQty"
                           ng-blur="updatetrgtQty(procmtItem)">
                    <span ng-show="!procmtItem.editingTrgtQty && !procmtItem.disabledDt">{{procmtItem.trgtQty | number:0}}</span>
                    <span ng-show="!procmtItem.editingTrgtQty && procmtItem.disabledDt" style="color: red; text-decoration: line-through;">{{procmtItem.trgtQty | number:0}}</span>
                </td>
                <td name="">
                            <span class="" ng-show="procmtItem.editing">
                                <input ng-model="procmtItem.freeQty" class="form-control">
                            </span>
                             <span ng-show="!procmtItem.editing" data-ng-bind="procmtItem.freeQty"></span>
                </td>
                <td name="">
                            <span class="" ng-show="procmtItem.editing">
                                <input ng-model="procmtItem.qtyBilled" class="form-control">
                            </span>
                    <span ng-show="!procmtItem.editing" data-ng-bind="procmtItem.qtyBilled"></span>
                </td>

                <td name="">
                            <span class="" ng-show="procmtItem.editing">
                                <input ng-model="procmtItem.expirDt" class="form-control">
                            </span>
                    <span ng-show="!procmtItem.editing" data-ng-bind="procmtItem.expirDt"></span>
                </td>

                <td name="">
                            <span class="" ng-show="procmtItem.editing">
                                <input ng-model="procmtItem.prchNetPrcTaxIncl" class="form-control">
                            </span>
                    <span ng-show="!procmtItem.editing" data-ng-bind="procmtItem.prchNetPrcTaxIncl"></span>
                </td>
                <td>
                    <div ng-show="salesUtils.isInvtryOpen(procmt)">

                        	<span ng-show="!procmtItem.editing && !procmtItem.disabledDt">
	                        	<a ng-click="editingItem(procmtItem)" class=""><i class="glyphicon glyphicon-edit"></i></a>
                        	</span>

                                                   <span ng-show="procmtItem.editing">
                                                        <a ng-click="updateItem(procmtItem)" class=""><i
                                                                class="glyphicon glyphicon-save"></i></a>
                                                    </span>

                        	<span ng-show="!procmtItem.editing && procmtItem.disabledDt" style="margin-left:10px">
	                        	<a ng-click="enableItem(procmtItem)" class=""><i
                                        class="glyphicon glyphicon-edit red"></i></a>
                        	</span>
                        	<span ng-show="procmtItem.editing && !procmtItem.disabledDt" class="pull-right" style="margin-left: 10px">
	                        	<a ng-click="disableItem(procmtItem)" class=""><i class="glyphicon glyphicon-trash"></i></a>
                        	</span>
                        	<span ng-show="procmtItem.editing" class="pull-right" style="margin-left: 10px">
	                        	<a ng-click="cancelEditItem(procmtItem)" class=""><i
                                        class="glyphicon glyphicon-remove"></i></a>
                        	</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pull-right">
            <pagination total-items="totalItems()" items-per-page="itemPerPage()" class="pagination-sm"
                        ng-model="currentPage" ng-change="paginate()"></pagination>
        </ul>
    </div>
</div>

</section>
