<div>
    <div class="well">
        <h4>
            <a>{{prcmtDeliveryAddItemCtlr.prcmtDelivery.dlvryNbr}}</a> of {{prcmtDeliveryAddItemCtlr.prcmtDelivery.dtOnDlvrySlip | date:'dd-MM-yyyy'}},
            <b>{{"PrcmtDelivery_dlvryNbr_description.title" | translate}}: </b>{{prcmtDeliveryAddItemCtlr.prcmtDelivery.dlvrySlipNbr}},
            <b>{{"PrcmtDelivery_grossPPPreTax_description.title" | translate}}:</b> {{prcmtDeliveryAddItemCtlr.prcmtDelivery.grossPPPreTax}} cfa,
            <b>{{"PrcmtDelivery_netPPTaxIncl_description.title" | translate}}:</b> {{prcmtDeliveryAddItemCtlr.prcmtDelivery.netPPTaxIncl}} cfa,
            <b>{{"PrcmtDelivery_creatingUsr_description.title" | translate}}: </b> {{prcmtDeliveryAddItemCtlr.prcmtDelivery.creatingUsr}},
            <b> Status: </b> <label class="label label-primary">{{prcmtDeliveryAddItemCtlr.prcmtDelivery.dlvryStatus}}</label>
            <label class="label label-warning col-xs-offset-1">{{prcmtDeliveryAddItemCtlr.running}}</label>
        </h4>
        <p class="">
            <a class=" btn btn-default" href="#/"  type="button">Cancel</a>
            <a class=" btn btn-primary" ng-click="prcmtDeliveryAddItemCtlr.handlePrintRequestEvent()" ng-show="!prcmtDeliveryAddItemCtlr.closeStatus" ><i class="glyphicon glyphicon-print" ></i> {{'print' | translate}}</a>
            <button class=" btn btn-primary" ng-click="prcmtDeliveryAddItemCtlr.save()" ng-show="prcmtDeliveryAddItemCtlr.closeStatus" type="button">{{'save' | translate}}</button>
            <button class=" btn btn-primary" ng-click="prcmtDeliveryAddItemCtlr.close()" ng-show="prcmtDeliveryAddItemCtlr.closeStatus" type="button">{{'save_and_close' | translate}}</button>
        </p>
    </div>
    <div class="panel panel-default" ng-show="prcmtDeliveryAddItemCtlr.closeStatus" >
        <div class="panel-heading"><b>{{'Add_Procurement_Delivery_Item' | translate}}</b> </div>
        <div class="panel-body">
            <form name="prcmtDeliveryItemForm" id="prcmtDeliveryItemForm" novalidate >
            <table class="table-bordered" >
                <thead>
                <tr>
                    <th class="clo-lg-2">CIP</th>
                    <th class="col-lg-3">Designation</th>
                    <th>Qte stock</th>
                    <th>Qte</th>
                    <th>Qte Gratuite</th>
                    <th>prix Achat</th>
                    <th>Prix Vente</th>
                    <th>Taux Mul</th>
                    <th>Date P</th>
                    <th><a ng-click="prcmtDeliveryAddItemCtlr.showMore()" class="pointer-element" ng-show="!prcmtDeliveryAddItemCtlr.show" ><i class="glyphicon glyphicon-plus"></i> {{'more' | translate}}</a>
                        <a ng-click="prcmtDeliveryAddItemCtlr.showLess()" class="pointer-element" ng-show="prcmtDeliveryAddItemCtlr.show" ><i class="glyphicon glyphicon-minus"></i> {{'less' | translate}}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                            <input type="hidden" value="{{prcmtDeliveryAddItemCtlr.prcmtDelivery.dlvryNbr}}" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.dlvryNbr" >
                            <td>
                                <div ng-class="{ 'has-error' : prcmtDeliveryItemForm.artPic.$invalid }" >
                                    <input type="text" ng- class="form-control" select-on-click name="artPic" id="artPic" required autocomplete="off" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.artPic"
                                       typeahead="article as article.displayableStr for article in prcmtDeliveryAddItemCtlr.findArticleByCip($viewValue)"
                                       typeahead-loading="loading" typeahead-template-url="views/PrcmtDelivery/CatalTypeaheadTemplate.html" typeahead-on-select='prcmtDeliveryAddItemCtlr.onSelect($item, $model, $label)' >
                                </div>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error' : prcmtDeliveryItemForm.artName.$invalid }" >
                                    <input type="text" class="form-control" select-on-click focus required id="artName" autocomplete="off" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.artName"
                                       typeahead="article as article.displayableStr for article in prcmtDeliveryAddItemCtlr.findArticleByName($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='prcmtDeliveryAddItemCtlr.onSelect($item, $model, $label)' name="artName" >
                                </div>
                            </td>
                        <td>
                            <div >
                                <input type="text" class="form-control" disabled name="stkQtyPreDlvry" id="stkQtyPreDlvry" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.stkQtyPreDlvry" >
                            </div>
                        </td>
                            <td>
                                <div ng-class="{ 'has-error' : prcmtDeliveryItemForm.qtyDlvrd.$invalid }" >
                                    <input type="text" class="form-control" required name="qtyDlvrd" id="qtyDlvrd" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.qtyDlvrd" >
                                </div>
                            </td>
                            <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.freeQty" ></td>
                            <td>
                                <div ng-class="{ 'has-error' : prcmtDeliveryItemForm.pppuPreTax.$invalid }" >
                                    <input type="text" class="form-control" required name="pppuPreTax" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.pppuPreTax" >
                                </div>
                            </td>
                            <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.sppuPreTax" ></td>
                            <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.taux" ng-change="prcmtDeliveryAddItemCtlr.tauxMultiplicateur()" ></td>
                            <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.expirDt" placeholder="MM/YYYY" ></td>
                            <td><button class="btn btn-primary" ng-enter="prcmtDeliveryAddItemCtlr.addItem()" ng-disabled="prcmtDeliveryItemForm.$invalid" ng-click="prcmtDeliveryAddItemCtlr.addItem()" ><i class="glyphicon glyphicon-plus"></i> Add</button></td>

                    </tr>
                </tbody>
            </table>
             <div ng-show="prcmtDeliveryAddItemCtlr.show" >
                <table class="table-bordered" >
                    <thead>
                    <tr>
                        <th class="">{{'PrcmtDlvryItem_lotPic_description.title' | translate}}</th>
                        <th class="">{{'PrcmtDlvryItem_supplier_description.title' | translate}}</th>
                        <th>{{'PrcmtDlvryItem_rebate_description.title' | translate}}</th>
                        <th>{{'PrcmtDlvryItem_rebate_description.title' | translate}} %</th>
                        <th>{{'PrcmtDlvryItem_vatPct_description.title' | translate}}</th>
                        <th>{{'PrcmtDlvryItem_vatSalesPct_description.title' | translate}} Vente</th>
                        <th>{{'PrcmtDlvryItem_minSppuHT_description.title' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div>
                                <input type="text" ng- class="form-control"
                                       name="lotPic" id="lotPic" autocomplete="off"
                                       ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.lotPic" >
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.supplier" id="supplier" name="supplier" class="form-control"
                                       autocomplete="off" typeahead="businessPartner.ptnrNbr as businessPartner.cpnyName for businessPartner in prcmtDeliveryAddItemCtlr.loadBusinessPartner($viewValue)"
                                       typeahead-loading="loading" placeholder="find a Supplier/Manufacturer" value="{{prcmtDeliveryAddItemCtlr.prcmtDelivery.supplier}}">
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.rebateAmt" ></td>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="rebatePct" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.rebatePct" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.vatPct"></td>
                        <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.vatSalesPct" ></td>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="minSppuHT" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.minSppuHT" >
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <table class="table-bordered" >
                    <thead>
                    <tr>
                        <th>{{'PrcmtDlvryItem_purchWrntyDys_description.title' | translate}}</th>
                        <th>{{'PrcmtDlvryItem_purchRtrnDays_description.title' | translate}}</th>
                        <th>{{'PrcmtDlvryItem_salesWrntyDys_description.title' | translate}}</th>
                        <th>{{'PrcmtDlvryItem_salesRtrnDays_description.title' | translate}}</th>
                        <th>{{'PrcmtDelivery_rcvngOrgUnit_description.title' | translate}}</th>
                        <th>Section</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="purchWrntyDys" id="purchWrntyDys" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.purchWrntyDys" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.purchRtrnDays" ></td>
                        <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.salesWrntyDys"></td>
                        <td><input type="text" class="form-control" ng-model="prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolder.dlvryItem.salesRtrnDays" ></td>
                        <td><input type="text" ng-model="prcmtDeliveryAddItemCtlr.rcvngOrgUnit"  class="form-control"
                               autocomplete="off" typeahead="orgUnit.identif as orgUnit.fullName for orgUnit in prcmtDeliveryAddItemCtlr.loadOrgUnit($viewValue)"
                               typeahead-loading="loading" placeholder="find an organisation unit" value="{{prcmtDeliveryAddItemCtlr.prcmtDelivery.rcvngOrgUnit}}" >
                        </td>
                        <td>
                            <input type="text" ng-model="prcmtDeliveryAddItemCtlr.strgSection"  class="form-control"
                                   autocomplete="off" typeahead="section.identif as section.name for section in prcmtDeliveryAddItemCtlr.loadstkSection($viewValue)"
                                   typeahead-loading="loading" placeholder="find a section" >
                        </td>
                    </tr>
                    </tbody>
                </table>
             </div>
          </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{'PrcmtDlvryItem_description.title' | translate}}</b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="col-lg-2" >CIP</th>
                    <th class="col-lg-3" >Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte</th>
                    <th>Qte Gratuite</th>
                    <th>prix Achat</th>
                    <th>Prix Vente</th>
                    <th>Date P</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itemHolder in prcmtDeliveryAddItemCtlr.prcmtDeliveryItemHolders"  >
                        <td>{{itemHolder.dlvryItem.artPic}}</td>
                        <td>{{itemHolder.dlvryItem.artName}}</td>
                        <td>{{itemHolder.dlvryItem.stkQtyPreDlvry}}</td>
                        <td>{{itemHolder.dlvryItem.qtyDlvrd}}</td>
                        <td>{{itemHolder.dlvryItem.freeQty}}</td>
                        <td>{{itemHolder.dlvryItem.pppuPreTax}}</td>
                        <td>{{itemHolder.dlvryItem.sppuPreTax}}</td>
                        <td>{{itemHolder.dlvryItem.expirDt | date: 'dd-MM-yyyy'}}</td>
                        <td><a ng-show="prcmtDeliveryAddItemCtlr.closeStatus" ng-click="prcmtDeliveryAddItemCtlr.editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td><a ng-show="prcmtDeliveryAddItemCtlr.closeStatus" ng-click="prcmtDeliveryAddItemCtlr.deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>