<div class="container">

    <div class="col-xs-offset-2 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ "Entity_create.title"| translate}}</b> </div>
            
            <div class="panel-body">
                <label class="error col-lg-offset-3 alert-danger" >{{error}} </label>
                <form  name="loginConfigurationForm" class="form-horizontal" novalidate="">

                    <div class="form-group">
                        <label class="col-lg-4 ">{{LoginConfigurationUtils.translations['LoginConfiguration_loginName_description.title']}} : </label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : loginConfigurationForm.loginName.$invalid }" >
                            <input type="text" ng-model="loginConfiguration.loginName" name="loginName" class="form-control" 
                            typeahead="login.loginName as login.loginName for login in LoginConfigurationUtils.loadLogin($viewValue)" required >
                            <p ng-show="loginConfigurationForm.loginName.$error.required" class="help-block">loginName est  requis !</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 "> {{LoginConfigurationUtils.translations['LoginConfiguration_maxRebate_description.title']}} : </label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : loginConfigurationForm.maxRebate.$invalid }" >
                            <input type="text" ng-model="loginConfiguration.maxRebate" name="maxRebate" class="form-control"  required>
							<p ng-show="loginConfigurationForm.maxRebate.$error.required" class="help-block">maxRebate est  requis !</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4"  > </label>
                        <div class="col-lg-8" >
                            <a class="btn-danger btn" href="#/"  ><i class="glyphicon glyphicon-remove" ></i> {{"Entity_cancel.title" | translate }}</a>
                            <button ng-click="create();" ng-disabled="loginForm.$invalid" class="btn-success btn"  ><i class="glyphicon glyphicon-save"></i>  {{"Entity_save.title" | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>

    </div>


</div>