<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction| translate}} {{'CatalArtEquivalence_description.title'| translate}} : {{catalArtEquivalence.mainArtIdentif}}</b> </div>
    <div class="panel-body">
       <form id="CatalArtEquivalenceForm" name="CatalArtEquivalenceForm" class="form-horizontal" novalidate="">    
           <div class="control-group">
             <label for="mainArtIdentif" class="control-label">{{"CatalArtEquivalence_mainArtIdentif_description.title"| translate}} :</label>
                <div id="mainArtIdentif" class="controls">
                <input type="text" ng-model="catalArtEquivalence.mainArtIdentif" name="mainArtIdentif" class="form-control" disabled >
               </div>
           </div>
        
           <div class="control-group" ng-class="{error: CatalArtEquivalenceForm.equivArtIdentif.$invalid}">
              <label for="equivArtIdentif" class="control-label">{{"CatalArtEquivalence_equivArtIdentif_description.title"|translate}}</label>
              <div id="equivArtIdentifControls" class="controls">
                  <select id="equivArtIdentif" name="equivArtIdentif" class="form-control" ng-options="article.features.artName for article in articles" ng-model="selectedCipEquiv">
                  </select>
              </div>
           </div>
        
            <br><hr>
            
           <div class="control-group">
                <div class="controls">
                    <button id="saveCatalArtEquiv" name="saveCatalArtEquiv" class="btn btn-primary" ng-disabled="isClean() || CatalArtEquivalenceForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> 
                        {{"Entity_save.title"|translate}}</button>
                    <button id="cancelCatalArtEquiv" name="cancelCatalArtEquiv" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i>
                    {{"Entity_cancel.title"|translate}}</button>
                </div>
           <div>
        
       </form>
    </div>
</div>       