<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <span data-ng-bind="'app.core.list.title' | translate"></span> <span data-ng-bind="'StockArticlelots.title' | translate"></span>
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="#/stock-articlelot/create">
          <i class="glyphicon glyphicon-open"></i> 
            <span data-ng-bind="'app.core.new.title' | translate"></span> <span data-ng-bind="'StockArticlelot.title' | translate"></span>
        </a>
      </div>

      <table data-st-table="vm.data.list" data-st-pipe="vm.callServer" class="table table-bordered  table-striped pointer-element">
          <thead>
	          <tr>
		          <th><span data-ng-bind="'StockArticlelot.lotPic.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.artPic.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.section.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.expirDt.title' | translate"></span></th>
		          <th><span data-ng-bind="'StockArticlelot.trgtQty.title' | translate"></span></th>
		          <th colspan="2"><span data-ng-bind="'StockArticlelot.stkgDt.title' | translate"></span></th>
	          </tr>
			<tr>
				<th><input data-st-search="lotPic" class="input-sm form-control" type="search"/></th>
				<th><input data-st-search="artPic" class="input-sm form-control" type="search"/></th>
				<th><input data-st-search="section" class="input-sm form-control" type="search"/></th>
				<th><st-date-search predicate="expirDt" selected-date="query.expirDt"></st-date-search></th>
<!-- 				<th> -->
<!-- 					<st-date-range predicate="expirDt" before="query.before" after="query.after"></st-date-range> -->
<!-- 				</th> -->
				<th><input data-st-search="trgtQty" class="input-sm form-control" type="search"/></th>
				<th colspan="2"><st-date-search predicate="stkgDt" selected-date="query.stkgDt"></st-date-search></th>
    		</tr>
          </thead>
          <tbody>
	          <tr data-ng-repeat="stockArticlelot in vm.data.list">
	              <td><span data-ng-bind="stockArticlelot.lotPic"></span></td>
	              <td><span data-ng-bind="stockArticlelot.artPic"></span></td>
	              <td><span data-ng-bind="stockArticlelot.section"></span></td>
	              <td><span data-ng-bind="stockArticlelot.expirDt | date:'dd-MM-yyyy'"></span></td>
	              <td><span data-ng-bind="stockArticlelot.trgtQty"></span></td>
	              <td><span data-ng-bind="stockArticlelot.stkgDt | date:'dd-MM-yyyy HH:mm:ss'"></span></td>
	              <td>
	                 <div class="table-actions">
	                      <a class="btn btn-default" title="{{'app.core.view.title' | translate}}" href="#/stock-articlelot/{{stockArticlelot.id}}">
	                        <span class="glyphicon glyphicon-eye-open"></span>
	                      </a>
	                      <a class="btn btn-default" title="{{'app.core.edit.title' | translate}}" href="#/stock-articlelot/{{stockArticlelot.id}}/edit">
	                        <span class="glyphicon glyphicon-edit"></span>
	                      </a>
	                  </div>
	              </td>
	          </tr>
          </tbody>
          <tfoot>
			<tr>
				<td colspan="10" class="text-center">
					<div data-st-pagination="" data-st-items-by-page="vm.itemsByPage"></div>
				</td>
			</tr>
		</tfoot>
      </table>
    </div>
  </div>

</section>
