<div class="row">
        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{"Entity_search.title"|translate}}</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="famCode">{{"CatalProductFamily_famCode_description.title"|translate}}</label>
                                    <div class="">
                                        <input type="text" id="famCode" ng-model="catalProductFamiliesCtlr.searchInput.entity.famCode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class=" control-label" for="articleName">{{"CatalFamilyFeatMaping_familyName_description.title"|translate}}</label>
                                    <div class="">
                                        <input type="text" id="articleName" ng-model="catalProductFamiliesCtlr.searchInput.entity.features.familyName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="purpose">{{"CatalAbstractFeatMapping_purpose_description.title"|translate}}</label>
                                    <div class="">
                                        <input type="text" id="purpose" ng-model="catalProductFamiliesCtlr.searchInput.entity.features.purpose" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button  ng-click="catalProductFamiliesCtlr.handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="catalProductFamiliesCtlr.handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>{{"Entity_Result.title"|translate}}</b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div  class="row">
                        <a class="btn btn-primary pull-right margBott10" href="#/CatalProductFamilies/new" >
                            <i class="glyphicon-plus"></i> {{'Entity_create.title'|translate}}
                        </a>

                    </div>
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                            <tr>
                                <th class="text-center">{{"CatalProductFamily_famCode_description.title"|translate}}</th>
                                <th class="text-center">{{"CatalFamilyFeatMaping_familyName_description.title"|translate}}</th>
                                <th class="text-center">{{"CatalAbstractFeatMapping_purpose_description.title"|translate}}</th>
                                <th class="text-center">{{"CatalAbstractFeatMapping_usage_description.title"|translate}}</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="catalProductFamily in catalProductFamiliesCtlr.catalProductFamilies" >
                                <td>{{catalProductFamily.famCode}}</td>
                                <td>{{catalProductFamily.features.familyName}}</td>
                                <td>{{catalProductFamily.features.purpose}}</td>
                                <td>{{catalProductFamily.features.usage}}</td>
                                <td><a href="#/CatalProductFamilies/show/{{catalProductFamily.famCode}}" ><i class="glyphicon glyphicon-eye-open"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul  class="pull-right">
                        <pagination  total-items="catalProductFamiliesCtlr.totalItems" items-per-page="catalProductFamiliesCtlr.itemPerPage"  class="pagination-sm" ng-model="catalProductFamiliesCtlr.currentPage" ng-change="catalProductFamiliesCtlr.paginate()"></pagination>
                    </ul>
                </div>

            </div>
        </div>
</div>
