<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction| translate}} {{'CatalProductFamily_famCode_description.title'| translate}} : {{catalFeatMapping.pfIdentif}}</b> </div>
    <div class="panel-body">
        <form id="CatalFamilyFeatMapingForm" name="CatalFamilyFeatMapingForm" class="form-horizontal">
            <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.langIso2.$invalid}">
                <label for="langIso2" class="control-label">{{'CatalAbstractFeatMapping_langIso2_description.title'|translate}}</label>
                <div id="langIso2Controls" class="controls">
                    <input id="langIso2" name="langIso2" type="text" class="form-control" required ng-model="catalFeatMapping.langIso2" 
                    	placeholder="{{'CatalAbstractFeatMapping_langIso2_description.text'|translate}}"></input>
                    <span class="help-inline" ng-show="CatalFamilyFeatMapingForm.langIso2.$error.required">required</span>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.familyName.$invalid}">
                <label for="familyName" class="control-label">{{'CatalFamilyFeatMaping_familyName_description.title'|translate}}</label>
                <div id="familyNameControls" class="controls">
                    <input id="familyName" name="familyName" type="text" required class="form-control" ng-model="catalFeatMapping.familyName" 
                    	placeholder="{{'CatalFamilyFeatMaping_familyName_description.text'|translate}}"></input>
                    <span class="help-inline" ng-show="CatalFamilyFeatMapingForm.familyName.$error.required">required</span>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.purpose.$invalid}">
                <label for="purpose" class="control-label">{{'CatalAbstractFeatMapping_purpose_description.title'|translate}}</label>
                <div id="purposeControls" class="controls">
                	<textarea rows="3" id="purpose" name="purpose" class="form-control" 
                		ng-model="catalFeatMapping.purpose" placeholder="{{'CatalAbstractFeatMapping_purpose_description.text'|translate}}" maxlength="256">
                	</textarea>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.usage.$invalid}">
                <label for="usage" class="control-label">{{'CatalAbstractFeatMapping_usage_description.title'|translate}}</label>
                <div id="usageControls" class="controls">
                	<textarea rows="3" id="usage" name="usage" class="form-control" 
                		ng-model="catalFeatMapping.usage" placeholder="{{'CatalAbstractFeatMapping_usage_description.text'|translate}}" maxlength="256">
                	</textarea>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.warnings.$invalid}">
                <label for="warnings" class="control-label">{{'CatalAbstractFeatMapping_warnings_description.title'|translate}}</label>
                <div id="warningsControls" class="controls">
                	<textarea rows="3" id="warnings" name="warnings" class="form-control" 
                		ng-model="catalFeatMapping.warnings" placeholder="{{'CatalAbstractFeatMapping_warnings_description.text'|translate}}" maxlength="256">
                	</textarea>
                </div>
            </div>
            <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.substances.$invalid}">
                <label for="substances" class="control-label">{{'CatalAbstractFeatMapping_substances_description.title'|translate}}</label>
                <div id="substancesControls" class="controls">
                	<textarea rows="3" id="substances" name="substances" class="form-control" 
                		ng-model="catalFeatMapping.substances" placeholder="{{'CatalAbstractFeatMapping_substances_description.text'|translate}}" maxlength="256">
                	</textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="saveCatalFamilyFeatMaping" name="saveCatalFamilyFeatMaping" class="btn btn-primary" ng-disabled="isClean() || CatalFamilyFeatMapingForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> {{'Entity_save.title'|translate}}</button>
                    <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> {{'Entity_cancel.title'|translate}}</button>
                </div>
            </div>
        </form>
    </div>
  </div>