<div class="row" ng-cloak id="invIntryComparePanel" class="panel-group">
       <div class="panel panel-default ">
           <div class="panel-body">
               <div class="col-lg-12">
                   <div class="table-overflow-scroll row">
                       <table class="table table-bordered  table-striped pointer-element" >
                           <thead>
                           <tr>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_section_description.title']}}</th>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_artPic_description.title']}}</th>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_lotPic_description.title']}}</th>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_artName_description.title']}}</th>
			                    <th colspan="3" ng-repeat="invtryNbr in searchInput.entity.invtryNbrs">{{invtryNbr}}</th>
			                    <th rowspan="2">
                               		<span ng-show="!invInvtry.conflictDt"><i class="glyphicon glyphicon-ok-circle" style="color:green"></i></span>
                               		<span ng-show="invInvtry.conflictDt"><i class="glyphicon glyphicon-ban-circle" style="color:red"></i></span>
			                    </th>
			               </tr>
                           <tr>
			                    <th ng-repeat-start="invtryNbr in searchInput.entity.invtryNbrs">{{invInvtryUtils.translations['InvInvtryItem_acsngUser_description.title']}}</th>
			                   	<th>{{invInvtryUtils.translations['InvInvtryItem_acsngDt_description.title']}}</th>
			                    <th ng-repeat-end>{{invInvtryUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr ng-repeat="invtryItemList in invtryItemLists()">
                               <td>{{invtryItemList.section}}</td>
                               <td>{{invtryItemList.artPic}}</td>
                               <td>{{invtryItemList.lotPic}}</td>
                               <td>{{invtryItemList.artName}}</td>
			                   <td ng-repeat-start="invtryItem in invtryItemList.sortedItems">
				                   	<span ng-show="!invtryItem.disabledDt">{{invtryItem.acsngUser}}</span>
				                   	<span ng-show="invtryItem.disabledDt" style="color: red; text-decoration: line-through;">{{invtryItem.acsngUser}}</span>
			                   	<table ng-show="invtryItem.others"><tr ng-repeat="other in invtryItem.others"><td>
				                   	<span ng-show="!other.disabledDt">{{other.acsngUser}}</span>
				                   	<span ng-show="other.disabledDt" style="color: red; text-decoration: line-through;">{{other.acsngUser}}</span>
			                   		</td></tr></table>
			                   </td>
					           <td>
				                   	<span ng-show="!invtryItem.disabledDt">{{invtryItem.acsngDt | date:'yyyy-MM-dd HH:mm'}}</span>
				                   	<span ng-show="invtryItem.disabledDt" style="color: red; text-decoration: line-through;">{{invtryItem.acsngDt | date:'yyyy-MM-dd HH:mm'}}</span>
			                   		<table ng-show="invtryItem.others"><tr ng-repeat="other in invtryItem.others"><td>
				                   	<span ng-show="!other.disabledDt">{{other.acsngDt | date:'yyyy-MM-dd HH:mm'}}</span>
				                   	<span ng-show="other.disabledDt" style="color: red; text-decoration: line-through;">{{other.acsngDt | date:'yyyy-MM-dd HH:mm'}}</span>
			                   		</td></tr></table>
					           </td>
					           <td ng-repeat-end>
				                   	<span ng-show="!invtryItem.disabledDt">{{invtryItem.asseccedQty | number:0}}</span>
				                   	<span ng-show="invtryItem.disabledDt" style="color: red; text-decoration: line-through;">{{invtryItem.asseccedQty | number:0}}</span>
				                   	<span class="pull-right" ng-show="invtryItem.editing && !invtryItem.disabledDt"><button ng-click="disable(invtryItemList,invtryItem)" ><i class="glyphicon glyphicon-remove" style="color:red"></i></button></span>
				                   	<span class="pull-right" ng-show="invtryItem.editing && invtryItem.disabledDt"><button ng-click="disable(invtryItemList,invtryItem)" ><i class="glyphicon glyphicon-ok" style="color:green"></i></button></span>
			                   		<table ng-show="invtryItem.others"><tr ng-repeat="other in invtryItem.others"><td width="100%">
				                   	<span ng-show="!other.disabledDt">{{other.asseccedQty | number:0}}</span>
				                   	<span ng-show="other.disabledDt" style="color: red; text-decoration: line-through;">{{other.asseccedQty | number:0}}</span>
				                   	<span class="pull-right" ng-show="other.editing && !other.disabledDt"><button ng-click="disable(invtryItemList,other)" ><i class="glyphicon glyphicon-remove" style="color:red"></i></button></span>
				                   	<span class="pull-right" ng-show="other.editing && other.disabledDt"><button ng-click="disable(invtryItemList,other)" ><i class="glyphicon glyphicon-ok" style="color:green"></i></button></span>
			                   		</td></tr></table>
					           </td>
                               <td>
                               		<span ng-show="invtryItemList.sameQty"><i class="glyphicon glyphicon-ok-circle" style="color:green"></i></span>
                               		<span ng-show="!invtryItemList.sameQty"><i class="glyphicon glyphicon-ban-circle" style="color:red"></i></span>
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
                   <ul  class="pull-right">
                       <pagination  total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
                   </ul>
               </div>
           </div>
       </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                	<span class="pull-left">
		                <a class="btn-danger btn" href="#/InvInvtrys" ><i class="glyphicon glyphicon-list" ></i> {{invInvtryUtils.translations['Entity_list.title']}}</a>
                	</span>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
	           		<button class="btn-default btn" ng-click="edit()" >{{invInvtryUtils.translations['Entity_edit.title']}} </button>
                </div>
                <div class="col-lg-4">
                	<span class="pull-right">
                    	<button class="btn-default btn" ng-click="showAll()" ><i class="glyphicon glyphicon-tasks"></i> {{invInvtryUtils.translations['Entity_showAll.title']}}</button>
	                </span>
                </div>
                <div class="col-lg-4">
                	<span class="pull-left">
                    	<button class="btn-default btn" ng-click="showConflict()" ><i class="glyphicon glyphicon-tasks"></i> {{invInvtryUtils.translations['Entity_showConflict.title']}}</button>
	                </span>
                </div>
                <div class="col-lg-2">
                	<span class="pull-right">
                    	<button class="btn-default btn" ng-click="reload()" ><i class="glyphicon glyphicon-tasks"></i> {{invInvtryUtils.translations['Entity_reload.title']}}</button>
	                </span>
                </div>
            </div>
        </div>
    </div>
    
</div>
