<div class="container">

    <div class="col-xs-offset-2 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ "Entity_create.title"| translate}}</b> </div>
            <div class="panel-body">
                <label class="error col-lg-offset-3 alert-danger" >{{catalPkgModeCreateCtrl.error}} </label>
                <form  name="catalPkgModeForm" class="form-horizontal" novalidate="">
                    <div class="form-group">
                        <label class="col-lg-4 ">{{"CatalPkgMode_pkgCode_description.title"| translate}} :</label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : catalPkgModeForm.pkgCode.$invalid }" >
                            <input type="text" ng-model="catalPkgModeCreateCtrl.catalPkgMode.pkgCode" name="pkgCode" class="form-control" required >
                            <p ng-show="catalPkgModeForm.pkgCode.$error.required" class="help-block">{{"catalPkgMode_pkgCode_required.title"| translate}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 ">{{"CatalPkgMode_name_description.title"| translate}} :</label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : catalPkgModeForm.name.$invalid }" >
                            <input type="text" ng-model="catalPkgModeCreateCtrl.catalPkgMode.name" name="name" class="form-control" required >
                            <p ng-show="catalPkgModeForm.name.$error.required" class="help-block">{{"catalPkgMode_name_required.title"| translate}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4"  > </label>
                        <div class="col-lg-8" >
                            <a class="btn-danger btn" href="#/"  ><i class="glyphicon glyphicon-remove" ></i> {{"Entity_cancel.title" | translate }}</a>
                            <button ng-click="catalPkgModeCreateCtrl.create();" ng-disabled="catalPkgModeForm.$invalid" class="btn-success btn"  ><i class="glyphicon glyphicon-save"></i>  {{"Entity_save.title" | translate }}</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


</div>