<div class="row">
	<!-- 
	<div class="col-lg-3">
        <ng-include src="'views/menu.html'"  ></ng-include>
	</div>
	 -->
	<div class="col-xs-offset-2 col-xs-8">

        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{"Entity_search.title"|translate}}</b>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="">{{"Login_loginName_description"|translate}}</label>
                                    <div class="">
                                        <input type="text" id="" ng-model="loginCtrl.searchInput.entity.loginName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label" for="">{{"Login_fullName_description"|translate}}</label>
                                    <div class="">
                                        <input type="text"  ng-model="loginCtrl.searchInput.entity.fullName" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label" >{{"Login_ouIdentif_description"|translate}}</label>
                                    <div class="">
                                        <select class="form-control" ng-model="loginCtrl.searchInput.entity.ouIdentif" name="ouIdentif"
                                                ng-options="orgUnit.identif as orgUnit.shortName for orgUnit in loginCtrl.orgUnits">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button  ng-click="loginCtrl.handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="loginCtrl.handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>Resultat </b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div  class="row">
                        <a class="btn btn-primary pull-right margBott10" href="#/login/create" >
                            <i class="glyphicon-plus"></i> {{"Entity_create.title" | translate}}
                        </a>

                    </div>
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                            <tr>
                                <th class="text-center">{{"Login_ouIdentif_description"|translate}}</th>
                                <th class="text-center">{{"Login_loginName_description"|translate}}</th>
                                <th class="text-center">{{"Login_email_description"|translate}}</th>
                                <th class="text-center">{{"Login_fullName_description"|translate}}</th>
                                <th class="text-center">{{"Login_accountLocked_description"|translate}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="login in loginCtrl.logins" >
                                <td>{{login.ouIdentif}}</td>
                                <td>{{login.loginName}}</td>
                                <td>{{login.email}}</td>
                                <td>{{login.fullName }}</td>
                                <td>{{login.accountLocked}}</td>
                                <td><a href="#/login/show/{{login.id}}" ><i class="glyphicon glyphicon-eye-open"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul  class="pull-right">
                        <pagination  total-items="loginCtrl.totalItems" items-per-page="loginCtrl.itemPerPage"  class="pagination-sm" ng-model="loginCtrl.currentPage" ng-change="loginCtrl.paginate()"></pagination>

                    </ul>
                </div>

            </div>
        </div>
	</div>
</div>

