<header ng-switch on="$location.path().indexOf('/CdrCstmrVchrs/new') > -1">
    <h3 ng-switch-when="true">Create CdrCstmrVchr</h3>
    <h3 ng-switch-when="false">View or edit CdrCstmrVchr</h3>
</header>
<form id="CdrCstmrVchrForm" name="CdrCstmrVchrForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.vchrNbr.$invalid}">
        <label for="vchrNbr" class="control-label">Vchr Nbr</label>
        <div id="vchrNbrControls" class="controls">
            <input id="vchrNbr" name="vchrNbr" type="text" required ng-model="cdrCstmrVchr.vchrNbr" placeholder="Enter the CdrCstmrVchr Vchr Nbr"></input>
            <span class="help-inline" ng-show="CdrCstmrVchrForm.vchrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.dsNbr.$invalid}">
        <label for="dsNbr" class="control-label">Ds Nbr</label>
        <div id="dsNbrControls" class="controls">
            <input id="dsNbr" name="dsNbr" type="text" required ng-model="cdrCstmrVchr.dsNbr" placeholder="Enter the CdrCstmrVchr Ds Nbr"></input>
            <span class="help-inline" ng-show="CdrCstmrVchrForm.dsNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.amt.$invalid}">
        <label for="amt" class="control-label">Amt</label>
        <div id="amtControls" class="controls">
            <input id="amt" name="amt" type="text" required ng-model="cdrCstmrVchr.amt" placeholder="Enter the CdrCstmrVchr Amt"></input>
            <span class="help-inline" ng-show="CdrCstmrVchrForm.amt.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.cstmrNbr.$invalid}">
        <label for="cstmrNbr" class="control-label">Cstmr Nbr</label>
        <div id="cstmrNbrControls" class="controls">
            <input id="cstmrNbr" name="cstmrNbr" type="text" ng-model="cdrCstmrVchr.cstmrNbr" placeholder="Enter the CdrCstmrVchr Cstmr Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.cstmrName.$invalid}">
        <label for="cstmrName" class="control-label">Cstmr Name</label>
        <div id="cstmrNameControls" class="controls">
            <input id="cstmrName" name="cstmrName" type="text" ng-model="cdrCstmrVchr.cstmrName" placeholder="Enter the CdrCstmrVchr Cstmr Name"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.canceled.$invalid}">
        <label for="canceled" class="control-label">Canceled</label>
        <div id="canceledControls" class="controls">
        <select id="canceled" name="canceled" ng-model="cdrCstmrVchr.canceled" ng-options="c for c in canceledList"  >
            <option value="">Choose a Canceled</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.cashier.$invalid}">
        <label for="cashier" class="control-label">Cashier</label>
        <div id="cashierControls" class="controls">
            <input id="cashier" name="cashier" type="text" required ng-model="cdrCstmrVchr.cashier" placeholder="Enter the CdrCstmrVchr Cashier"></input>
            <span class="help-inline" ng-show="CdrCstmrVchrForm.cashier.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.cdrNbr.$invalid}">
        <label for="cdrNbr" class="control-label">Cdr Nbr</label>
        <div id="cdrNbrControls" class="controls">
            <input id="cdrNbr" name="cdrNbr" type="text" ng-model="cdrCstmrVchr.cdrNbr" placeholder="Enter the CdrCstmrVchr Cdr Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.prntDt.$invalid}">
        <label for="prntDt" class="control-label">Prnt Dt</label>
        <div id="prntDtControls" class="controls">
            <datetime id="prntDt" name="prntDt" ng-model="cdrCstmrVchr.prntDt" placeholder="Enter the CdrCstmrVchr Prnt Dt"></datetime>
            <span class="help-inline" ng-show="CdrCstmrVchrForm.prntDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.amtUsed.$invalid}">
        <label for="amtUsed" class="control-label">Amt Used</label>
        <div id="amtUsedControls" class="controls">
            <input id="amtUsed" name="amtUsed" type="text" ng-model="cdrCstmrVchr.amtUsed" placeholder="Enter the CdrCstmrVchr Amt Used"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.settled.$invalid}">
        <label for="settled" class="control-label">Settled</label>
        <div id="settledControls" class="controls">
        <select id="settled" name="settled" ng-model="cdrCstmrVchr.settled" ng-options="s for s in settledList"  >
            <option value="">Choose a Settled</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrCstmrVchrForm.restAmt.$invalid}">
        <label for="restAmt" class="control-label">Rest Amt</label>
        <div id="restAmtControls" class="controls">
            <input id="restAmt" name="restAmt" type="text" ng-model="cdrCstmrVchr.restAmt" placeholder="Enter the CdrCstmrVchr Rest Amt"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCdrCstmrVchr" name="saveCdrCstmrVchr" class="btn btn-primary" ng-disabled="isClean() || CdrCstmrVchrForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCdrCstmrVchr" name="deleteCdrCstmrVchr" class="btn btn-danger" ng-show="cdrCstmrVchr.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>