<div class="row">
        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{bpPtnrCtgryUtils.translations['Entity_search.title']}}</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="ctgryCode">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_ctgryCode_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="ctgryCode" ng-model="searchInput.entity.ctgryCode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class=" control-label" for="name">{{bpPtnrCtgryUtils.translations['BpPtnrCtgryDtls_name_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="name" ng-model="searchInput.entity.ctgryDtls.name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="ptnrRole">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_ptnrRole_description.title']}}</label>
                                    <div class="">
							            <select class="form-control" name="ptnrRole" ng-model="searchInput.entity.ptnrRole"
							                    ng-options="ptnrRole.enumKey as bpPtnrCtgryUtils.translations[ptnrRole.translKey]
							                    	for ptnrRole in bpPtnrCtgryUtils.ptnrRoles" >
							                    <option value=""/>
										</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>{{bpPtnrCtgryUtils.translations['Entity_Result.title']}}</b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div  class="row">
                        <a class="btn btn-primary pull-right margBott10" href="#/BpPtnrCtgrys/new" >
                            <i class="glyphicon-plus"></i> {{bpPtnrCtgryUtils.translations['Entity_create.title']}}
                        </a>

                    </div>
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                            <tr>
                                <th class="text-center">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_ctgryCode_description.title']}}</th>
                                <th class="text-center">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_ptnrRole_description.title']}}</th>
                                <th class="text-center">{{bpPtnrCtgryUtils.translations['BpPtnrCtgryDtls_name_description.title']}}</th>
                                <th class="text-center">{{bpPtnrCtgryUtils.translations['BpPtnrCtgry_parentCode_description.title']}}</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="bpPtnrCtgry in bpPtnrCtgrys()" >
                                <td>{{bpPtnrCtgry.ctgryCode}}</td>
                                <td>{{bpPtnrCtgryUtils.ptnrRole18nMsgTitleValue(bpPtnrCtgry.ptnrRole)}}</td>
                                <td>{{bpPtnrCtgry.ctgryDtls.name}}</td>
                                <td>{{bpPtnrCtgry.parentCtgryDtls.name}}</td>
                                <td><a href="" ng-click="show(bpPtnrCtgry,$index)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                <td><a href="" ng-click="edit(bpPtnrCtgry,$index)"><i class="glyphicon glyphicon-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul  class="pull-right">
                        <pagination  total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
                    </ul>
                </div>

            </div>
        </div>
</div>
