
 <div class="panel-body" data-ng-controller="ProcmtCreateCtlr">
     <label class="error col-lg-offset-3 alert-danger" >{{error}} </label>
     <form  name="procmtForm" id="procmtForm" novalidate>

         <div class="row" >
             <div class="col-lg-6">
                 <div class="form-group">
                     <label class=" control-label" for="status"><span data-ng-bind="'PrcmtProcOrder_poStatus_description.title' | translate"></span></label>
                     <input class="form-control" id="status" disabled data-ng-model="procmt.status" data-ng-init="procmt.status='INITIAL'" >
                 </div>
             </div>
             <div class="form-group col-lg-6">
                 <label class=" control-label" for="poTriggerMode"><span data-ng-bind="'PrcmtProcOrder_poTriggerMode_description.title' | translate"></span></label>
                 <select class="form-control" name="status" id="poTriggerMode" data-ng-model="procmt.poTriggerMode"
                         data-ng-options="status.enumKey as (status.translKey | translate)
                    	for status in prcmtOrderUtils.poTriggerModes" >
                     <option value=""/>
                 </select>
             </div>
         </div>
         <div class="row" >
             <div class="form-group col-lg-6">
                 <label class=" control-label">Description:</label>
                 <textarea rows="3" id="descptn" name="descptn" class="form-control" data-ng-model="procmt.descptn" maxlength="256"></textarea>
             </div>
             <div class="form-group col-lg-6">
                 <label><span data-ng-bind="'PrcmtProcOrder_poType_description.title' | translate"></span>:</label>
                     <select class="form-control" name="txType" id="txType" data-ng-model="procmt.txType"
                             data-ng-options="txType.enumKey as (txType.translKey | translate)
               				for txType in prcmtOrderUtils.POTypes" >
                         <option value=""/>
                     </select>
             </div>
         </div>
         <div class="row">
             <div class="form-group pull-right">
                  <button data-ng-click="create();" data-ng-disabled="procmtForm.$invalid" class="btn-success btn"  >
                      <i class="glyphicon glyphicon-save"></i><span data-ng-bind="'Entity_save.title' | translate"></span></button>
             </div>
         </div>
     </form>
 </div>
