
<section data-ng-cloak id="invIntrySearchPanel" class="mainbar">
<div class="panel panel-primary">
    <div class="panel-heading">
        <span><b><span data-ng-bind="'Entity_create.title' | translate"></span></b></span>
        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse" data-parent="#invIntryShowPanel" data-target="#invInvtrySearchToggle"></button>
    </div>
    <div class="panel-collapse collapse" id="invInvtrySearchToggle">
    	<div data-ng-include="'/adprocmt.client/src/client/app/procmtOrder/views/create.html'"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-12">
                <table data-st-table="data.prcmts" data-st-pipe="callServer" class="table table-bordered  table-striped pointer-element" >
                    <thead>
	                    <tr>
	                        <th><span data-ng-bind="'PrcmtProcOrder_poNbr_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'PrcmtProcOrder_createdDt_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'PrcmtProcOrder_poTriggerMode_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'PrcmtProcOrder_grossPPPreTax_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'PrcmtProcOrder_netAmtToPay_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'PrcmtProcOrder_poStatus_description.title' | translate"></span></th>
<!-- 	                        <th><span data-ng-bind="'PrcmtProcOrder_poCur_description.title' | translate"></span></th> -->
	                        <th><span data-ng-bind="'PrcmtProcOrder_ordrngOrgUnit_description.title' | translate"></span></th>
	                        <th><span data-ng-bind="'Action.title' | translate"></span></th>
	                    </tr>
	                    <tr>
	                    	<th><input data-st-search="identif" class="input-sm form-control" type="search"/></th>
             				<th><st-date-search predicate="valueDt" selected-date="query.valueDt"></st-date-search></th>
             				<th><st-select-one collection="prcmtOrderUtils.poTriggerModes" predicate="poTriggerMode"></st-select-one></th>
             				<th><input data-st-search="prchGrossPrcPreTax" class="input-sm form-control" type="search"/></th>
             				<th><input data-st-search="prchNetAmtToPay" class="input-sm form-control" type="search"/></th>
             				<th><st-select-one collection="prcmtOrderUtils.status" predicate="status"></st-select-one></th>
             				<th><input data-st-search="ouIdentif" class="input-sm form-control" type="search"/></th>
             				<th></th>
	                    </tr>
                    </thead>
                    <tbody>
	                    <tr data-ng-repeat="procmt in data.prcmts">
	                        <td data-ng-bind="procmt.identif"></td>
	                        <td data-ng-bind="procmt.valueDt | date:'dd-MM-yyyy HH:mm'"></td>
	                        <td data-ng-bind="procmt.poTriggerMode | translate"></td>
	                        <td data-ng-bind="procmt.prchGrossPrcPreTax"></td>
	                        <td data-ng-bind="procmt.prchNetAmtToPay"></td>
	                        <td data-ng-bind="procmt.status | translate"></td>
<!-- 	                        <td data-ng-bind="procmt.prchPrcCur"></td> -->
	                        <td data-ng-bind="procmt.ouIdentif"></td>
	                        <td>
	                            <a href="#/procmt/{{procmt.identif}}/show/"><i class="glyphicon glyphicon-eye-open"></i></a>
	                           <!-- <a href="#/invinvtry/{{procmt.identif}}/archive/"><i class="glyphicon glyphicon-trash"></i></a>-->
	                        </td>
	
	                    </tr>
                    </tbody>
                    <tfoot>
						<tr>
							<td colspan="15" class="text-center">
								<div data-st-pagination="" data-st-items-by-page="itemsByPage"></div>
							</td>
						</tr>
					</tfoot>
                </table>
        </div>
    </div>
</div>
</section>

