<section data-ng-cloak class="mainbar" id="invIntryShowPanel">
<div class="error">
    {{error}}
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <b><span data-ng-bind="'Entity_info.title' | translate"></span>: </b>
        <b><span data-ng-bind="'PrcmtProcOrder_poNbr_description.title' | translate"></span> </b> <span data-data-ng-bind="procmt.identif" ></span>
        <b><span data-ng-bind="'Entity_Of.title' | translate"></span> </b> <span data-data-ng-bind="procmt.valueDt | date:'dd MMM yyyy'" ></span>
        <b><span data-ng-bind="'Entity_By.title' | translate"></span> </b> <span data-data-ng-bind="procmt.login" ></span>
        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse"
                data-parent="#invIntryShowPanel" data-target="#procmtInfoToggle"></button>
    </div>
    <div class="panel-collapse collapse" id="procmtInfoToggle">
        <div class="panel-body">
            <form  name="procmtForm" id="procmtForm" novalidate>

                <div class="row" >
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class=" control-label" for="status"><span data-ng-bind="'PrcmtProcOrder_poStatus_description.title' | translate"></span></label>
                            <select class="form-control" name="status" disabled id="status" data-ng-model="procmt.status"
                                    data-ng-options="status.enumKey as (status.translKey | translate) for status in prcmtOrderUtils.status" >
                                <option value=""/>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class=" control-label" for="poTriggerMode"><span data-ng-bind="'PrcmtProcOrder_poTriggerMode_description.title' | translate"></span></label>
                        <select class="form-control" disabled name="poTriggerMode" id="poTriggerMode" data-ng-model="procmt.poTriggerMode"
                                data-ng-options="status.enumKey as (status.translKey | translate) for status in prcmtOrderUtils.poTriggerModes" >
                            <option value=""/>
                        </select>
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-lg-6">
                        <label class=" control-label">Description :</label>
                        <textarea rows="3" id="descptn" name="descptn" class="form-control" data-ng-model="procmt.descptn" maxlength="256"></textarea>
                    </div>
                    <div class="form-group col-lg-6">
                        <label><span data-ng-bind="'PrcmtProcOrder_poType_description.title' | translate"></span>:</label>
                        <select class="form-control" name="txType" id="txType" data-ng-model="procmt.txType"
                                data-ng-options="txType.enumKey as (txType.translKey | translate) for txType in prcmtOrderUtils.POTypes" >
                            <option value=""/>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
	               		<span class="pull-left">
                            <button data-ng-click="archive()"
                                    class="btn-danger btn"><i class="glyphicon glyphicon-trash" ></i>Archive
                            </button>
	                    	<button data-ng-click="check()"
                                    data-ng-show="!prcmtOrderUtils.isInvtryClosed(procmt) && !prcmtOrderUtils.isInvtryPosted(procmt)"
                                    class="btn-success btn"><span data-ng-bind="'Entity_validate.title' | translate"></span>
                            </button>
		                   <button data-ng-click="update();" data-ng-show="!prcmtOrderUtils.isInvtryPosted(procmt)"
                                   class="btn-success btn"><span data-ng-bind="'Entity_save.title' | translate"></span>
                           </button>
		                   <button data-ng-click="close();"
                                   data-ng-show="!prcmtOrderUtils.isInvtryClosed(procmt) && !prcmtOrderUtils.isInvtryPosted(procmt) && !procmt.conflictDt"
                                   class="btn-success btn"><span data-ng-bind="'Entity_close.title' | translate"></span>
                           </button>
		                   <button data-ng-click="post();"
                                   data-ng-show="prcmtOrderUtils.isInvtryClosed(procmt) && !prcmtOrderUtils.isInvtryPosted(procmt)"
                                   class="btn-success btn"><span data-ng-bind="'Entity_post.title' | translate"></span>
                           </button>
                            <button data-ng-click="transform();"
                                    data-ng-show="prcmtOrderUtils.isInvtryPosted(procmt)" class="btn-success btn">Transform
                            </button>
	               		</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span><b><span data-ng-bind="'Entity_search.title' | translate"></span> <span data-ng-bind="'PrcmtPOItem_description.title' | translate"></span></b></span>
        <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse"
                data-parent="#invIntryShowPanel" data-target="#procmtItemSearchToggle"></button>
    </div>
    <div class="panel-collapse collapse" id="procmtItemSearchToggle">
        <div class="panel-body">
            <form name="procmtItemForm" id="procmtItemForm" novalidate>
                <div class="row">
                    <div class="form-group col-lg-2" data-ng-class="{ 'has-error' : procmtItemForm.artPic.$invalid }">
                        <label class=" control-label" for="artPic"><span data-ng-bind="'PrcmtPOItem_artPic_description.title' | translate"></span></label>
                        <input type="text" data-ng- class="form-control" name="artPic" id="artPic" required
                               autocomplete="off"
                               data-ng-model="searchInput.entity.artPic"
                               typeahead="article.identif as article.identif for article in prcmtOrderUtils.loadArticlesByPic($viewValue)"
                               typeahead-min-length="5"
                               typeahead-loading="loading"
                               typeahead-on-select='onArticleSelectedInSearch($item, $model, $label)'>
                    </div>
                    <div class="form-group col-lg-5">
                        <label class=" control-label" for="searchArtName"><span data-ng-bind="'PrcmtPOItem_artName_description.title' | translate"></span></label>
                        <input type="text" class="form-control" id="searchArtName" autocomplete="off"
                               data-ng-model="searchInput.entity.artName" name="searchArtName"
                               typeahead="article as article.artName for article in prcmtOrderUtils.loadArticlesByName($viewValue)"
                               typeahead-loading="loading" typeahead-min-length="4"
                               typeahead-on-select='onArticleSelectedInSearchArtName($item, $model, $label)'>
                    </div>
                    <div class="form-group col-lg-3">
                        <label class=" control-label" for="trgtQty"><span data-ng-bind="'PrcmtPOItem_qtyOrdered_description.title' | translate"></span></label>

                        <div data-ng-class="{ 'has-error' : procmtItemForm.qtyBilled.$invalid }">
                            <input type="text" class="form-control" required name="trgtQty" id="trgtQty"
                                   data-ng-model="searchInput.entity.trgtQty">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-lg-3">
                        <label class=" control-label" for="expirDt"><span data-ng-bind="'PrcmtPOItem_expirDt_description.title' | translate"></span></label>
                        <input type="text" data-ng-model="searchInput.entity.expirDt" id="expirDt"
                               name="expirDt" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                        <label class=" control-label" for="supplier"><span data-ng-bind="'PrcmtPOItem_supplier_description.title' | translate"></span></label>
                        <input type="text" data-ng-model="searchInput.entity.supplier" id="supplier" name="supplier"
                               class="form-control">
                    </div>
                    <div class="form-group col-lg-4" col-lg-offset-3>
                        <button data-ng-click="handleSearchRequestEvent()" class="btn btn-default "
                                style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        <button data-ng-click="handleAlphabeticRequestEvent()" class="btn btn-default "
                                style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </button>
                        <button data-ng-click="handleResetRequestEvent()" class="btn btn-default " style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-flash"></i><span data-ng-bind="'Entity_reset.title' | translate"></span>
                        </button>
                        <button data-ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 30px;">
                            <i class="glyphicon glyphicon-print"></i>
                        </button>
                        <button class="btn btn-default" data-ng-disabled="procmtItemForm.$invalid"
                                data-ng-click="addItem(searchInput.entity)" style="margin-top: 30px;"
                                data-ng-show="prcmtOrderUtils.isInvtryOpen(procmt)">
                            <i class="glyphicon glyphicon-plus"></i><span data-ng-bind="'Entity_add.title' | translate"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default" id="panelV">
    <div class="panel-heading">
        <b><span data-ng-bind="'PrcmtPOItem_description.title' | translate"></span></b>
        <!--<span data-ng-show="procmtItems().length==0" class="red" >products are loading ... please wait</span>-->
    </div>
    <div class="panel-body">
        <table class="table table-bordered  table-striped">
            <thead>
            <tr>
                <th class="clo-lg-1"><span data-ng-bind="'PrcmtPOItem_artPic_description.title' | translate"></span></th>
                <th class="clo-lg-3"><span data-ng-bind="'PrcmtPOItem_artName_description.title' | translate"></span></th>
                <th class="col-lg-1"><span data-ng-bind="'PrcmtPOItem_supplier_description.title' | translate"></span></th>
                <th class="col-lg-2"><span data-ng-bind="'PrcmtPOItem_expirDt_description.title' | translate"></span></th>
                <th class="clo-lg-1"><span data-ng-bind="'PrcmtPOItem_qtyOrdered_description.title' | translate"></span></th>

                <th class="col-lg-1">
                    <span data-ng-show="!procmt.conflictDt"><i class="glyphicon glyphicon-ok-circle" style="color:green"></i></span>
                    <span data-ng-show="procmt.conflictDt"><i class="glyphicon glyphicon-ban-circle" style="color:red"></i></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="procmtItem in procmtItems()">
                <td data-data-ng-bind="procmtItem.artPic"></td>
                <td data-data-ng-bind="procmtItem.artName"></td>
                <td name="supplierCell" data-ng-dblclick="editingSupplier(procmtItem, $event)">
                     <span class="" data-ng-show="procmtItem.editingSupplier">
                         <input ad-focus="procmtItem.editingSupplier"
                                ad-enter="updateItem(procmtItem)"
                                data-ng-show="procmtItem.editingSupplier"
                                data-ng-blur="updateItem(procmtItem)"
                                data-ng-model="procmtItem.supplier" class="form-control">
                     </span>
                    <span data-ng-show="!procmtItem.editingSupplier" data-data-ng-bind="procmtItem.supplier"></span>
                </td>
                <td name="expirDtCell" data-ng-dblclick="editingExpirDt(procmtItem, $event)">
                    <span class="" data-ng-show="procmtItem.editingExpirDt">
                        <input type="datetime" date-time view="date" min-view="date" views="['date']"
                               dismiss="true" format="dd MM yyyy" ad-enter="updateItem(procmtItem)"
                               data-ng-model="procmtItem.expirDt" class="form-control">
                    </span>
                    <span data-ng-show="!procmtItem.editingExpirDt" data-data-ng-bind="procmtItem.expirDt | date:'dd-MM-yyyy HH:mm'"></span>
                </td>
                <td name="asseccedQtyCell" data-ng-dblclick="editingTrgtQty(procmtItem,$event)">
                    <input type="text" name="trgtQty" ad-focus="procmtItem.editingTrgtQty"
                           ad-enter="updatetrgtQty(procmtItem)" style="width: 35px"
                           data-ng-model="procmtItem.trgtQty" data-ng-show="procmtItem.editingTrgtQty"
                           data-ng-blur="updatetrgtQty(procmtItem)">
                    <span data-ng-show="!procmtItem.editingTrgtQty && !procmtItem.disabledDt"><span data-ng-bind="procmtItem.trgtQty | number:0"></span></span>
                    <span data-ng-show="!procmtItem.editingTrgtQty && procmtItem.disabledDt" style="color: red; text-decoration: line-through;"><span data-ng-bind="procmtItem.trgtQty | number:0"></span></span>
                </td>
                <td>
                    <div data-ng-show="prcmtOrderUtils.isInvtryOpen(procmt)">
                      	<span data-ng-show="!procmtItem.editing && !procmtItem.disabledDt">
                       		<a data-ng-click="editingItem(procmtItem)" class=""><i class="glyphicon glyphicon-edit"></i></a>
                      	</span>
                        <span data-ng-show="procmtItem.editing">
                             <a data-ng-click="updateItem(procmtItem)" class=""><i class="glyphicon glyphicon-save"></i></a>
                         </span>

                       	<span data-ng-show="!procmtItem.editing && procmtItem.disabledDt" style="margin-left:10px">
                        	<a data-ng-click="enableItem(procmtItem)" class=""><i class="glyphicon glyphicon-edit red"></i></a>
                       	</span>
                       	<span data-ng-show="procmtItem.editing && !procmtItem.disabledDt" class="pull-right" style="margin-left: 10px">
                        	<a data-ng-click="disableItem(procmtItem)" class=""><i class="glyphicon glyphicon-trash"></i></a>
                       	</span>
                       	<span data-ng-show="procmtItem.editing" class="pull-right" style="margin-left: 10px">
                        	<a data-ng-click="cancelEditItem(procmtItem)" class=""><i class="glyphicon glyphicon-remove"></i></a>
                       	</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pull-right">
            <pagination total-items="totalItems()" items-per-page="itemPerPage()" class="pagination-sm"
                        data-ng-model="currentPage" data-ng-change="paginate()"></pagination>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                	<span class="pull-left">
		                <a class="btn-danger btn" href="#/procmt"><i class="glyphicon glyphicon-list"></i>
                            <span data-ng-bind="'Entity_list.title' | translate"></span></a>
                	</span>
                	<span class="pull-right" data-ng-show="!prcmtOrderUtils.isInvtryPosted(procmt)">
                    	<a class="btn-danger btn" data-toggle="collapse" data-parent="#invIntryShowPanel"
                           	data-target="#procmtInfoToggle"><i class="glyphicon glyphicon-edit"></i>
                            <span data-ng-bind="'Entity_edit.title' | translate"></span></a>
                    </span>
                <div class="col-lg-4">
                	<span class="pull-left">
                    	<button class="btn-default btn" data-ng-click="showConflict()" >
                    		<i class="glyphicon glyphicon-tasks"></i><span data-ng-bind="'show_conflict.title' | translate"></span></button>
	                </span>
                </div>
                <div class="col-lg-2">
                	<span class="pull-right">
                    	<button class="btn-default btn" data-ng-click="reload()" >
                    		<i class="glyphicon glyphicon-refresh"></i><span data-ng-bind="'reload.title' | translate"></span></button>
	                </span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
