<section data-ng-cloak class="mainbar" id="invIntryShowPanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b><span data-ng-bind="'StkMvnt.title' | translate"></span></b></span>
            <button class="glyphicon glyphicon-collapse-down pull-right" data-toggle="collapse"
                    data-parent="#invIntryShowPanel" data-target="#invInvtryItemSearchToggle"></button>
        </div>
        <div class="" id="invInvtryItemSearchToggle">
            <div class="panel-body">
                <form name="invInvtryItemForm" id="invInvtryItemForm" novalidate>
                    <div class="row">
                        <div class="form-group col-lg-2" >
                            <label class=" control-label" for="artPic"><span data-ng-bind="'StkMvnt.artPic.title' | translate"></span></label>
                            <input type="text" class="form-control" name="artPic" id="artPic"
                                   autocomplete="off" data-ng-model="mvnt.artPic"
                                   typeahead="article.identif as article.identif for article in mvntUtils.loadArticlesByPic($viewValue)"
                                   typeahead-min-length="5" typeahead-loading="loading"
                                   typeahead-on-select='onArticleSelectedInSearch($item, $model, $label)' />
                        </div>
                        <div class="form-group col-lg-2" ng-class="{ 'has-error' : invInvtryItemForm.lotPic.$invalid }">
                            <label class=" control-label" for="lotPic"><span data-ng-bind="'StkMvnt.lotPic.title' | translate"></span></label>
                            <input type="text" class="form-control" name="lotPic" id="lotPic" autocomplete="off"
                                   required data-ng-model="mvnt.lotPic" required
                                   typeahead="articleLotSection.lotPic as articleLotSection.lotPic for articleLotSection in showLotsForArtPic($viewValue)"
                                   typeahead-loading="loading" typeahead-min-length="1"
                                   typeahead-on-select='onArticleLotSectionSelectedInSearch($item, $model, $label)' />
                        </div>
                        <div class="form-group col-lg-4">
                            <label class=" control-label" for="searchArtName"><span data-ng-bind="'InvInvtryItem_artName_description.title' | translate"></span></label>
                            <input type="text" class="form-control" id="searchArtName" autocomplete="off"
                                   data-ng-model="mvnt.artName" name="searchArtName"
                                   typeahead="article as article.artName for article in mvntUtils.loadArticlesByName($viewValue)"
                                   typeahead-loading="loading" typeahead-min-length="4"
                                   typeahead-on-select='onArticleSelectedInSearchArtName($item, $model, $label)' />
                        </div>
                        <div class="form-group col-lg-2" data-ng-class="{ 'has-error' : invInvtryItemForm.trgtQty.$invalid }">
                            <label class=" control-label" for="trgtQty"><span data-ng-bind="'StkMvnt.trgtQty.title' | translate"></span></label>
                                <input type="text" class="form-control" required name="trgtQty" id="trgtQty"
                                       data-ng-model="mvnt.trgtQty" />
                        </div>
                        <div class="form-group col-lg-2">
                            <label class=" control-label" ><span data-ng-bind="'StkMvnt.mvntOrigin.title' | translate"></span>:</label>
                            <div>
                                <select class="form-control" name="mvntTerminal" id="mvntTerminal" data-ng-model="mvnt.mvntTerminal"
                                        data-ng-options="invInvtryStatus.enumKey as (invInvtryStatus.translKey | translate)
                                        for invInvtryStatus in mvntUtils.invInvntrStati">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2" data-ng-class="{ 'has-error' : invInvtryItemForm.sectionCode.$invalid }">
                            <label class=" control-label" for="sectionCode"><span data-ng-bind="'StkMvnt.section.title' | translate"></span></label>
                            <input type="text" data-ng-model="display.identif" id="sectionCode" name="sectionCode"
                                   class="form-control" required
                                   autocomplete="off"
                                   typeahead="stkSection as (stkSection.identif + ' : ' + stkSection.name) for stkSection in mvntUtils.loadStkSectionArticleLots($viewValue)"
                                   typeahead-loading="loading" typeahead-min-length="4"
                                   typeahead-on-select='onSectionSelectedInSearch($item, $model, $label)' />
                        </div>
                        <div class="form-group col-lg-3">
                            <label class=" control-label" for="searchSectionName"><span data-ng-bind="'StockArticlelot.sectionName.title' | translate"></span></label>
                            <input type="text" data-ng-model="display.sectionName" id="searchSectionName"
                                   name="searchSectionName" class="form-control"
                                   autocomplete="off"
                                   typeahead="stkSection as (stkSection.sectionCode + ' : ' + stkSection.name) for stkSection in mvntUtils.loadStkSectionArticleLotsByName($viewValue)"
                                   typeahead-loading="loading" typeahead-min-length="4"
                                   typeahead-on-select='onSectionSelectedInSearch($item, $model, $label)' />
                        </div>
                        <div class="form-group col-lg-2" data-ng-class="{ 'has-error' : invInvtryItemForm.origProcs.$invalid }">
                            <label class=" control-label" for="origProcs"><span data-ng-bind="'StkMvnt.origProcs.title' | translate"></span></label>
                            <input type="text" data-ng-model="mvnt.origProcs" id="origProcs" name="origProcs"
                                   class="form-control" required />
                        </div>
                        <div class="form-group col-lg-2" data-ng-class="{ 'has-error' : invInvtryItemForm.origProcsNbr.$invalid }">
                            <label class=" control-label" for="origProcsNbr"><span data-ng-bind="'StkMvnt.origProcsNbr.title' | translate"></span></label>
                            <input type="text" data-ng-model="mvnt.origProcsNbr" id="origProcsNbr" name="origProcsNbr"
                                   class="form-control" required />
                        </div>
                        <div class="form-group col-lg-3">
                            <button class="btn btn-default" data-ng-disabled="invInvtryItemForm.$invalid"
                                    data-ng-click="transfer(mvnt)" style="margin-top: 30px;">
                                <i class="glyphicon glyphicon-resize-full"></i><span data-ng-bind="'Entity_transfer.title' | translate"></span>
                            </button>
                            <button data-ng-click="handleResetRequestEvent()" class="btn btn-default " style="margin-top: 30px;">
                                <i class="glyphicon glyphicon-flash"></i><span data-ng-bind="'Entity_reset.title' | translate"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2" data-ng-class="{ 'has-error' : invInvtryItemForm.sectionCode.$invalid }">
                            <label class=" control-label" for="tosectionCode">To <span data-ng-bind="'StkMvnt.section.title' | translate"></span></label>
                            <input type="text" data-ng-model="todisplay.identif" id="tosectionCode" name="tosectionCode"
                                   class="form-control" required
                                   autocomplete="off"
                                   typeahead="stkSection as (stkSection.identif + ' : ' + stkSection.name) for stkSection in mvntUtils.loadStkSectionArticleLots($viewValue)"
                                   typeahead-loading="loading" typeahead-min-length="4"
                                   typeahead-on-select='onToSectionSelectedInSearch($item, $model, $label)' />
                        </div>
                        <div class="form-group col-lg-4">
                            <label class=" control-label" for="tosearchSectionName">To <span data-ng-bind="'StockArticlelot.sectionName.title' | translate"></span></label>
                            <input type="text" data-ng-model="todisplay.sectionName" id="tosearchSectionName"
                                   name="searchSectionName" class="form-control"
                                   autocomplete="off"
                                   typeahead="stkSection as (stkSection.sectionCode + ' : ' + stkSection.name) for stkSection in mvntUtils.loadStkSectionArticleLotsByName($viewValue)"
                                   typeahead-loading="loading" typeahead-min-length="4"
                                   typeahead-on-select='onToSectionSelectedInSearch($item, $model, $label)' />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table  class="table table-bordered  table-striped pointer-element">
                <thead>
                <tr>
                    <th><span data-ng-bind="'StkMvnt.lotPic.title' | translate"></span></th>
                    <th><span data-ng-bind="'StkMvnt.section.title' | translate"></span></th>
                    <th><span data-ng-bind="'StkMvnt.mvntOrigin.title' | translate"></span></th>
                    <th><span data-ng-bind="'StkMvnt.trgtQty.title' | translate"></span></th>
                    <th><span>To {{'StkMvnt.section.title' | translate}}</span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="mvnt in listTransfers">
                    <td><span data-ng-bind="mvnt.lotPic"></span></td>
                    <td><span data-ng-bind="mvnt.section"></span></td>
                    <td><span data-ng-bind="mvnt.mvntTerminal"></span></td>
                    <td><span data-ng-bind="mvnt.trgtQty"></span></td>
                    <td><span data-ng-bind="mvnt.tosection"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>