<div ng-controller="bpCtgryOfPtnrsCtlr" >
    <div class="col-lg-12" >
    <a class="btn btn-success margBott10 pull-right" ng-click="openCreateForm('md')">
    	<i class="glyphicon glyphicon-plus"></i> {{bpCtgryOfPtnrUtils.translations['Entity_create.title']}}</a>
	</div>
    <br/>
    <div class="col-lg-12" >
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{bpCtgryOfPtnrUtils.translations['BpCtgryOfPtnr_ctgryCode_description.title']}}</th>
            <th>{{bpCtgryOfPtnrUtils.translations['BpCtgryOfPtnr_whenInRole_description.title']}}</th>
            <th>{{bpCtgryOfPtnrUtils.translations['BpCtgryOfPtnr_nbrInCtgry_description.title']}}</th>
            <th>{{bpCtgryOfPtnrUtils.translations['BpCtgryOfPtnr_titleInCtgry_description.title']}}</th>
            <th>{{bpCtgryOfPtnrUtils.translations['BpCtgryOfPtnr_description_description.title']}}</th>
            <th></th>
        </tr>
        <tr ng-repeat="bpCtgryOfPtnr in bpCtgryOfPtnrs()">
            <td>{{bpCtgryOfPtnr.ctgryDtls.name}}</td>
            <td>{{bpCtgryOfPtnrUtils.whenInRole18nMsgTitleValue(bpCtgryOfPtnr.whenInRole)}}</td>
            <td>{{bpCtgryOfPtnr.nbrInCtgry}}</td>
            <td>{{bpCtgryOfPtnr.titleInCtgry}}</td>
            <td>{{bpCtgryOfPtnr.description}}</td>
            <td><a class="" ng-click="openEditForm('md',bpCtgryOfPtnr);"><i class="glyphicon glyphicon-edit"></i></a></td>
        </tr>
    </table>
	</div>
</div>