<div class="panel panel-default">
    <div class="panel-heading"><b>{{currentAction}} {{bpInsurranceUtils.translations['BpBnsPtnr_ptnrNbr_description.title']}} : {{bpBnsPtnr.ptnrNbr}}</b> </div>
    <div class="panel-body">
        <form id="BpInsurranceForm" name="BpInsurranceForm" class="" novalidate>
            <div class="control-group col-md-12" ng-class="{error: BpInsurranceForm.insurerNbr.$invalid}">
                <label for="insurerNbr" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_insurerNbr_description.title']}}</label>
                <div id="insurerNbrControls" class="controls" >
                    <input type="text" ng-model="bpInsurrance.insurer" id="insurerNbr" name="insurerNbr" class="form-control" required ng-show="formCreate"
                         autocomplete="off" typeahead="insurer as insurer.fullName for insurer in loadInsurances($viewValue)"
                         typeahead-loading="loading" placeholder="{{bpInsurranceUtils.translations['BpInsurrance_findAnInsurance_description.title']}}">
                   	<p ng-show="BpInsurranceForm.insurerNbr.$error.required" class="help-block">{{bpInsurranceUtils.translations['Entity_required.title']}}</p>
	                <input value="{{bpInsurrance.insurer.fullName}}" type="text" name="insurerNbr" class="form-control" disabled ng-show="formEdit">
                </div>
            </div>
            <div class="control-group col-md-12" ng-class="{error: BpInsurranceForm.contractNbr.$invalid}" >
                <label for="contractNbr" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_contractNbr_description.title']}}</label>
                <div id="contractNbrControls" class="controls" >
                    <input type="text" ng-model="bpInsurrance.contractNbr" name="contractNbr" class="form-control" required>
                   	<p ng-show="BpInsurranceForm.contractNbr.$error.required" class="help-block">{{bpInsurranceUtils.translations['Entity_required.title']}}</p>
                </div>
            </div>
            <div class="control-group col-md-6" ng-class="{error: BpInsurranceForm.coverRatePct.$invalid}">
                <label for="coverRatePct" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_coverRatePct_description.title']}}</label>
                <div id="coverRatePctControls" class="controls">
                    <input type="text" ng-model="bpInsurrance.coverRatePct" name="coverRatePct" class="form-control">
                </div>
            </div>
            <div class="control-group col-md-6" ng-class="{error: BpInsurranceForm.decutible.$invalid}">
                <label for="decutible" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_decutible_description.title']}}</label>
                <div id="decutibleControls" class="controls">
                    <input type="text" ng-model="bpInsurrance.decutible" name="decutible" class="form-control">
                </div>
            </div>
            <div class="control-group  col-md-12" ng-class="{error: BpInsurranceForm.description.$invalid}">
                <label for="description" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_description_description.title']}}</label>
                <div id="descriptionControls" class="controls">
                	<textarea rows="3" id="description" name="description" class="form-control" 
                		ng-model="bpInsurrance.description" placeholder="{{bpInsurranceUtils.translations['BpInsurrance_description_description.text']}}" maxlength="256">
                	</textarea>
                </div>
            </div>
            <div class="control-group col-md-6" ng-class="{error: BpInsurranceForm.beginDate.$invalid}">
                <label for="beginDate" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_beginDate_description.title']}}</label>
                <div id="beginDateControls" class="controls">
                    <input type="text" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy" 
                    	ng-model="bpInsurrance.beginDate" name="beginDate" id="beginDate" class="form-control">
                </div>
            </div>
            <div class="control-group col-md-6" ng-class="{error: BpInsurranceForm.endDate.$invalid}">
                <label for="endDate" class="control-label">{{bpInsurranceUtils.translations['BpInsurrance_endDate_description.title']}}</label>
                <div id="endDateControls" class="controls">
                    <input type="text" date-time  view="date" min-view="date" views="['date']" format="dd-MM-yyyy" 
                    	ng-model="bpInsurrance.endDate" name="endDate" id="endDate" class="form-control">
                </div>
            </div>
            <div class="control-group col-md-12" >
            	<br/>
                <div class="controls">
                    <button id="saveBpInsurrance" name="saveBpInsurrance" class="btn btn-primary" ng-click="save()"><i class="icon-ok-sign icon-white"></i> {{bpInsurranceUtils.translations['Entity_save.title']}}</button>
                    <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> {{bpInsurranceUtils.translations['Entity_cancel.title']}}</button>
                </div>
            </div>
        </form>
    </div>
  </div>