<div class="container">
   <div class="panel panel-default">
       <div class="panel-heading"><b>{{bpBnsPtnrUtils.translations['BpPtnrCtgry_create.title']}}</b> </div>
       <div class="panel-body">
           <label class="error col-lg-offset-3 alert-danger" >{{error}} </label>
           
           <form  name="bpBnsPtnrForm" class="form-horizontal" novalidate="">
	            	<div class="form-group">
		              <label class="col-lg-2">{{bpBnsPtnrUtils.translations['BpBnsPtnr_ptnrType_description.title']}} :</label>
		              <div class="col-lg-4" ng-class="{ 'has-error' : bpBnsPtnrForm.ptnrType.$invalid }" ng-init="bpBnsPtnr.ptnrType='INDIVIDUAL'">
				            <select class="form-control" name="ptnrType" ng-model="bpBnsPtnr.ptnrType"
				                    ng-options="bpBnsPtnrType.enumKey as bpBnsPtnrType.translKey|translate for bpBnsPtnrType in bpBnsPtnrUtils.bpBnsPtnrTypes"  required>
							</select>
                           <p ng-show="bpBnsPtnrForm.ptnrType.$error.required" class="help-block">{{bpBnsPtnrUtils.translations['Entity_required.title']}}</p>
		              </div>
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpBnsPtnr_ctryOfRsdnc_description.title']}} :</label>
                        <div class="col-lg-4" ng-class="{ 'has-error' : bpBnsPtnrForm.ctryOfRsdnc.$invalid }" >
                            <input type="text" ng-model="bpBnsPtnr.countryName" id="ctryOfRsdnc" name="ctryOfRsdnc" class="form-control" required
                                   autocomplete="off" typeahead="countryName as countryName.name for countryName in bpBnsPtnrUtils.loadCountryNames($viewValue)"
                                   typeahead-loading="loading" placeholder="{{'BpBnsPtnr_findACountry_description.title'|translate}}">
                            <p ng-show="bpBnsPtnrForm.ctryOfRsdnc.$error.required" class="help-block">{{bpBnsPtnrUtils.translations['Entity_required.title']}}</p>
                        </div>
	         		</div>
                    <div class=" form-group" ng-show="bpBnsPtnrUtils.isIndividual(bpBnsPtnr)">
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpIndivPtnrName_firstName_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="text" ng-model="bpBnsPtnr.indivPtnrName.firstName" name="firstName" class="form-control">
                        </div>
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpIndivPtnrName_lastName_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="text" ng-model="bpBnsPtnr.indivPtnrName.lastName" name="lastName" class="form-control" required>
                           	<p ng-show="bpBnsPtnrForm.lastName.$error.required" class="help-block">{{bpBnsPtnrUtils.translations['Entity_required.title']}}</p>
                        </div>
                 	</div>
                    <div class=" form-group" ng-show="bpBnsPtnrUtils.isIndividual(bpBnsPtnr)">
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpIndivPtnrName_gender_description.title']}} :</label>
                        <div class="col-lg-4">
				            <select class="form-control" name="gender" ng-model="bpBnsPtnr.indivPtnrName.gender"
				                    ng-options="bpGender.enumKey as bpGender.translKey|translate for bpGender in bpBnsPtnrUtils.baseGenders"  required>
				                    <option value=""/>
							</select>
                           	<p ng-show="bpBnsPtnrForm.gender.$error.required" class="help-block">{{bpBnsPtnrUtils.translations['Entity_required.title']}}</p>
                        </div>
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpIndivPtnrName_brthDt_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                   ng-model="bpBnsPtnr.indivPtnrName.brthDt" id="brthDt" name="brthDt" class="form-control"  >
                        </div>
                	 </div>
                    <div class="form-group" ng-show="bpBnsPtnrUtils.isInstitution(bpBnsPtnr)">
                        <label class="col-lg-2">{{bpBnsPtnrUtils.translations['BpLegalPtnrId_cpnyName_description.title']}} :</label>
                        <div class="col-lg-10" >
                            <input type="text" ng-model="bpBnsPtnr.legalPtnrId.cpnyName" name="cpnyName" class="form-control" required>
                           	<p ng-show="bpBnsPtnrForm.cpnyName.$error.required" class="help-block">{{bpBnsPtnrUtils.translations['Entity_required.title']}}</p>
                        </div>
                 	</div>
                    <div class="form-group" ng-show="bpBnsPtnrUtils.isInstitution(bpBnsPtnr)">
                        <label class="col-lg-2">{{bpBnsPtnrUtils.translations['BpLegalPtnrId_legalForm_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="text" ng-model="bpBnsPtnr.legalPtnrId.legalForm" name="legalForm" class="form-control">
                        </div>
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpLegalPtnrId_equity_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="text" ng-model="bpBnsPtnr.legalPtnrId.equity" name="equity" class="form-control">
                        </div>
                 	</div>
                    <div class="form-group" ng-show="bpBnsPtnrUtils.bpBnsPtnrUtils.isInstitution(bpBnsPtnr)">
                        <label class="col-lg-2 ">{{bpBnsPtnrUtils.translations['BpLegalPtnrId_taxPayerIdNbr_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="text" ng-model="bpBnsPtnr.legalPtnrId.taxPayerIdNbr" name="taxPayerIdNbr" class="form-control">
                        </div>
                        <label class="col-lg-2">{{bpBnsPtnrUtils.translations['BpLegalPtnrId_cmrcRgstrNbr_description.title']}} :</label>
                        <div class="col-lg-4" >
                            <input type="text" ng-model="bpBnsPtnr.legalPtnrId.cmrcRgstrNbr" name="cmrcRgstrNbr" class="form-control">
                        </div>
                    </div>

               <br/>
               <div class="form-group">
                   <label class="col-lg-4" > </label>
                   <div class="col-lg-8" >
                       <a class="btn-danger btn" href="#/"  ><i class="glyphicon glyphicon-remove" ></i> {{bpBnsPtnrUtils.translations['Entity_cancel.title']}}</a>
                       <button ng-click="create();" class="btn-success btn"  ><i class="glyphicon glyphicon-save"></i>  {{bpBnsPtnrUtils.translations['Entity_save.title']}}</button>
                   </div>
               </div>
           </form>
       </div>
   </div>
</div>
