<header ng-switch on="$location.path().indexOf('/CdrDsHstrys/new') > -1">
    <h3 ng-switch-when="true">Create CdrDsHstry</h3>
    <h3 ng-switch-when="false">View or edit CdrDsHstry</h3>
</header>
<form id="CdrDsHstryForm" name="CdrDsHstryForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CdrDsHstryForm.dsNbr.$invalid}">
        <label for="dsNbr" class="control-label">Ds Nbr</label>
        <div id="dsNbrControls" class="controls">
            <input id="dsNbr" name="dsNbr" type="text" required ng-model="cdrDsHstry.dsNbr" placeholder="Enter the CdrDsHstry Ds Nbr"></input>
            <span class="help-inline" ng-show="CdrDsHstryForm.dsNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDsHstryForm.cdrNbr.$invalid}">
        <label for="cdrNbr" class="control-label">Cdr Nbr</label>
        <div id="cdrNbrControls" class="controls">
            <input id="cdrNbr" name="cdrNbr" type="text" required ng-model="cdrDsHstry.cdrNbr" placeholder="Enter the CdrDsHstry Cdr Nbr"></input>
            <span class="help-inline" ng-show="CdrDsHstryForm.cdrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCdrDsHstry" name="saveCdrDsHstry" class="btn btn-primary" ng-disabled="isClean() || CdrDsHstryForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCdrDsHstry" name="deleteCdrDsHstry" class="btn btn-danger" ng-show="cdrDsHstry.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>