<header ng-switch on="$location.path().indexOf('/CdrPymnts/new') > -1">
    <h3 ng-switch-when="true">Create CdrPymnt</h3>
    <h3 ng-switch-when="false">View or edit CdrPymnt</h3>
</header>
<form id="CdrPymntForm" name="CdrPymntForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.pymntNbr.$invalid}">
        <label for="pymntNbr" class="control-label">Pymnt Nbr</label>
        <div id="pymntNbrControls" class="controls">
            <input id="pymntNbr" name="pymntNbr" type="text" required ng-model="cdrPymnt.pymntNbr" placeholder="Enter the CdrPymnt Pymnt Nbr"></input>
            <span class="help-inline" ng-show="CdrPymntForm.pymntNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.pymntDt.$invalid}">
        <label for="pymntDt" class="control-label">Pymnt Dt</label>
        <div id="pymntDtControls" class="controls">
            <datetime id="pymntDt" name="pymntDt" required ng-model="cdrPymnt.pymntDt" placeholder="Enter the CdrPymnt Pymnt Dt"></datetime>
            <span class="help-inline" ng-show="CdrPymntForm.pymntDt.$error.required">required</span> 
            <span class="help-inline" ng-show="CdrPymntForm.pymntDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.valueDt.$invalid}">
        <label for="valueDt" class="control-label">Value Dt</label>
        <div id="valueDtControls" class="controls">
            <datetime id="valueDt" name="valueDt" required ng-model="cdrPymnt.valueDt" placeholder="Enter the CdrPymnt Value Dt"></datetime>
            <span class="help-inline" ng-show="CdrPymntForm.valueDt.$error.required">required</span> 
            <span class="help-inline" ng-show="CdrPymntForm.valueDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.amt.$invalid}">
        <label for="amt" class="control-label">Amt</label>
        <div id="amtControls" class="controls">
            <input id="amt" name="amt" type="text" ng-model="cdrPymnt.amt" placeholder="Enter the CdrPymnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.cashier.$invalid}">
        <label for="cashier" class="control-label">Cashier</label>
        <div id="cashierControls" class="controls">
            <input id="cashier" name="cashier" type="text" required ng-model="cdrPymnt.cashier" placeholder="Enter the CdrPymnt Cashier"></input>
            <span class="help-inline" ng-show="CdrPymntForm.cashier.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.cdrNbr.$invalid}">
        <label for="cdrNbr" class="control-label">Cdr Nbr</label>
        <div id="cdrNbrControls" class="controls">
            <input id="cdrNbr" name="cdrNbr" type="text" ng-model="cdrPymnt.cdrNbr" placeholder="Enter the CdrPymnt Cdr Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.paidBy.$invalid}">
        <label for="paidBy" class="control-label">Paid By</label>
        <div id="paidByControls" class="controls">
            <input id="paidBy" name="paidBy" type="text" required ng-model="cdrPymnt.paidBy" placeholder="Enter the CdrPymnt Paid By"></input>
            <span class="help-inline" ng-show="CdrPymntForm.paidBy.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.rcptNbr.$invalid}">
        <label for="rcptNbr" class="control-label">Rcpt Nbr</label>
        <div id="rcptNbrControls" class="controls">
            <input id="rcptNbr" name="rcptNbr" type="text" required ng-model="cdrPymnt.rcptNbr" placeholder="Enter the CdrPymnt Rcpt Nbr"></input>
            <span class="help-inline" ng-show="CdrPymntForm.rcptNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrPymntForm.rcptPrntDt.$invalid}">
        <label for="rcptPrntDt" class="control-label">Rcpt Prnt Dt</label>
        <div id="rcptPrntDtControls" class="controls">
            <datetime id="rcptPrntDt" name="rcptPrntDt" ng-model="cdrPymnt.rcptPrntDt" placeholder="Enter the CdrPymnt Rcpt Prnt Dt"></datetime>
            <span class="help-inline" ng-show="CdrPymntForm.rcptPrntDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCdrPymnt" name="saveCdrPymnt" class="btn btn-primary" ng-disabled="isClean() || CdrPymntForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCdrPymnt" name="deleteCdrPymnt" class="btn btn-danger" ng-show="cdrPymnt.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>