<div class="panel panel-default  ng-scope">
    <div class="panel-body">
        <div class="row" >
            <form role="form" class="">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="lotPic">{{stkArticleLotUtils.translations['StkArticleLot_lotPic_description.title']}}</label>
                        <div class="">
                            <input type="text" id="lotPic" ng-model="searchInput.entity.lotPic" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="artPic">{{stkArticleLotUtils.translations['StkArticleLot_artPic_description.title']}}</label>
                        <div class="">
                            <input type="text" id="artPic" ng-model="searchInput.entity.artPic" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="supplierPic">{{stkArticleLotUtils.translations['StkArticleLot_supplierPic_description.title']}}</label>
                        <div class="">
                            <input type="text" id="supplierPic" ng-model="searchInpu.entity.supplierPic" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="supplier">{{stkArticleLotUtils.translations['StkArticleLot_supplier_description.title']}}</label>
                        <div class="">
                            <input type="text" id="supplier" ng-model="searchInput.entity.supplier" class="form-control">
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="from">{{stkArticleLotUtils.translations['StkArticleLot_expirDt_description.title']}} : {{stkArticleLotUtils.translations['Entity_From.title']}}</label>
                        <div class="">
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                                ng-model="searchInput.from" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="to">{{stkArticleLotUtils.translations['StkArticleLot_expirDt_description.title']}} : {{stkArticleLotUtils.translations['Entity_To.title']}}</label>
                        <div class="">
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                                ng-model="searchInput.to" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 pull-right">
                    <div class="form-group">
                        <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                            <i class="glyphicon glyphicon-print"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row" >
         <div class="col-lg-12">
             <div class="table-overflow-middle row">
                 <table class="table table-bordered  table-striped pointer-element" >
                     <thead>
                     <tr>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_lotPic_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_artPic_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_artFeatures_artName_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_lotQty_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_lotQtyDt_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_sppuTaxIncl_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_closedDt_description.title']}}</th>
                         <th class="text-center">{{stkArticleLotUtils.translations['StkArticleLot_expirDt_description.title']}}</th>
                         <th></th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr ng-repeat="stkArticleLot in stkArticleLotState.stkArticleLots()" >
				         <td>{{stkArticleLot.lotPic}}</td>
				         <td>{{stkArticleLot.artPic}}</td>
				         <td>{{stkArticleLot.artFeatures.artName}}</td>
			             <td>{{stkArticleLot.lotQty}}</td>
			             <td>{{stkArticleLot.lotQtyDt|date:'dd MM yyyy'}}</td>
			             <td>{{stkArticleLot.sppuTaxIncl}}</td>
                         <td>{{stkArticleLot.closedDt|date:'dd MM yyyy'}}</td>
			             <td>{{stkArticleLot.expirDt|date:'dd MM yyyy'}}</td>
                         <td><a href="" ng-click="show(stkArticleLot,$index)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <ul  class="pull-right">
                 <pagination  total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
             </ul>
         </div>
        </div>
    </div>
	</div>
</div>
