<section class="" ng-controller="CatalProdFmlyLangMapController as vmProdFmlyLangMap" data-ng-init="vmProdFmlyLangMap.init()" >

  <div class="panel panel-primary">
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ng-click="vmProdFmlyLangMap.createForm({})">
          <i class="glyphicon glyphicon-open"></i> New CatalProdFmlyLangMap
        </a>
      </div>

      <table class="table table-condensed table-striped">
          <thead>
              <th>{{'catalProdFmlyLangMap.artName' | translate}}</th>
              <th>{{'catalProdFmlyLangMap.shortName ' | translate}}</th>
              <th>{{'catalProdFmlyLangMap.famPath' | translate}}</th>
              <th>{{'catalProdFmlyLangMap.langIso2' | translate}}</th>
          </thead>
          <tr ng-repeat="catalProdFmlyLangMap in vmProdFmlyLangMap.data">
              <td>{{catalProdFmlyLangMap.artName}}</td>
              <td>{{catalProdFmlyLangMap.shortName}}</td>
              <td>{{catalProdFmlyLangMap.famPath}}</td>
              <td>{{catalProdFmlyLangMap.langIso2}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ng-click="vmProdFmlyLangMap.showForm(catalProdFmlyLangMap)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ng-click="vmProdFmlyLangMap.editForm(catalProdFmlyLangMap)">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(catalProdFmlyLangMap)" item="catalProdFmlyLangMap">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
