<header ng-switch on="$location.path().indexOf('/SlsSalesOrders/new') > -1">
    <h3 ng-switch-when="true">Create SlsSalesOrder</h3>
    <h3 ng-switch-when="false">View or edit SlsSalesOrder</h3>
</header>
<form id="SlsSalesOrderForm" name="SlsSalesOrderForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.soNbr.$invalid}">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div id="soNbrControls" class="controls">
            <input id="soNbr" name="soNbr" type="text" required ng-model="slsSalesOrder.soNbr" placeholder="Enter the SlsSalesOrder So Nbr"></input>
            <span class="help-inline" ng-show="SlsSalesOrderForm.soNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.soStatus.$invalid}">
        <label for="soStatus" class="control-label">So Status</label>
        <div id="soStatusControls" class="controls">
            <input id="soStatus" name="soStatus" type="text" ng-model="slsSalesOrder.soStatus" placeholder="Enter the SlsSalesOrder So Status"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.soCur.$invalid}">
        <label for="soCur" class="control-label">So Cur</label>
        <div id="soCurControls" class="controls">
            <input id="soCur" name="soCur" type="text" ng-model="slsSalesOrder.soCur" placeholder="Enter the SlsSalesOrder So Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.grossSPPreTax.$invalid}">
        <label for="grossSPPreTax" class="control-label">Gross SP Pre Tax</label>
        <div id="grossSPPreTaxControls" class="controls">
            <input id="grossSPPreTax" name="grossSPPreTax" type="text" ng-model="slsSalesOrder.grossSPPreTax" placeholder="Enter the SlsSalesOrder Gross SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.rebate.$invalid}">
        <label for="rebate" class="control-label">Rebate</label>
        <div id="rebateControls" class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="slsSalesOrder.rebate" placeholder="Enter the SlsSalesOrder Rebate"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.netSPPreTax.$invalid}">
        <label for="netSPPreTax" class="control-label">Net SP Pre Tax</label>
        <div id="netSPPreTaxControls" class="controls">
            <input id="netSPPreTax" name="netSPPreTax" type="text" ng-model="slsSalesOrder.netSPPreTax" placeholder="Enter the SlsSalesOrder Net SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.vatAmount.$invalid}">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div id="vatAmountControls" class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="slsSalesOrder.vatAmount" placeholder="Enter the SlsSalesOrder Vat Amount"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.netSPTaxIncl.$invalid}">
        <label for="netSPTaxIncl" class="control-label">Net SP Tax Incl</label>
        <div id="netSPTaxInclControls" class="controls">
            <input id="netSPTaxIncl" name="netSPTaxIncl" type="text" ng-model="slsSalesOrder.netSPTaxIncl" placeholder="Enter the SlsSalesOrder Net SP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.pymtDscntPct.$invalid}">
        <label for="pymtDscntPct" class="control-label">Pymt Dscnt Pct</label>
        <div id="pymtDscntPctControls" class="controls">
            <input id="pymtDscntPct" name="pymtDscntPct" type="text" ng-model="slsSalesOrder.pymtDscntPct" placeholder="Enter the SlsSalesOrder Pymt Dscnt Pct"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.pymtDscntAmt.$invalid}">
        <label for="pymtDscntAmt" class="control-label">Pymt Dscnt Amt</label>
        <div id="pymtDscntAmtControls" class="controls">
            <input id="pymtDscntAmt" name="pymtDscntAmt" type="text" ng-model="slsSalesOrder.pymtDscntAmt" placeholder="Enter the SlsSalesOrder Pymt Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.netSalesAmt.$invalid}">
        <label for="netSalesAmt" class="control-label">Net Sales Amt</label>
        <div id="netSalesAmtControls" class="controls">
            <input id="netSalesAmt" name="netSalesAmt" type="text" ng-model="slsSalesOrder.netSalesAmt" placeholder="Enter the SlsSalesOrder Net Sales Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.rdngDscntAmt.$invalid}">
        <label for="rdngDscntAmt" class="control-label">Rdng Dscnt Amt</label>
        <div id="rdngDscntAmtControls" class="controls">
            <input id="rdngDscntAmt" name="rdngDscntAmt" type="text" ng-model="slsSalesOrder.rdngDscntAmt" placeholder="Enter the SlsSalesOrder Rdng Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSalesOrderForm.netAmtToPay.$invalid}">
        <label for="netAmtToPay" class="control-label">Net Amt To Pay</label>
        <div id="netAmtToPayControls" class="controls">
            <input id="netAmtToPay" name="netAmtToPay" type="text" ng-model="slsSalesOrder.netAmtToPay" placeholder="Enter the SlsSalesOrder Net Amt To Pay"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsSalesOrder" name="saveSlsSalesOrder" class="btn btn-primary" ng-disabled="isClean() || SlsSalesOrderForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsSalesOrder" name="deleteSlsSalesOrder" class="btn btn-danger" ng-show="slsSalesOrder.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>