<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{slsSalesOrderUtils.translations['SlsSOPtnr_ptnrNbr_description.title']}}</th>
            <th>{{slsSalesOrderUtils.translations['SlsSOPtnr_roleInSO_description.title']}}</th>
            <th>{{slsSalesOrderUtils.translations['SlsSOPtnr_soNbr_description.title']}}</th>
        </tr>
        <tr ng-repeat="slsSOPtnr in slsSalesOrder.slsSOPtnrs">
                <td>{{slsSOPtnr.ptnrNbr}}</td>
                <td>{{slsSOPtnr.roleInSO}}</td>
                <td>{{slsSOPtnr.soNbr}}</td>
        </tr>
    </table>
</div>