<header ng-switch on="$location.path().indexOf('/BpPtnrAccntBlnces/new') > -1">
    <h3 ng-switch-when="true">Create BpPtnrAccntBlnce</h3>
    <h3 ng-switch-when="false">View or edit BpPtnrAccntBlnce</h3>
</header>
<form id="BpPtnrAccntBlnceForm" name="BpPtnrAccntBlnceForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: BpPtnrAccntBlnceForm.ptnrNbr.$invalid}">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div id="ptnrNbrControls" class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" required ng-model="bpPtnrAccntBlnce.ptnrNbr" placeholder="Enter the BpPtnrAccntBlnce Ptnr Nbr"></input>
            <span class="help-inline" ng-show="BpPtnrAccntBlnceForm.ptnrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrAccntBlnceForm.side.$invalid}">
        <label for="side" class="control-label">Side</label>
        <div id="sideControls" class="controls">
        <select id="side" name="side" ng-model="bpPtnrAccntBlnce.side" ng-options="s for s in sideList"  >
            <option value="">Choose a Side</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrAccntBlnceForm.accBalance.$invalid}">
        <label for="accBalance" class="control-label">Acc Balance</label>
        <div id="accBalanceControls" class="controls">
            <input id="accBalance" name="accBalance" type="text" ng-model="bpPtnrAccntBlnce.accBalance" placeholder="Enter the BpPtnrAccntBlnce Acc Balance"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrAccntBlnceForm.balanceDt.$invalid}">
        <label for="balanceDt" class="control-label">Balance Dt</label>
        <div id="balanceDtControls" class="controls">
            <datetime id="balanceDt" name="balanceDt" required ng-model="bpPtnrAccntBlnce.balanceDt" placeholder="Enter the BpPtnrAccntBlnce Balance Dt"></datetime>
            <span class="help-inline" ng-show="BpPtnrAccntBlnceForm.balanceDt.$error.required">required</span> 
            <span class="help-inline" ng-show="BpPtnrAccntBlnceForm.balanceDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveBpPtnrAccntBlnce" name="saveBpPtnrAccntBlnce" class="btn btn-primary" ng-disabled="isClean() || BpPtnrAccntBlnceForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteBpPtnrAccntBlnce" name="deleteBpPtnrAccntBlnce" class="btn btn-danger" ng-show="bpPtnrAccntBlnce.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>